@include keyframes(animate-fade-in) {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@include keyframes(animate-fade-out) {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@include keyframes(animate-flash) {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@include keyframes(animate-slide-in) {
    0% {
        @include css-prefix(transform, translateX(105%));
    }
    100% {
        @include css-prefix(transform, translateX(0%));
    }
}

@include keyframes(animate-slide-out) {
    0% {
        @include css-prefix(transform, translateX(0%));
    }
    100% {
        @include css-prefix(transform, translateX(-105%));
    }
}

@include keyframes(animate-reverse-slide-in) {
    0% {
        @include css-prefix(transform, translateX(-105%));
    }
    100% {
        @include css-prefix(transform, translateX(0%));
    }
}

@include keyframes(animate-reverse-slide-out) {
    0% {
        @include css-prefix(transform, translateX(0%));
    }
    100% {
        @include css-prefix(transform, translateX(105%));
    }
}

.animate-css-fade-in {
    @include animation(animate-fade-in 0.2s linear);
}

.animate-css-fade-out {
    @include animation(animate-fade-out 0.2s linear);
}

.animate-fade {
    &.ng-hide {
        opacity: 0!important;
    }
    
    &.ng-hide-remove {
        transition: opacity, linear, 0.2s;
    }
}

.animate-fade-out {
    &.ng-hide {
        opacity: 0!important;
    }
    
    &.ng-hide-add {
        transition: opacity, linear, 0.2s;
    }
}

.animate-fade-long {
    transition: opacity, linear, 0.7s;
    
    &.ng-hide {
        opacity: 0!important;
    }
    
    &.ng-hide-add {
        transition: opacity, linear, 0.7s;
    }
}

.animate-flash {
    @include animation(animate-flash 0.8s linear infinite);
}

.animate-slide {       
    &.ng-hide-add {
        @include animation(animate-slide-out 0.2s linear);
    }

    &.ng-hide-remove {
        @include animation(animate-slide-in 0.2s linear);
    }

    &.reverse {
        &.ng-hide-add {
            @include animation(animate-reverse-slide-out 0.2s linear);
        }

        &.ng-hide-remove {
            @include animation(animate-reverse-slide-in 0.2s linear);
        }
    }
}