@include keyframes(animate-flash) {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@include keyframes (animate-loader) {
    0% {
        height: 4px;
        margin-top: $loader-bar-height / 2 - 2px;
        margin-bottom: $loader-bar-height / 2 - 2px;
    }
    50% {
        height: 4px;
        margin-top: $loader-bar-height / 2 - 2px;
        margin-bottom: $loader-bar-height / 2 - 2px;
    }
    75% {
        height: $loader-bar-height;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    100% {
        height: 4px;
        margin-top: $loader-bar-height / 2 - 2px;
        margin-bottom: $loader-bar-height / 2 - 2px;
    }
}

@include keyframes(animate-slide-in) {
    0% {
        @include css-prefix(transform, translateX(105%));
    }
    100% {
        @include css-prefix(transform, translateX(0%));
    }
}

@include keyframes(animate-slide-out) {
    0% {
        @include css-prefix(transform, translateX(0%));
    }
    100% {
        @include css-prefix(transform, translateX(-105%));
    }
}

@include keyframes(animate-fold-down-slide-in) {
    0% {
        @include css-prefix(transform, translateX(-105%));
        max-height: 0px;
        margin-bottom: 0px;
    }
    40% {
        @include css-prefix(transform, translateX(-105%));
        max-height: 250px;
        margin-bottom: 15px;
    }
    100% {
        @include css-prefix(transform, translateX(0%));
        max-height: 250px;
        margin-bottom: 15px;
    }
}

@include keyframes(animate-slide-out-fold-up) {
    0% {
        @include css-prefix(transform, translateX(0%));
        max-height: 250px;
        margin-bottom: 15px;
    }
    60% {
        @include css-prefix(transform, translateX(-105%));
        max-height: 250px;
        margin-bottom: 15px;
    }
    100% {
        @include css-prefix(transform, translateX(-105%));
        max-height: 0px;
        margin-bottom: 0px;
    }
}

@include keyframes(animate-reverse-slide-in) {
    0% {
        @include css-prefix(transform, translateX(-105%));
    }
    100% {
        @include css-prefix(transform, translateX(0%));
    }
}

@include keyframes(animate-reverse-slide-out) {
    0% {
        @include css-prefix(transform, translateX(0%));
    }
    100% {
        @include css-prefix(transform, translateX(105%));
    }
}

.animate-fade {
    &.ng-hide {
        opacity: 0!important;
    }
    
    &.ng-hide-remove {
        transition: opacity, linear, 0.3s;
    }
}

.animate-fade-long {
    &.ng-hide {
        opacity: 0!important;
    }
    
    &.ng-hide-remove {
        transition: opacity, linear, 0.7s;
    }
}

.animate-fade-out {
    &.ng-hide {
        opacity: 0!important;
    }
    
    &.ng-hide-add {
        transition: opacity, linear, 0.2s;
    }
}

.animate-fade-out-long {
    &.ng-hide {
        opacity: 0!important;
    }
    
    &.ng-hide-add {
        transition: opacity, linear, 0.7s;
    }
}

.animate-flash {
    @include animation(animate-flash 0.8s linear infinite);
}

.animate-slide {       
    &.ng-hide-add {
        @include animation(animate-slide-out 0.2s linear);
    }

    &.ng-hide-remove {
        @include animation(animate-slide-in 0.2s linear);
    }

    &.reverse {
        &.ng-hide-add {
            @include animation(animate-reverse-slide-out 0.2s linear);
        }

        &.ng-hide-remove {
            @include animation(animate-reverse-slide-in 0.2s linear);
        }
    }
}