@font-face {
  font-family: 'Roboto Condensed';
  src: url('../../node_modules/typeface-roboto-condensed/files/roboto-condensed-latin-400.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../../node_modules/typeface-roboto-condensed/files/roboto-condensed-latin-700.woff2') format('woff2');
  font-weight: bold;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../../node_modules/typeface-roboto-condensed/files/roboto-condensed-latin-400italic.woff2') format('woff2');
  font-style: italic;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../../node_modules/typeface-roboto-condensed/files/roboto-condensed-latin-700italic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('../../node_modules/source-code-pro/WOFF2/OTF/SourceCodePro-Regular.otf.woff2') format('woff2');
}