$font-roboto:        		'Roboto Condensed';
$font-roboto-path:  		'../fonts/roboto/';

@font-face {
    font-family: $font-roboto;
    src: url($font-roboto-path + 'Roboto-Condensed.ttf');
}

@font-face {
    font-family: $font-roboto;
    src: url($font-roboto-path + 'Roboto-BoldCondensed.ttf');
	font-weight: bold;
}

@font-face {
    font-family: $font-roboto;
    src: url($font-roboto-path + 'Roboto-CondensedItalic.ttf');
	font-style: italic;
}

@font-face {
    font-family: $font-roboto;
    src: url($font-roboto-path + 'Roboto-BoldCondensedItalic.ttf');
	font-weight: bold;
	font-style: italic;
}