@import 'mixins.scss';
@import 'variables.scss';

@font-face {
    font-family: $font-roboto;
    src: url($font-roboto-path + 'Roboto-Condensed.ttf');
}
@font-face {
    font-family: $font-roboto;
    src: url($font-roboto-path + 'Roboto-BoldCondensed.ttf');
	font-weight: bold;
}
@font-face {
    font-family: $font-roboto;
    src: url($font-roboto-path + 'Roboto-CondensedItalic.ttf');
	font-style: italic;
}
@font-face {
    font-family: $font-roboto;
    src: url($font-roboto-path + 'Roboto-BoldCondensedItalic.ttf');
	font-weight: bold;
	font-style: italic;
}

body {
	font-family: $font-stack;
    color: $colour-base;

    &, p, .panel-title {
        font-size: 12px;
        line-height: 1.2;
    }
    
    h1 {
        margin: 10px auto 20px;
        background-image: url('../images/title.png');
        height: 64px;
        width: 64px;
    }
    
    h2 {
        float: left;
        line-height: 30px;
        margin: 1px 0 5px 0;
        font-size: 20px;
    }
    
    h4 {
        font-size: 1.2em;
        margin-top: 0;
    }
    
    a {
        color: $colour-link;
        @include transition(all, ease-in, 0.1s);
        
        &:hover {
            color: $colour-base;
        }
        
        &:active,
        &:focus {
            outline: none;
        }
    }
    
    button {
        &.btn {
            &:active,
            &:focus,
            &:active:focus {
                outline: none;
                box-shadow: none;
            }
            
            &.active {
                &:active,
                &:focus,
                &:active:focus {
                    outline: none;
                    box-shadow: none;
                }
            }
        }
        
        &.btn-default, &.btn-success, &.btn-danger {
            font-size: 12px;
            border-radius: 20px;
            padding: 5px 15px;
            @include transition(all, ease-in, 0.1s);
            min-width: 50px;
            margin-right: 5px;
        }
        
        &.btn-default {
            border-color: $colour-link;
            background-color: $colour-panel;
            color: $colour-link;
            
            &:not([disabled]):hover, &:not([disabled]):focus {
                background-color: $colour-panel-highlight;
                color: $colour-base;
                border-color: $colour-base;
            }
        }
            
        &.btn-default[disabled]:hover,
        &.btn-default[disabled]:focus {
            @extend .btn-default;
        }
        
        &.btn-icon {
            background: none;
            color: $colour-link-icon;
            padding: 0;
            @include transition(all, ease-in, 0.1s);
            box-shadow: none;
            
            &:focus, &:active:focus {
                @extend .btn-icon;
                color: $colour-link;
            }
            
            &:hover, &:active:hover {
                color: $colour-link;
            }
        }
    }
    
    input {
        &.form-control {
            border-color: $colour-link;
            color: $colour-link;
            
            @include placeholder {
                color:    $colour-link-icon;
                opacity:  1;
            }
            
            &:focus {
                box-shadow: none;
                border-color: $colour-link;
            }
        }
    }
    
    textarea.form-control {
        @extend input.form-control;
        
        resize: none;
    }
    
    .alert {
        border: none;
        border-radius: 0;
        padding: 10px 10px 15px;
        margin-bottom: 5px;
        
        a {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
        }
    }
    
    .animate-fade {
        &.ng-hide {
            opacity: 0;
        }
        
        &.ng-hide-remove {
            @include transition(opacity, linear, 0.2s);
        }
    }
    
    .animate-fold {
        @include transition(height, linear, 0.1s);
        overflow: hidden;        
        
        &.ng-hide {
            height: 0!important;
        }
    }
    
    .animate-fold-max {
        @include transition(max-height, linear, 0.1s);
        overflow: hidden;        
        
        &.ng-hide {
            max-height: 0!important;
        }
    }
    
    .animate-reveal {
        &.ng-hide {
            opacity: 0;
        }
        
        &.ng-hide-remove {
            animation-name: animate-reveal;
            -webkit-animation-name: animate-reveal;
            
            animation-duration: 0.3s;
            -webkit-animation-duration: 0.3s;

            animation-timing-function: ease-in-out;
            -webkit-animation-timing-function: ease-in-out;
        }
        
        &.ng-hide-add {
            @include transition(opacity, linear, 0.5s);
        }
    }

    @keyframes animate-reveal {
        0% {
            transform: scale(0);
            opacity: 0.0;
        }
        100% {
            transform: scale(1);
            opacity: 1;
        }
    }

    @-webkit-keyframes animate-reveal {
        0% {
            -webkit-transform: scale(0);
            opacity: 0.0;
        }
        100% {
            -webkit-transform: scale(1);
            opacity: 1;
        }
    }
    
    .confirm {
        p {
            margin-bottom: 10px;
        }
    }
    
    .container {
        padding: 0;
        margin: 0;
    }
    
    .header-panel {
        i {
            font-size: 20px;
            line-height: 32px;
        }
        
        .btn-settings, .btn-close {
            float: right;
        }
    }
    
    .hint {
        i {
            font-size: 30px;
            float: right;
            margin: 0 0 10px 10px;
            color: $colour-link-icon;
        }
        
        .checkbox {
            margin-bottom: 0;
            
            label {
                font-size: 10px;
                color: $colour-link;
                min-height: initial;
                
                input {
                    margin: -1px 0 0 -15px;
                }
            }
        }
        
        
    }
    
    .input-group {
        margin-bottom: 15px;
    
        &.error .ng-invalid {
            border-color: #a94442;
        }
    }
        
    .input-group-addon {
        border-color: $colour-link;
        background-color: $colour-panel;
        color: $colour-link;
        font-weight: bold;
    }
    
    .lookahead {
        position: absolute;
        color: $colour-link;
        opacity: 0.35;
        z-index: 10;
    }
    
    .measure {
        @extend .lookahead;
        visibility: hidden;
    }
    
    .overflow-ellipses {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .text-success {
        color: $colour-success;
    }
    
    .text-warning {
        color: $colour-warning;
    }
    
    .text-danger {
        color: $colour-danger;
    }
    
    .view {
        padding: 10px;
        
        .well {
            background-color: $colour-well;
            box-shadow: none;
            border-radius: 5px;
            border-color: $colour-panel;
            padding: 9px;
            margin-bottom: 15px;
        
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

#loading-panel {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    
    .content {
        display: table-cell;
        position: relative;
        vertical-align: middle;
        text-align: center;
        z-index: 20;
        padding-bottom: 20px;
        
        h3 {
            margin-top: 0;
        }
    }
    
    .background {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 10;
        opacity: 0.95;
        background: #fff;
    }
}

#login-panel {
    padding: 0 10px 15px;
    
    .confirm-replace-bookmarks {
        margin-bottom: 0;
    }
}

#main-panel {
    .header-panel {
        .btn-toggle-bookmark {
            float: left;
            margin-left: 12px;
            
            i:before {
                content: "\f097";
            }
            
            &:hover, &:focus {
                color: $colour-link;
            }
            
            &.active {
                color: $colour-link-icon;
                box-shadow: none;

                i:before {
                    content: "\f02e";
                }
                
                &:hover, &:focus {
                    color: $colour-link;
                }
            }
        }
        
        .search-form {
            position: relative;
            float: left;
            @include calc(width, "100% - 60px");
        
            label {
                position: absolute;
                top: 8px;
                left: 13px;
                color: $colour-link;
            }
            
            i {
                font-size: 15px;
                line-height: 17px;
            }
            
            input {
                padding-left: 35px;
                border-radius: 20px;
                border-color: $colour-link;
                color: $colour-link;
                font-size: 14px;
                line-height: 22px;
            }
            
            .lookahead {
                font-size: 14px;
                line-height: 22px;
                height: 34px;
                padding: 6px 0;
                left: 36px;
            }
            
            .measure {
                @extend .lookahead;
                visibility: hidden;
            }
        }
    }
    
    .search-results-panel {
        border-radius: 3px;
        margin-top: 10px;
        max-height: 300px;
        overflow-y: auto;
        padding: 0;
        
        &.ng-hide {
            margin-top: 0;
        }

        .list-group {
            margin-bottom: 0;
        }
        
        .list-group-item {
            background: transparent;
            border: none;
            border-radius: 5px;
            padding: 0;
            margin-bottom: 5px;
            
            &:last-child {
                margin-bottom: 0;
            }
        
            &:hover {
                a {
                    background: $colour-well;
                }
                    
                button.btn-close { 
                    display: block;
                }
            }
            
            a {
                border-radius: 5px;
                padding: 7px 25px 7px 5px;
                display: block;
                
                &:hover,
                &:active,
                &:focus {
                    background: $colour-well;
                    text-decoration: none;
                    color: $colour-link;
                }
            }
            
            button.btn-close {
                display: none;
                position: absolute;
                top: 4px;
                right: 5px;
                
                &:active,
                &:focus {
                    color: $colour-link-icon;
                    
                    &:hover {
                        color: $colour-link;
                    }
                }
            }
        }
        
        .list-group-item-heading {
            color: $colour-base;
            font-size: 16px;
            line-height: 18px;
            margin-bottom: 3px;
        }
        
        .list-group-item-text {
            color: $colour-base;
        }
        
        .url, .description {
            font-size: 11px;
            line-height: 14px;
        }
        
        .description {
            font-style: italic;
        }
        
        .url {
            color: $colour-link;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
        }
        
        .well {
            background: $colour-well;
            border: none;
            text-align: center;
            padding: 20px;
            margin-bottom: 0;
            color: $colour-link;
            
            h4 {
                font-size: 15px;
                margin-bottom: 0;
            }
        }
    }
}

#bookmark-panel {
    padding: 0 10px 15px;
    
    input {
        font-size: 12px;
    }
    
    textarea {
        font-size: 10px;
    }
    
    input[name="bookmarkTags"] {
        text-transform: lowercase;
        border-radius: 4px 0 0 4px;
    }
    
    .input-group {
        margin-bottom: 10px;
    }
    
    .input-group-btn button {
        margin-right: 0;
        padding: 8px 0 7px;
        border-radius: 0 4px 4px 0;
        z-index: 20;
    }
    
    .lookahead {
        font-size: 12px;
        line-height: 22px;
        height: 34px;
        padding: 6px 0;
        left: 13px;
    }
    
    .measure {
        @extend .lookahead;
        visibility: hidden;
    }
    
    .tags {
        overflow-y: auto;
        max-height: 80px;
        
        .label {
            display: block;
            float: left;
            margin: 0px 5px 5px 0;
            padding: 4px 5px 3px;
            font-size: 10px;
            font-weight: normal;
            text-transform: capitalize;
            background: $colour-panel;
            color: $colour-link;
            border: 1px solid $colour-link;
            
            button {
                font-size: 10px;
                line-height: 12px;
                color: $colour-link;
                
                &:hover i, &:focus i {
                    opacity: 1;
                }
                
                i {
                    opacity: 0.5;
                }
            }
        }
    }
}

#settings-panel {
    padding: 0 10px 15px;
    
    .sync-panel, .status-panel, .backup-restore-panel {
        padding: 0;
        
        h4 {
            padding: 10px;
            margin-bottom: 0;
            cursor: pointer;
            
            &:hover {
                i {
                    color: $colour-link-icon;
                }
            }
            
            &.active {
                cursor: auto;
                
                &:hover i {
                    color: $colour-well;
                }
            }
            
            i {
                color: $colour-well;
                float: right;
                @include transition(all, ease-in, 0.1s);
            }
        }
        
        p, .input-group, textarea {
            margin-bottom: 20px;
        }
        
        .panel-content {
            padding: 0 10px;
            height: 200px;
        }
    }
    
    .sync-panel {
        p {
            margin-bottom: 5px;
        }
        
        .id-panel {
            h5 {
                font-size: 12px;
                text-align: center;
                margin: 0 0 1px;
            }
            
            p {
                font-size: 17px;
                margin-bottom: 10px;
            }
            
            #qr {
                margin-bottom: 10px;
            }
        }
        
        .checkbox {
            margin: 0 0 5px;
            
            #includeBookmarksBar {
                margin-top: 0;
            }
        }
    }
    
    .status-panel {
        .status-display {
            i {
                font-size: 15px;
                position: relative;
                top: -5px;
                margin-left: 5px;
            }
            
            .status-url {
                font-size: 14px;
                max-width: 90%;
                line-height: 20px;
            }
            
            span.label {
                font-size: 90%;
            }
            
            p.status-message {
                color: $colour-link;
                margin-bottom: 0;
                max-height: 43px;
                overflow-y: auto
            }
            
            button {
                margin-top: 20px;
            }
        }
    
        .update-service-url { 
            .input-group-addon, input {
                font-size: 1em;
            }
        }
    }
    
    .backup-restore-panel {
        #restoreForm {
            textarea {
                font-size: 9px;
                font-family: "courier new", sans-serif;
                padding: 2px 3px;
                height: 80px;
            }
        }
    }
    
    .backup-restore-panel, #restoreForm, .confirm {
        margin-bottom: 0;
    }
}