@import 'variables.scss';
@import 'mixins.scss';
@import 'animations.scss';

@font-face {
    font-family: $font-roboto;
    src: url($font-roboto-path + 'Roboto-Condensed.ttf');
}

@font-face {
    font-family: $font-roboto;
    src: url($font-roboto-path + 'Roboto-BoldCondensed.ttf');
	font-weight: bold;
}

@font-face {
    font-family: $font-roboto;
    src: url($font-roboto-path + 'Roboto-CondensedItalic.ttf');
	font-style: italic;
}

@font-face {
    font-family: $font-roboto;
    src: url($font-roboto-path + 'Roboto-BoldCondensedItalic.ttf');
	font-weight: bold;
	font-style: italic;
}

body {
    font-family: $font-stack;
    color: $colour-text1;
    font-size: 13px;
    line-height: 17px;
    min-width: 275px;

    h2 {
        font-size: 1.8em;
        font-weight: 800;
        line-height: 30px;
        float: left;
        margin: 1px 0 5px 0;
    }
    
    h4 {
        font-size: 1.3em;
        font-weight: 800;
        margin-top: 0;
    }
    
    a {
        color: $colour-link;
        transition: all, ease-in, 0.2s;
        cursor: pointer;
        
        .active,
        &:active,
        &:focus,
        &:hover {
            color: $colour-link-highlight;
            text-decoration: none;
            outline: 0;
        }
    }
    
    button {
        &.btn {
            &.btn-default {
                font-size: 1.2em;
                font-weight: 800;
                background-color: transparent;
                color: $colour-text1;
                outline: none;
                min-width: 60px;
                border-color: $colour-text1;
                border-width: 2px;
                border-radius: $border-radius;
                transition: all, ease-in, 0.2s;
                box-shadow: none;
                
                &:not([disabled]):hover {
                    background-color: $colour-text1;
                    color: $colour-link-highlight;
                    border-color: $colour-text1;
                }

                &:not([disabled]):focus {
                    text-decoration: underline;

                    &:hover {
                        text-decoration: none;
                    }
                }

                &[disabled] {
                    @extend .btn-default;
                    opacity: 0.5;
                    cursor: default;
                }
            }
            
            &.btn-icon {
                background: none;
                color: $colour-text2;
                padding: 0;
                transition: all, ease-in, 0.2s;
                box-shadow: none;
                border-radius: 0;
                
                &:focus {
                    border-bottom: solid 1px $colour-text2;
                }

                &:hover {
                    &:focus {
                        border-bottom-color: transparent;
                    }

                    i {
                        opacity: 1;
                    }
                }

                i {
                    opacity: 0.4;
                    transition: all, ease-in, 0.2s;
                }
            }

            .active,
            &.active:focus,
            &:active,
            &:active:focus,
            &:focus,
            &:hover {
                box-shadow: none;
                outline: 0;
            }
        }
    }

    textarea.form-control {
        padding: 8px 13px;
        border-radius: 15px;
    }
    
    .alert {
        width: 100%;
        max-width: $width-tablet;
        border: none;
        border-radius: 0;
        padding: 10px 10px 15px;
        margin: 0 auto;
        background-color: $colour-danger;
        border: none;
        color: $colour-text1;
        
        a {
            color: $colour-link-highlight;
        }

        button.btn-close {
            float: right;
            color: $colour-text1;
            font-size: 1.2em;
            line-height: 1.2em;

            &:focus {
                border-bottom-color: $colour-text1;
            }

            i {
                opacity: 0.7;
            }
        }
    }
    
    .buttons {
        text-align: center;
        margin-top: 15px;

        button {
            margin-right: 10px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
    
    .confirm {
        p {
            margin-bottom: 10px;
        }
    }

    .background {
        position: fixed !important;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -100;
        @include background-gradient(20deg, $colour-bg1, 0, $colour-bg2, 100%);
    }
    
    .container {
        width: 100%;
        padding: 0;
        margin: 0;

        &.loading {
            #loading-panel, .alert, .view {
                visibility: hidden;
            }
        }
    }

    .form-control {
        background-color: $colour-text1; 
        color: $colour-text2;
        font-size: 1.1em;
        height: auto;
        padding: 10px 20px;
        resize: none;
        border: none;
        border-radius: $border-radius;
        box-shadow: none;
        @include placeholder {
            color: $colour-text2;
            opacity: 0.4;
        }

        &:focus {
            box-shadow: none;
        }
    }

    .has-error {
        .form-control {
            box-shadow: none;
            color: $colour-danger;
            @include placeholder {
                color: $colour-danger;
                opacity: 0.7;
            }

            &:focus {
                box-shadow: none;
            }
        }
    }
    
    .header-panel {
        h2 {
            line-height: 1.3em;
        }

        .btn-icon {
            margin-top: 8px;
            
            &.btn-settings, &.btn-close {
                float: right;
            }

            i {
                font-size: 1.4em;
            }
        }
    }
    
    .input-group {
        margin-bottom: 15px;
    }
    
    .lookahead-container {
        position: absolute;
        
        .lookahead {            
            float: left;
            color: $colour-text2;
            opacity: 0.4;
            @include css-prefix(user-select, none);
        }
        
        .measure {
            @extend .lookahead;
            visibility: hidden;
        }
    }

    .margin-bottom-15 {
        margin-bottom: 15px;
    }
    
    .overflow-ellipses {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .progress-bar-success {
        background-color: $colour-success!important;
    }
    
    .progress-bar-warning {
        background-color: $colour-warning!important;
    }
    
    .progress-bar-danger {
        background-color: $colour-danger!important;
    }
    
    .text-success {
        color: $colour-success!important;
    }
    
    .text-warning {
        color: $colour-warning!important;
    }
    
    .text-danger {
        color: $colour-danger!important;
    }
    
    .view {
        padding: 10px;
        max-width: 768px;
        margin: 0 auto;
    }
        
    .well {
        background-color: $colour-text1;
        color: $colour-text2;
        box-shadow: none;
        border-radius: $border-radius;
        border: none;
        padding: 15px 20px;
        margin-bottom: 15px;
    
        &:last-child {
            margin-bottom: 0;
        }

        &.dark {
            background-color: $colour-text2;
            color: $colour-text1;
        }

        .btn.btn-default {
            color: $colour-text2;
            border-color: $colour-text2;
            font-weight: normal;
            border-width: 1px;
            font-size: 1.1em;
            padding: 6px 12px 8px;

            &:not([disabled]):hover {
                background-color: $colour-text2;
                color: $colour-link-highlight;
                border-color: $colour-text2;
            }
        }
    
        .confirm {
            margin-bottom: 0;
        }

        .form-control {
            border: solid 1px $colour-text2;
        }
    }
}

#loading-panel {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    
    .content {
        display: table-cell;
        position: relative;
        vertical-align: middle;
        text-align: center;
        z-index: 110;
        padding-bottom: 20px;
        
        h3 {
            margin-top: 0;
            color: $colour-link-highlight;
        }
    }
    
    .background {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 100;
        opacity: 0.8;
        background: $colour-text2;
    }
}

#login-panel {
    padding: 0 10px 15px;

    .intro-panel {
        height: 260px;
        overflow: hidden;
        position: relative;
    
        & > div {
            position: absolute;
            height: 95%;
            width: 100%;
            font-size: 1.1em;
            line-height: 1.3em;
            left: 0;
            padding: 12px 25px;

            & > div {
                position: relative;
                z-index: 20;
            }
        }

        h1 {
            margin: auto;
            background: url("../img/logo.svg") no-repeat center bottom;
            background-size: 150px;
            height: 200px;
        }

        .buttons {
            text-align: left;
            margin: 0;
            width: 100%;
            position: absolute;
            left: 0;
            top: 110px;
            z-index: 10;

            button {
                color: $colour-text1;
                font-size: 1.2em;
            }

            .btn-prev {
                margin-left: 7px;
            }
            
            .btn-next {
                margin-right: 7px;
                float: right;
            }
        }
    }
    
    .secret-form-group {
        position: relative;

        input {
            position: relative;
            z-index: 20;
            background: transparent;
        }

        .progress {
            position: absolute;
            top: 0;
            z-index: 10;
            box-shadow: none;
            height: 40px;
            width: 100%;
            background-color: transparent;
            border: solid 2px $colour-text1;
            border-radius: $border-radius;

            .progress-bar {
                box-shadow: none;
                background-color: $colour-danger;                
            }
        }
            
        .progress-bar-background {
            background-color: $colour-text1;
            height: 40px;
            width: 100%;
            position: absolute;
            top: 0;
            border-radius: $border-radius;
        }
    }

    #txtId {
        font-size: 1em;
        @include placeholder {
            font-size: 1.1em;
        }
    }
}

#search-panel {
    .header-panel {
        .buttons {
            float: right;
            text-align: right;
            margin-top: 0;

            .btn-toggle-bookmark {
                i:before {
                    content: "\f097";
                }
                
                &.active {
                    i:before {
                        content: "\f02e";
                    }
                }
            }
        }
        
        .search-form {
            position: relative;
            float: left;
            border-radius: $border-radius;
            background-color: $colour-text1;
            width: calc(100% - 60px);

            label {
                position: absolute;
                left: 13px;
                color: $colour-text2;
                z-index: 60;
            }
            
            i {
                margin-top: 3px;
                font-size: 1.3em;
                line-height: 1.8em;
                opacity: 0.4;
            }
            
            input {
                position: relative;
                z-index: 50;
                height: auto;
                padding: 5px 60px 5px 40px;
                font-size: 1.5em;
                background: transparent;
            }

            .btn-clear {
                position: absolute;
                right: 15px;
                margin-top: 0;
                font-size: 1em;
                z-index: 70;

                &:hover i {
                    opacity: 1;
                }
            }
            
            .lookahead-container {
                left: 40px;
                
                .lookahead {
                    font-size: 1.5em;
                    padding-top: 10px;
                }
            }
        }
    }
    
    .search-results-panel {
        height: 100%;
        overflow-y: auto;
        padding: 0;
        margin-top: 10px;
        
        &.ng-hide {
            margin-top: 0;
        }

        h4.no-bookmarks {
            font-size: 1.4em;
            font-weight: normal;
            text-align: center;
            margin: 10px;
        }

        .list-group {
            margin-bottom: 0;
        }
        
        .list-group-item {
            background: $colour-text1;
            border: none;
            border-radius: $border-radius;
            padding: 0;
            margin: 0 10px 10px 0;
            outline: none;
            overflow: hidden;
            
            &:last-child {
                margin-bottom: 0;
            }
        
            &:hover {
                .btn-edit-bookmark {
                    display: block;
                }

                .list-group-item-heading {
                    color: $colour-link-highlight;
                }
            }

            &.active {
                .menu {
                    @include animation(animate-fade-in 0.2s linear);
                    display: block;
                }
            }

            &.deleted {
                @include animation(animate-slide-out 0.2s linear);
                transform: translateX(-105%);
            }
            
            a {
                border-radius: $border-radius;
                padding: 12px 30px 12px 20px;
                display: block;
                @include css-prefix(user-select, none);

                &:focus {
                    .list-group-item-heading {
                        text-decoration: underline;
                    }
                }
            }
            
            .btn-edit-bookmark {
                display: none;
                position: absolute;
                top: 7px;
                right: 10px;
                padding: 5px;
            }

            .menu {
                background-color: rgba(8,48,57,0.9);
                text-align: center;
                z-index: 60;

                &:before {
                    content: '';
                    display: inline-block;
                    height: 85%; 
                    vertical-align: middle;
                }

                .buttons {
                    display: inline-block;
                    vertical-align: middle;

                    button {
                        display: inline-block;
                        position: static;
                        background-color: $colour-text1;
                        color: $colour-text2;
                        font-size: 1.5em;
                        border-radius: 100%;
                        width: 55px;
                        height: 55px;
                        margin-right: 20px;

                        &:last-child {
                            margin-right: 0;
                        }

                        &.btn-delete-bookmark {
                            background-color: $colour-danger;
                        }

                        i {
                            opacity: 1;
                        }
                    }
                }
            }

            .menu, .overlay {
                display: none;
                position: absolute;
                width: 100%;
                height: 100%;
                border-radius: $border-radius;
                @include css-prefix(user-select, none);
                touch-action: none;
            }

            .overlay {
                opacity: 0;
                z-index: 50;
            }
        }
        
        .list-group-item-heading {
            color: $colour-text2;
            font-size: 1.3em;
            font-weight: normal;
            line-height: 1.2em;
            margin-bottom: 5px;
            transition: all, ease-in, 0.2s;
        }
        
        .list-group-item-text {
            color: $colour-text2;
        }
        
        .description {
            font-style: italic;
            margin-bottom: 5px;
        }
        
        .url {
            font-size: 0.9em;
            color: $colour-link;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
        }
        
        .well {
            border: none;
            text-align: center;
            padding: 20px;
            margin-bottom: 0;
            color: $colour-link;
            
            h4 {
                font-size: 15px;
                margin-bottom: 0;
            }
        }
    }
}

#bookmark-panel {
    padding: 0 10px 15px;
    
    textarea {
        height: 190px;
    }

    .tags-form-group {
        position: relative;
        border-radius: $border-radius;
        background-color: $colour-text1;
        overflow: hidden;
        
        input {
            text-transform: lowercase;
            position: relative;
            z-index: 50;
            background: transparent; 
        }

        .lookahead-container {
            left: 20px;
            
            .lookahead {
                font-size: 1.1em;
                padding-top: 12px;
            }

            .measure {
                text-transform: lowercase;
            }
        }
    }
    
    .tags {
        overflow-y: auto;
        max-height: 56px;
        margin: 10px 0 15px;
        
        .label {
            display: block;
            float: left;
            margin: 0px 5px 5px 0;
            color: $colour-text1;
            background-color: $colour-text2;
            border: 0;
            border-radius: 10px;
            font-size: 0.9em;
            font-weight: normal;
            text-transform: capitalize;
            padding: 6px 8px;

            &:focus {
                outline: none;
            }
            
            &:hover {
                cursor: pointer;
                
                i {
                    color: $colour-link-highlight;
                    opacity: 1;
                }
            }
            
            i {
                font-size: 0.9em;
                opacity: 0.5;
            }
        }
    }
}

#settings-panel {
    padding: 0 10px 15px;
    
    .well {
        padding: 0;
        
        h4 {
            padding: 15px 20px;
            margin-bottom: 0;
            cursor: pointer;
            
            &:hover {
                i {
                    opacity: 1;
                }
            }
            
            &.active {
                cursor: auto;
                
                &:hover i {
                    opacity: 0;
                }
                
                i {
                    opacity: 0;
                }
            }
            
            i {
                opacity: 0.4;
                float: right;
                transition: all, ease-in, 0.2s;
            }
        }
        
        .input-group, textarea {
            margin-bottom: 20px;
        }
        
        .panel-content {
            padding: 0 20px;
            height: 235px;
        }
    }
    
    .sync-panel {
        .id-panel {
            label {
                font-weight: normal;
                margin-bottom: 0;
            }
            
            #id {
                font-weight: bold;
                margin: 5px 0 0;
            }
            
            #qr {
                margin: 10px 0 20px;
            }
        }
        
        .checkbox {
            margin: 15px 0;
            
            #syncBookmarksToolbar {
                margin-top: 2px;
            }
        }
    }
    
    .status-panel {
        .status-display {
            i {
                font-size: 1.2em;
                position: relative;
                margin-right: 2px;
                vertical-align: top;
            }
            
            .status-url {
                font-size: 1.2em;
                max-width: 90%;
            }

            .status-url-panel {
                text-align: center;
                margin-top: 10px;
            }
            
            span.label {
                font-size: 90%;
            }
            
            p.status-message {
                color: $colour-bg1;
                margin: 10px 0 0;
                max-height: 120px;
                overflow-y: auto;
                font-style: italic;
                quotes: '\201c' '\201d';

                &:before {
                    content: open-quote;
                }

                &:after {
                    content: close-quote;
                }
            }
            
            button {
                margin-top: 20px;
            }
        }


        .update-service-url {
            .form-control.ng-invalid {
                color: $colour-danger;
                @include placeholder {
                    color: $colour-danger;
                    opacity: 0.7;
                }
            }
        }
    }
    
    .backup-restore-panel {
        #restoreForm {
            textarea {
                font-family: "courier new", sans-serif;
                font-size: 0.8em;
                height: 115px;
            }
        }
    }
    
    .backup-restore-panel, #restoreForm, .confirm {
        margin-bottom: 0;
    }
}