@import 'variables.scss';
@import 'mixins.scss';
@import 'animations.scss';

@font-face {
    font-family: $font-roboto;
    src: url($font-roboto-path + 'Roboto-Condensed.ttf');
}

@font-face {
    font-family: $font-roboto;
    src: url($font-roboto-path + 'Roboto-BoldCondensed.ttf');
	font-weight: bold;
}

@font-face {
    font-family: $font-roboto;
    src: url($font-roboto-path + 'Roboto-CondensedItalic.ttf');
	font-style: italic;
}

@font-face {
    font-family: $font-roboto;
    src: url($font-roboto-path + 'Roboto-BoldCondensedItalic.ttf');
	font-weight: bold;
	font-style: italic;
}

body {
    font-family: $font-stack;
    color: $colour-text1;
    font-size: 14px;
    line-height: 20px;
    min-width: 300px;

    h2 {
        font-size: 1.8em;
        font-weight: 800;
        line-height: 30px;
        float: left;
        margin: 1px 0 5px 0;
    }
    
    h4 {
        font-size: 1.3em;
        font-weight: 800;
        margin-top: 0;
    }
    
    a {
        color: $colour-link;
        transition: all, ease-in, 0.2s;
        cursor: pointer;
        
        .active,
        &:active,
        &:focus,
        &:hover {
            color: $colour-link-highlight;
            text-decoration: none;
            outline: 0;
        }
    }
    
    button {
        &.btn {
            font-size: 14px;
            
            &.btn-default {
                font-size: 1.2em;
                font-weight: 800;
                background-color: transparent;
                color: $colour-text1;
                outline: none;
                min-width: 60px;
                border-color: $colour-text1;
                border-width: 2px;
                border-radius: $border-radius;
                transition: all, ease-in, 0.2s;
                box-shadow: none;
                padding: .3em 0.9em .3em;
                
                &:not([disabled]):hover {
                    background-color: $colour-text1;
                    color: $colour-link-highlight;
                    border-color: $colour-text1;
                }

                &:not([disabled]):focus {
                    text-decoration: underline;

                    &:hover {
                        text-decoration: none;
                    }
                }

                &[disabled] {
                    opacity: 0.5;
                    cursor: default;
                }
            }
            
            &.btn-icon {
                background: none;
                color: $colour-text2;
                padding: 0;
                transition: all, ease-in, 0.2s;
                box-shadow: none;
                border-radius: 0;
                
                &:focus {
                    border-bottom: solid 1px $colour-text2;
                }

                &:hover {
                    &:focus {
                        border-bottom-color: transparent;
                    }

                    i {
                        opacity: 1;
                    }
                }

                i {
                    opacity: 0.4;
                    transition: all, ease-in, 0.2s;
                }
            }

            .active,
            &.active:focus,
            &:active,
            &:active:focus,
            &:focus,
            &:hover {
                box-shadow: none;
                outline: 0;
            }
        }
    }

    textarea.form-control {
        padding: 8px 13px;
        border-radius: 15px;
    }
    
    .alert {
        width: 100%;
        max-width: $width-tablet;
        border: none;
        border-radius: 0;
        padding: 10px 10px 15px;
        margin: 0 auto;
        background-color: $colour-danger;
        border: none;
        color: $colour-text1;
        
        a {
            color: $colour-link-highlight;
        }

        button.btn-close {
            float: right;
            color: $colour-text1;
            font-size: 1.2em;
            line-height: 1.2em;

            &:focus {
                border-bottom-color: $colour-text1;
            }

            i {
                opacity: 0.7;
            }
        }
    }
    
    .buttons {
        text-align: center;
        margin-top: 15px;
        position: relative;
        white-space: nowrap;

        button {
            margin-right: 10px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
    
    .confirm {
        p {
            margin-bottom: 10px;
        }
    }

    .background {
        position: fixed !important;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -100;
        @include background-gradient(20deg, $colour-bg1, 0, $colour-bg2, 100%);
    }
    
    .container {
        width: 100%;
        padding: 0;
        margin: 0;

        &.loading {
            #loading-panel, .alert, .view {
                visibility: hidden;
            }
        }
    }

    .darken {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 100;
        opacity: 0.8;
        background: $colour-text2;
    }

    .form-control {
        font-size: 1em;
        background-color: $colour-text1; 
        color: $colour-text2;
        height: auto;
        padding: 10px 20px;
        resize: none;
        border: none;
        border-radius: $border-radius;
        box-shadow: none;
        @include placeholder {
            color: $colour-text2;
            opacity: 0.4;
        }

        &:focus {
            box-shadow: none;
        }
    }

    .has-error {
        .form-control {
            box-shadow: none;
            color: $colour-danger;
            @include placeholder {
                color: $colour-danger;
                opacity: 0.7;
            }

            &:focus {
                box-shadow: none;
            }
        }
    }
    
    .header-panel {
        position: relative;
        min-height: 1.8em;
        margin-bottom: 10px;
        
        h2 {
            line-height: 0.8em;
        }

        button {
            font-size: 1.1em;
            position: absolute;
            top: 0;
            bottom: 0;

            &.btn-settings, &.btn-close {
                right: 0;
            }

            i {
                font-size: 1.6em;
            }
        }
    }
    
    .input-group {
        margin-bottom: 15px;
    }
    
    .lookahead-container {
        position: absolute;
        top: 0;
        width: 200%;
        
        .lookahead {
            position: relative;
            float: left;
            z-index: 60;
            line-height: 1.43;
            color: $colour-link;
            background-color: $colour-text1;
            @include css-prefix(user-select, none);
        }
        
        .measure {
            @extend .lookahead;
            visibility: hidden;
        }
    }

    .margin-bottom-15 {
        margin-bottom: 15px;
    }
    
    .overflow-ellipses {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .progress-bar-success {
        background-color: $colour-success!important;
    }
    
    .progress-bar-warning {
        background-color: $colour-warning!important;
    }
    
    .progress-bar-danger {
        background-color: $colour-danger!important;
    }
    
    .text-success {
        color: $colour-success!important;
    }
    
    .text-warning {
        color: $colour-warning!important;
    }
    
    .text-danger {
        color: $colour-danger!important;
    }
    
    .view {
        padding: 10px;
        max-width: $width-tablet;
        margin: 0 auto;
    }
        
    .well {
        background-color: $colour-text1;
        color: $colour-text2;
        box-shadow: none;
        border-radius: $border-radius;
        border: none;
        padding: 15px 20px;
        margin-bottom: 15px;
    
        &:last-child {
            margin-bottom: 0;
        }

        &.dark {
            background-color: $colour-text2;
            color: $colour-text1;
        }

        .btn.btn-default {
            color: $colour-text2;
            border-color: $colour-text2;
            font-weight: normal;
            border-width: 1px;
            font-size: 1.1em;
            padding: 0.5em 1em;

            &:not([disabled]):hover {
                background-color: $colour-text2;
                color: $colour-link-highlight;
                border-color: $colour-text2;
            }
        }
    
        .confirm {
            margin-bottom: 0;
        }

        .form-control {
            border: solid 1px $colour-text2;
        }
    }
}

#login-panel, #bookmark-panel, #settings-panel {
    height: $height-iPhone4;
}

#loading-panel {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    
    .content {
        display: table-cell;
        position: relative;
        vertical-align: middle;
        text-align: center;
        z-index: 110;
        padding-bottom: 20px;
        
        h3 {
            margin-top: 0;
            color: $colour-link-highlight;
        }
    }
}

#qr-panel {
    @extend #loading-panel;

    #qr {
        cursor: pointer;
        position: absolute;
        z-index: 110;
        left: 50%;
        top: 50%;
        margin: -55px 0 0 -55px;
        border: solid 10px white;
    }
}

#login-panel {
    .intro-panel {
        height: 18em;
        margin-bottom: 15px;
        overflow: hidden;
        position: relative;
    
        & > div {
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            padding: 15px 30px;
            overflow: hidden;

            & > div {
                position: relative;
                z-index: 20;
            }
        }

        h1 {
            background: url("../img/logo.svg") 50% 40% no-repeat;
            background-size: 70%;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }

        .buttons {
            text-align: left;
            margin: 0;
            width: 100%;
            position: absolute;
            left: 0;
            top: 45%;
            z-index: 10;

            button {
                color: $colour-text1;
                font-size: 1.2em;
            }

            .btn-prev {
                margin-left: 10px;
                float: left;
            }
            
            .btn-next {
                margin-right: 10px;
                float: right;
            }
        }
    }
    
    .secret-form-group {
        position: relative;

        input {
            position: relative;
            z-index: 20;
            background: transparent;
        }

        .progress {
            position: absolute;
            top: 0;
            margin: 0;
            z-index: 10;
            box-shadow: none;
            height: 2.8em;
            width: 100%;
            background-color: transparent;
            border: solid 2px $colour-text1;
            border-radius: $border-radius;

            .progress-bar {
                box-shadow: none;
                background-color: $colour-danger;                
            }
        }
            
        .progress-bar-background {
            background-color: $colour-text1;
            height: 2.8em;
            width: 100%;
            position: absolute;
            top: 0;
            border-radius: $border-radius;
        }
    }
}

#search-panel {
    .header-panel {
        margin-bottom: 0;

        .buttons {
            position: absolute;
            right: 0;
            top: -5px;

            button {
                height: 1.8em;

                &.btn-toggle-bookmark {
                    right: 1.5em;

                    i:before {
                        content: "\f097";
                    }
                    
                    &.active {
                        i:before {
                            content: "\f02e";
                        }
                    }
                }
            }
        }
        
        .search-form {
            position: relative;
            float: left;
            border-radius: $border-radius;
            background-color: $colour-text1;
            width: calc(100% - 4.5em);
            overflow: hidden;

            label {
                position: absolute;
                top: 0;
                left: 15px;
                color: $colour-text2;
                z-index: 60;
            }
            
            i {
                font-size: 1.3em;
                line-height: 2.1em;
                opacity: 0.4;
            }
            
            input {
                position: relative;
                z-index: 50;
                height: auto;
                padding: 5px 40px 5px 40px;
                font-size: 1.5em;
                background: transparent;
            }

            .btn-clear {
                position: absolute;
                right: 15px;
                font-size: 1em;
                z-index: 55;

                &:hover i {
                    opacity: 1;
                }
            }
            
            .lookahead-container {
                left: 40px;
                
                .lookahead {
                    font-size: 1.5em;
                    padding: 5px 0;
                }
            }
        }
    }
    
    .search-results-panel {
        height: 100%;
        overflow-y: auto;
        padding: 0;
        margin-top: 10px;
        
        &.ng-hide {
            margin-top: 0;
        }

        h4.no-bookmarks {
            font-size: 1.4em;
            font-weight: normal;
            text-align: center;
            margin: 10px;
        }

        .list-group {
            margin-bottom: 0;
        }
        
        .list-group-item {
            background: $colour-text1;
            border: none;
            border-radius: $border-radius;
            padding: 0;
            margin: 0 10px 10px 0;
            outline: none;
            overflow: hidden;
            
            &:last-child {
                margin-bottom: 0;
            }
        
            &:hover {
                .btn-edit-bookmark {
                    display: block;
                }

                .list-group-item-heading {
                    color: $colour-link-highlight;
                }
            }

            &.active {
                .menu {
                    @include animation(animate-fade-in 0.2s linear);
                    display: block;
                }
            }

            &.deleted {
                @include animation(animate-slide-out 0.2s linear);
                transform: translateX(-105%);
            }
            
            a {
                border-radius: $border-radius;
                padding: 12px 30px 12px 20px;
                display: block;
                @include css-prefix(user-select, none);

                &:focus {
                    .list-group-item-heading {
                        text-decoration: underline;
                    }
                }
            }
            
            .btn-edit-bookmark {
                display: none;
                position: absolute;
                top: 7px;
                right: 10px;
                padding: 5px;
            }

            .menu {
                background-color: rgba(8,48,57,0.9);
                text-align: center;
                z-index: 60;

                &:before {
                    content: '';
                    display: inline-block;
                    height: 85%; 
                    vertical-align: middle;
                }

                .buttons {
                    display: inline-block;
                    vertical-align: middle;

                    button {
                        display: inline-block;
                        position: static;
                        background-color: $colour-text1;
                        color: $colour-text2;
                        font-size: 1.5em;
                        border-radius: 100%;
                        width: 55px;
                        height: 55px;
                        margin-right: 20px;

                        &:last-child {
                            margin-right: 0;
                        }

                        &.btn-delete-bookmark {
                            background-color: $colour-danger;
                        }

                        i {
                            opacity: 1;
                        }
                    }
                }
            }

            .menu, .overlay {
                display: none;
                position: absolute;
                width: 100%;
                height: 100%;
                border-radius: $border-radius;
                @include css-prefix(user-select, none);
                touch-action: none;
            }

            .overlay {
                opacity: 0;
                z-index: 50;
            }
        }
        
        .list-group-item-heading {
            color: $colour-text2;
            font-size: 1.3em;
            font-weight: normal;
            line-height: 1.1em;
            margin-bottom: 5px;
            transition: all, ease-in, 0.2s;
        }
        
        .list-group-item-text {
            color: $colour-text2;
        }
        
        .description {
            font-style: italic;
            margin-bottom: 5px;
        }
        
        .url {
            font-size: 0.9em;
            color: $colour-link;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
        }
        
        .well {
            border: none;
            text-align: center;
            padding: 20px;
            margin-bottom: 0;
            color: $colour-link;
            
            h4 {
                font-size: 15px;
                margin-bottom: 0;
            }
        }
    }

    .search-panel-background {
        display: none;
        background: url("../img/logo.svg") 50% 0 no-repeat;
        background-size: 15em;
        height: 15em;
        margin-top: 5em;
        opacity: 0.25;
        z-index: -50;
    }
}

#bookmark-panel {
    textarea {
        height: 14em;
        min-height: 7.5em;
    }

    .tags-form-group {
        position: relative;
        border-radius: $border-radius;
        background-color: $colour-text1;
        overflow: hidden;
        
        input {
            text-transform: lowercase;
            position: relative;
            z-index: 50;
            background: transparent; 
        }

        .lookahead-container {
            left: 20px;
            
            .lookahead {
                padding: 10px 0;
                background-color: transparent;
            }

            .measure {
                text-transform: lowercase;
            }
        }
    }
    
    .tags {
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 60px;
        margin: 10px 0 15px;
        
        .label {
            display: block;
            float: left;
            margin: 0px 5px 5px 0;
            color: $colour-text1;
            background-color: $colour-text2;
            border: 0;
            border-radius: 10px;
            font-size: 0.9em;
            font-weight: normal;
            text-transform: capitalize;
            padding: 6px 8px;

            &:focus {
                outline: none;
            }
            
            &:hover {
                cursor: pointer;
                
                i {
                    color: $colour-link-highlight;
                    opacity: 1;
                }
            }
            
            i {
                font-size: 0.9em;
                opacity: 0.5;
            }
        }
    }
}

#settings-panel {
    .well {
        padding: 0;
        overflow: hidden;
        
        h4 {
            padding: 15px 20px;
            margin-bottom: 0;
            cursor: pointer;
            
            &:hover {
                i {
                    transition: all, ease-in, 0.2s;
                    opacity: 1;
                }
            }
            
            &.active {
                cursor: auto;
                
                &:hover i {
                    opacity: 0;
                }
                
                i {
                    opacity: 0;
                }
            }
            
            i {
                opacity: 0.4;
                float: right;
            }
        }
        
        .input-group, textarea {
            margin-bottom: 20px;
        }
        
        .panel-content {
            padding: 0 20px;
            height: 17em;
        }
    }
    
    .sync-panel {
        label {
            font-weight: normal;
            font-size: 0.9em;
            margin-bottom: 0;
        }
        
        .checkbox {
            margin: 20px 0;
            font-size: 1.3em;
            text-align: center;
            
            #syncBookmarksToolbar {
                margin-top: 0.2em;
            }
        }

        .buttons {
            margin: 2em 0;
        }
        
        .chart-panel {
            position: relative;
            margin-top: 15px;

            #chart {
                height: 8em;
                width: 8em;
                margin: auto;
            }

            .values {
                position: absolute;
                width: 5em;
                top: 50%;
                left: 50%;
                margin: -1.1em 0 0 -2.5em;

                .percent {
                    font-size: 2.5em;
                }

                .max {
                    display: block;
                    line-height: 1em;
                }
            }
        }

        #id {
            display: block;
            font-size: 1em;
        }

        .btn-qrcode {
            display: block;
            margin: 5px auto 0;

            i {
                font-size: 2em;                
            }
        }
    }
    
    .status-panel {
        .status-display {
            i {
                font-size: 1.2em;
                position: relative;
                margin-right: 2px;
                vertical-align: top;
            }
            
            .status-url {
                font-size: 1.2em;
                max-width: 90%;
            }

            .status-url-panel {
                text-align: center;
                padding-top: 15px;
            }
            
            span.label {
                font-size: 90%;
            }
            
            p.status-message {
                color: $colour-bg1;
                margin: 10px 0 0;
                max-height: 7em;
                overflow-y: auto;
                font-style: italic;
                quotes: '\201c' '\201d';

                &:before {
                    content: open-quote;
                }

                &:after {
                    content: close-quote;
                }
            }
            
            button {
                margin-top: 20px;
            }
        }


        .update-service-url {
            .form-control.ng-invalid {
                color: $colour-danger;
                @include placeholder {
                    color: $colour-danger;
                    opacity: 0.7;
                }
            }
        }
    }
    
    .backup-restore-panel {
        #restoreForm {
            textarea {
                font-family: "courier new", sans-serif;
                font-size: 0.8em;
                height: 115px;
            }

            #backupFilePanel {
                display: none;

                button {
                    margin-right: 0;
                }

                p {
                    margin-top: 15px;
                    min-height: 1.2em;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: 100%;
                }
            }
            
            #backupFile {
                display: none;
            }
        }
    }
    
    .backup-restore-panel, #restoreForm, .confirm {
        margin-bottom: 0;
    }
}