$font-stack-regular: 'Roboto Condensed', sans-serif;
$font-stack-code: 'Source Code Pro', 'Courier New', monospace;

$colour-bg1: #01AB8A;
$colour-bg2: #35C6E8;
$colour-text1: #EDFEFF;
$colour-text2: #083039;
$colour-link: #75959C;
$colour-link-highlight: $colour-bg2;
$colour-success: #30D278;
$colour-warning: #BDC71B;
$colour-danger: #EA3869;

$border-radius-input: 2em;
$border-radius-well: 1.5em;
$height-mobile-small: 480px;
$height-mobile-medium: 570px;
$height-mobile-large: 640px;
$height-mobile-xlarge: 720px;
$height-tablet-small: 1024px;
$width-mobile-small: 320px;
$width-mobile-medium: 360px;
$width-mobile-large: 375px;
$width-mobile-xlarge: 410px;
$width-tablet-small: 768px;
$width-tablet-large: 1024px;