$font-roboto:        		'Roboto Condensed';
$font-roboto-path:  		'../fonts/roboto/';
$font-stack:        		$font-roboto, sans-serif;
$fa-font-path:              '../fonts/font-awesome';

$colour-bg1:				#01AB8A;
$colour-bg2:				#35C6E8;
$colour-text1:              #EDFEFF;
$colour-text2:              #083039;
$colour-link:			    #75959C;
$colour-link-highlight:	    $colour-bg2;
$colour-success:            #30D278;
$colour-warning:            #BDC71B;
$colour-danger:             #EA3869;

$border-radius:             25px;
$width-mobile:              320px;
$width-tablet:              768px;
$width-landscape:           500px;
$height-mobile-small:       480px;
$height-mobile-medium:      560px;
$height-mobile-large:       640px;
$height-mobile-xlarge:      720px;
$height-tablet:             1024px;