<div class="view-content">
  <h4>{{ vm.platformSvc.getConstant(vm.strings.updated_Title) }} {{ vm.appVersion }}</h4>
  <p>{{ vm.platformSvc.getConstant(vm.strings.updated_Message) }}</p>
  <div class="buttons">
    <button type="button" class="btn btn-default" ng-click="vm.utilitySvc.handleEvent(vm.displayReleaseNotes())">
      {{ vm.platformSvc.getConstant(vm.strings.button_ReleaseNotes_Label) }}
    </button>
    <button type="button" class="btn btn-default focused" ng-click="vm.utilitySvc.handleEvent(vm.close())">
      {{ vm.platformSvc.getConstant(vm.strings.button_Continue_Label) }}
    </button>
  </div>
</div>
