@import 'variables.scss';

html, body, .container, #search-panel {
    height: 100%;
}

body {
    font-size: 16px;
    line-height: 20px;

    button {
        &.btn {
            font-size: 18px;
        }
    }

    textarea.form-control {
        padding: 10px 20px;
    }

    .alert {
        position: absolute;
        z-index: 200;
    }

    .header-panel {
        margin-bottom: 5px;

        .btn-icon {
            margin-top: 2px;

            i {
                font-size: 1.8em;
            }
        }
    }

    .lookahead-container .lookahead {
        z-index: 60;
        position: relative;

        &:after {
            content: "\f0d0";
            font-family: "FontAwesome";
            font-size: 0.7em;
            margin-left: 5px;
        }
    }

    .well .btn.btn-default {
        font-size: 1em;
        padding: 6px 12px;
    }
}

#loading-panel .content p {
    display: none;
}

#login-panel {
    padding: 10px;
    
    .intro-panel {
        height: 325px;
        
        & > div {
            padding: 20px 35px;
        }

        h1 {
            background-size: 225px;
            height: 260px;
        }

        .buttons {
            top: 140px;
        }
    }

    .secret-form-group {
        .progress, .progress-bar-background {
            height: 45px;
        }
    }
}

#search-panel {
    .header-panel {
        background: url(../img/icon.svg) 50% 4px no-repeat;
        background-size: 30px;

        .btn-icon {
            &.btn-toggle-bookmark {
                float: left;

                @media (min-width: $width-landscape) and (orientation:landscape) {
                    margin-right: 15px;
                }

                i:before {
                    content: "\f02e";
                }
            }

            &.btn-settings {
                float: none;
            }
        }
        
        .buttons {
            float: none;
            margin-bottom: 11px;

            @media (min-width: $width-landscape) and (orientation:landscape) {
                float: right;
            }
        }

        .search-form {
            width: 100%;

            @media (min-width: $width-landscape) and (orientation:landscape) {
                width: calc(100% - 85px);
            }

            .lookahead-container .lookahead {
                padding-top: 12px;
            }
        }
    }

    .search-results-panel {
        max-height: 80%;
        margin-top: 15px;

        .list-group-item {
            margin: 0 0 15px 0;

            &.active {
                &:hover {
                    .list-group-item-heading {
                        color: $colour-text2;
                    }
                }
            }

            a {
                padding: 15px 20px;
            }

            .btn-edit-bookmark {
                display: none!important;
            }

            .overlay {
                display: block;
            }
        }
    }
}

#bookmark-panel {
    padding: 10px;

    textarea {
        height: 244px;
    }

    .tags {
        max-height: 100px;

        .label {
            font-size: 1em;
            padding: 12px 15px;
            border-radius: 25px;
            margin: 0 6px 8px 0;
        }
    }

    .tags-form-group .lookahead-container .lookahead:after {
        font-size: 0.9em;
    }
}

#settings-panel {
    padding: 10px;

    .well .panel-content {
        height: 296px;
    }
}