@import 'variables.scss';

html, body, .container, #login-panel, #search-panel, #bookmark-panel, #settings-panel {
    height: 100%;
}

body {
    @media (min-height: $height-iPhone5) {
        font-size: 16px;
    }

    @media (min-height: $height-iPhone6) {
        font-size: 18px;
        line-height: 22px;
    }

    textarea.form-control {
        padding: 10px 20px;
    }

    .alert {
        position: absolute;
        z-index: 200;
    }

    .btn {
        @media (min-height: $height-iPhone6Plus) {
            font-size: 18px;
        }
    }

    .header-panel {
        margin-bottom: 15px;
    }

    .lookahead-container .lookahead {
        z-index: 60;
        position: relative;

        &:after {
            content: "\f0d0";
            font-family: "FontAwesome";
            font-size: 0.7em;
            margin-left: 5px;
        }
    }

    .well .btn.btn-default {
        font-size: 1em;
        padding: 6px 12px;
    }
}

#loading-panel .content p {
    display: none;
}

#login-panel {
    input[name="txtId"] {
        @media (min-height: $height-iPhone5) and (max-width: $width-mobile) {
            font-size: 1em;
        }
    }
    
    .intro-panel {
        @media (min-height: $height-iPhone5) {
            height: 61%;
        }

        & > div {
            @media (min-height: $height-iPhone5) {
                padding: 20px 40px;
            }
            
            @media (min-height: $height-iPhone6) {
                padding: 30px 40px;
            }
        }

        h1 {
            @media (max-height: $height-iPhone4) {
                background-position-y: 30%;
                background-size: 60%;
            }
        }

        .buttons {
            @media (min-height: $height-iPhone6) {
                .btn-prev {
                    margin-left: 12px;
                }
                
                .btn-next {
                    margin-right: 12px;
                }
            }
        }
    }

    .secret-form-group {
        .progress, .progress-bar-background {
            height: 45px;
        }
    }
}

#search-panel {
    .header-panel {
        .buttons {
            height: 1.8em;
            background: url(../img/icon.svg) 50% 2px no-repeat;
            background-size: 1.6em;

            @media (max-width: $height-iPhone4) and (orientation:portrait) {
                position: static;
                margin: 0 0 15px;
            }

            button {
                bottom: auto;
                    
                &.btn-toggle-bookmark {
                    left: 0;

                    @media (min-width: $height-iPhone4) and (orientation:landscape) {
                        left: auto;
                    }

                    i:before {
                        content: "\f02e";
                    }
                }
            }
        }

        .search-form {
            width: 100%;

            @media (min-width: $height-iPhone4) and (orientation:landscape) {
                width: calc(100% - 60px);
            }
        }
    }

    .search-results-panel {
        max-height: 78%;
        margin-top: 15px;

        @media (min-height: $height-iPhone5), (min-height: $width-iPhone6) and (orientation:landscape) {
            max-height: 81%;
        }

        @media (min-height: $height-iPhone6), (min-height: $width-iPhone6Plus) and (orientation:landscape) {
            max-height: 83%;
        }

        @media (min-height: $height-iPhone6) and (orientation:landscape) {

        }

        .list-group-item {
            margin: 0 0 15px 0;

            &.active {
                &:hover {
                    .list-group-item-heading {
                        color: $colour-text2;
                    }
                }
            }

            a {
                padding: 15px 20px;
            }

            .btn-edit-bookmark {
                display: none!important;
            }

            .overlay {
                display: block;
            }
        }
    }

    .search-panel-background {
        display: block;

        @media (min-width: $height-iPhone4) and (orientation:landscape) {
            background-size: 30%;
            background-position-y: 60%;
        }
    }
}

#bookmark-panel {
    .tags {
        max-height: 60px;

        @media (min-height: $height-iPhone5) {
            max-height: 88px;
        }
        
        @media (min-height: $height-iPhone6) {
            max-height: 135px;
        }

        @media (min-height: $height-iPhone6Plus) {
            max-height: 175px;
        }

        .label {
            font-size: 1em;
            padding: 12px 15px;
            border-radius: 25px;
            margin: 0 6px 8px 0;
        }
    }

    .tags-form-group .lookahead-container .lookahead:after {
        font-size: 0.9em;
    }
}

#settings-panel {
    .well {
        @media (min-height: $height-iPhone5) {
            max-height: 65%;
        }
    }
}