@import 'variables.scss';
@import 'mixins.scss';
@import 'animations.scss';

.container {
    display: none;

    &.done-loading {
        display: block;
    }
}

.view {
    width: 320px;
    height: 480px;
}

#search-panel {
    width: 600px;
    height: auto;

    .header-panel .search-form input {
        @include placeholder {
            font-size: 0.9em;
        }
    }

    .search-results-panel {
        max-height: 410px;
    }
}