@import 'variables.scss';
@import 'mixins.scss';
@import 'animations.scss';

body {
    .background {
        .background-img {
            @include animation(none);
        }
    }

    .view {
        width: 320px;
        height: 520px;
    }

    .well .btn.btn-default {
        font-size: 1.1em;
    }
}

#search-panel {
    width: 600px;
    height: auto;

    .header-panel {
        margin-bottom: 10px;
        
        button.btn-settings {
            margin: 0;
        }
    }

    .search-results-panel {
        max-height: 410px;
    }
}

#settings-panel {
    .backup-restore-panel {
        #backupFilePanel {
            display: none;
        }
    }
}