@import 'variables.scss';
@import 'mixins.scss';
@import 'animations.scss';

$window-width: 320px;
$window-height: 520px;
$search-window-width: 600px;
$search-window-height: 4em;

body {
    transition: width 0.1s, height 0.1s;
    transition-timing-function: ease;
    width: $window-width;

    &.search-view {
        width: $search-window-width;
        height: $search-window-height;

        .container {
            height: $search-window-height;
        }
    }

    &.search-no-results-view {
        @extend .search-view;
        height: calc(#{$search-window-height} + 2.2em);
    }

    &.search-results-view {
        @extend .search-view;
        height: $window-height;
    }
    
    .background {
        .background-img {
            @include animation(none);
        }
    }

    .container {
        height: $window-height;
    }

    .well .btn.btn-default {
        font-size: 1.1em;
    }
}

#search-panel {
    .header-panel {
        margin-bottom: 10px;
        
        button.btn-settings {
            margin: 0;
        }
    }
}

#settings-panel {
    .backup-restore-panel {
        #backupFilePanel {
            display: none;
        }
    }
}