@import '../../../../styles/modules/all';

app-search {
  --color-pull-to-refresh-link: #{$color-text2-default};

  @include theme-dark {
    --color-pull-to-refresh-link: #{$color-text3-dark};
  }

  bookmark {
    &:not(.folder) {
      & > .bookmark-content > .bookmark-heading {
        margin-right: 0;
        transition: none;
      }
    }

    &.folder > .bookmark-content > .bookmark-heading:not(.opening)::after {
      opacity: 0.6;
    }
  }

  .header-panel,
  .search-results-container {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  .header-panel {
    display: flex;
    flex-direction: row-reverse;
  }

  .btn-add-bookmark {
    bottom: 2rem;
    position: fixed;
    right: 1rem;
    z-index: 1000;
  }

  /* stylelint-disable-next-line selector-class-pattern */
  .ptr--ptr {
    box-shadow: none !important;

    /* stylelint-disable-next-line selector-class-pattern */
    .ptr--box {
      margin: 0;
      padding: 15px;
    }

    /* stylelint-disable-next-line selector-class-pattern */
    .ptr--icon {
      display: none;
    }

    /* stylelint-disable-next-line selector-class-pattern */
    .ptr--text {
      color: var(--color-pull-to-refresh-link);
      font-size: 0.9rem;
      margin-top: 0;
      opacity: 0.5;
    }
  }

  .search-results-container {
    & > h4 {
      margin: 1rem;
    }
  }

  .view-content {
    padding-left: 0;

    &.search-bar-bottom {
      flex-direction: column-reverse;

      .bookmark-tree-container,
      .search-results-container {
        padding-top: 0.75rem;
      }
    }
  }

  @media all and (orientation: portrait) {
    .bookmark-tree-container .description {
      @include text-overflow-ellipsis;
    }
  }
}
