@import '../../../../styles/modules/all';

app-search {
  --color-pull-to-refresh-link: #{$color-text2-default};

  @include theme-dark {
    --color-pull-to-refresh-link: #{$color-text3-dark};
  }

  bookmark {
    &:not(.folder) {
      & > .bookmark-content > .bookmark-heading {
        margin-right: 0;
        transition: none;
      }
    }

    &.folder {
      &.open > .bookmark-content > .bookmark-heading::after {
        @include icon('\f106');
      }

      & > .bookmark-content > .bookmark-heading:not(.opening)::after {
        opacity: 0.6;
      }
    }
  }

  .header-panel,
  .search-results-container {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  .header-panel {
    display: flex;
    flex-direction: row-reverse;

    .btn-icon {
      line-height: initial;
    }

    .search-form {
      .btn-clear {
        font-size: 0.7em;
      }

      .lookahead-container .lookahead::after {
        font-size: 0.7em;
      }
    }
  }

  .ptr--ptr {
    box-shadow: none !important;

    .ptr--box {
      margin: 0;
      padding: 15px;
    }

    .ptr--icon {
      display: none;
    }

    .ptr--text {
      color: var(--color-pull-to-refresh-link);
      font-size: 0.9rem;
      margin-top: 0;
      opacity: 0.5;
    }
  }

  .search-results-container {
    & > h4 {
      margin: 1rem;
    }
  }

  .view-content {
    padding-left: 0;

    &.search-bar-bottom {
      flex-direction: column-reverse;

      .bookmark-tree-container,
      .search-results-container {
        padding-top: 0.75rem;
      }

      .btn-fab.fixed {
        bottom: 5rem;
      }
    }
  }

  @media all and (orientation: portrait) {
    .bookmark-tree-container .description {
      @include text-overflow-ellipsis;
    }
  }
}
