$color-bg1-dark: #1e2228;
$color-bg2-dark: #2d333b;
$color-bg3-dark: #474f5b;
$color-text1-dark: #cdd9e5;
$color-text2-dark: #adbac7;
$color-text3-dark: #8a96a3;
$color-success-dark: #0e8662;
$color-warning-dark: #9d9524;
$color-danger-dark: #a5333c;
