$color-bg1-default: #01ab8a;
$color-bg2-default: #35c6e8;
$color-bg3-default: #edfeff;
$color-text1-default: #edfeff;
$color-text2-default: #083039;
$color-text3-default: #75959c;
$color-success-default: #30d278;
$color-warning-default: #ddc72d;
$color-danger-default: #ea3869;
