@use 'sass:color';
@use 'sass:string';

@function hex2rgb($hexcolor) {
  $red: color.channel($hexcolor, 'red');
  $green: color.channel($hexcolor, 'green');
  $blue: color.channel($hexcolor, 'blue');

  @return string.unquote('#{$red}, #{$green}, #{$blue}');
}
