@use 'sass:color';

@function hex2rgb($hexcolor) {
  $red: color.red($hexcolor);
  $green: color.green($hexcolor);
  $blue: color.blue($hexcolor);
  @return unquote('#{$red}, #{$green}, #{$blue}');
}
