$height-mobile-small: 480px;
$height-mobile-medium: 570px;
$height-mobile-large: 640px;
$height-mobile-xlarge: 720px;
$height-tablet-small: 1024px;
$width-mobile-small: 320px;
$width-mobile-medium: 360px;
$width-mobile-large: 375px;
$width-mobile-xlarge: 410px;
$width-tablet-small: 768px;
$width-tablet-large: 1024px;
