<!doctype html>
<html data-ng-app="xBrowserSync.App.UI" data-ng-controller="Controller as vm" data-ng-csp>

<head>
  <meta charset="utf-8">
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, viewport-fit=cover">
  <title data-ng-bind="vm.platform.GetConstant(vm.globals.Constants.Title)"></title>
  <link rel="stylesheet" href="css/styles.min.css" />
  <script src="js/app.min.js"></script>
</head>

<body data-ng-class="{
  'search-view': vm.view.current === vm.view.views.search && !vm.search.results,
  'search-no-results-view': vm.view.current === vm.view.views.search && vm.search.results.length === 0,
  'search-results-view': vm.view.current === vm.view.views.search && vm.search.results.length > 0 }">
  <div class="container">
    <div id="working-panel" class="animate" data-ng-include="'./views/working.html'" data-ng-show="vm.working"></div>

    <div id="qr-panel" class="animate" data-ng-include="'./views/qr.html'" data-ng-show="vm.settings.displayQrPanel">
    </div>

    <div class="alert animate-fade animate-fade-out" role="alert" data-ng-show="vm.alert.show" data-ng-cloak
      data-ng-class="{
        'alert-success': vm.alert.type === 'success',
        'info': vm.alert.type === 'info',
        'warning': vm.alert.type === 'warning',
        'alert-danger': vm.alert.type === 'danger' }">
      <button class="btn btn-icon btn-close"
        title="{{ vm.platform.GetConstant(vm.globals.Constants.Button_Close_Label) }}"
        data-ng-click="vm.alert.show = false" tabindex="1000">
        <i class="fas fa-times-circle" aria-hidden="true"></i>
        <span class="sr-only">{{ vm.platform.GetConstant(vm.globals.Constants.Button_Close_Label) }}</span>
      </button>
      <h4 data-ng-bind-html="vm.alert.title"></h4>
      <p data-ng-bind-html="vm.alert.message"></p>
    </div>

    <div id="login-panel" class="view" data-ng-if="vm.view.current === vm.view.views.login">
      <div class="view-content animate" data-ng-include="'./views/login.html'"></div>
    </div>

    <div id="search-panel" class="view" data-ng-if="vm.view.current === vm.view.views.search">
      <div class="view-content animate" data-ng-include="'./views/search.html'"></div>
    </div>

    <div id="bookmark-panel" class="view" data-ng-if="vm.view.current === vm.view.views.bookmark">
      <div class="view-content animate" data-ng-include="'./views/bookmark.html'"></div>
    </div>

    <div id="settings-panel" class="view" data-ng-if="vm.view.current === vm.view.views.settings">
      <div class="view-content animate" data-ng-include="'./views/settings.html'"></div>
    </div>

    <div id="information-panel" class="view" data-ng-if="vm.view.current === vm.view.views.support || 
      vm.view.current === vm.view.views.updated || vm.view.current === vm.view.views.permissions ||
      vm.view.current === vm.view.views.help">
      <div id="help-panel" data-ng-if="vm.view.current === vm.view.views.help">
        <div class="view-content animate" data-ng-include="'./views/help.html'"></div>
      </div>

      <div id="support-panel" data-ng-if="vm.view.current === vm.view.views.support">
        <div class="view-content animate" data-ng-include="'./views/support.html'"></div>
      </div>

      <div id="updated-panel" data-ng-if="vm.view.current === vm.view.views.updated">
        <div class="view-content animate" data-ng-include="'./views/updated.html'"></div>
      </div>

      <div id="permissions-panel" data-ng-if="vm.view.current === vm.view.views.permissions">
        <div class="view-content animate" data-ng-include="'./views/permissions.html'"></div>
      </div>
    </div>
  </div>

  <div class="background">
    <div class="background-img" data-ng-if="!vm.view.current || vm.view.current === vm.view.views.login || 
    vm.view.current === vm.view.views.support || vm.view.current === vm.view.views.permissions || 
    vm.view.current === vm.view.views.updated || vm.view.current === vm.view.views.help"></div>
  </div>

  <input id="backupFile" class="d-none" name="files[]" type="file" tabindex="-1" />
</body>

</html>