<!doctype html>
<html ng-app="xBrowserSync.App.UI">
<head>
    <title>{{ vm.platform.Constants.Get(vm.global.Constants.Title) }}</title>
    <link rel="stylesheet" href="css/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/platform.css" />
</head>

<body ng-controller="Controller as vm">
    <div class="container">
        <div id="loading-panel" ng-show="vm.working">
            <div class="content">
                <h3>{{ vm.platform.Constants.Get(vm.global.Constants.Working_Title) }}</h3>
                <p>{{ vm.platform.Constants.Get(vm.global.Constants.Working_Message) }}</p>
            </div>
            <div class="background"></div>
        </div>
        
        <div class="alert animate-fade" role="alert" ng-show="vm.alert.show" 
             ng-class="{
             'alert-success': vm.alert.type === 'success',
             'info': vm.alert.type === 'info',
             'warning': vm.alert.type === 'warning',
             'alert-danger': vm.alert.type === 'danger' }">
            <h4 ng-bind-html="vm.alert.title"></h4>
            <p ng-bind-html="vm.alert.message"></p>
        </div>
        
        <div id="login-panel" class="view animate-fade" ng-show="vm.view.current === vm.view.views.login">
            <div class="header-panel clearfix">
                <button class="btn btn-icon animate-fade" title="{{ vm.platform.Constants.Get(vm.global.Constants.Button_Help_Label) }}" 
                        ng-click="vm.events.introPanel_ShowHelp_Click()" ng-show="!vm.introduction.displayIntro() && !!vm.introduction.showLogo" tabindex="1000">
                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                    <span class="sr-only">{{ vm.platform.Constants.Get(vm.global.Constants.Button_Help_Label) }}</span>
                </button>
                <button class="btn btn-icon btn-settings" title="{{ vm.platform.Constants.Get(vm.global.Constants.Button_Settings_Label) }}" 
                        ng-click="vm.view.change(vm.view.views.settings)" tabindex="1001">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                    <span class="sr-only">{{ vm.platform.Constants.Get(vm.global.Constants.Button_Settings_Label) }}</span>
                </button>
            </div>
            <div class="intro-panel">
                <h1 class="animate-fade-out" ng-show="!!vm.introduction.showLogo" ng-class="{ true: 'animate-fade-long' }[vm.introduction.displayIntro()]">
                    <span class="sr-only">{{ vm.platform.Constants.Get(vm.global.Constants.Title) }}</span>
                </h1>
                <div id="intro-panel-1" class="well well-sm dark" ng-show="vm.introduction.currentPanel === 1" ng-class="{ true: 'animate-intro-slide' }[vm.view.current === vm.view.views.login]">
                    <div ng-bind-html="vm.platform.Constants.Get(vm.global.Constants.IntroPanel1_Message)"></div>
                    <div class="buttons">
                        <button class="btn btn-icon btn-next" title="{{ vm.platform.Constants.Get(vm.global.Constants.Button_Next_Label) }}" ng-click="vm.introduction.displayPanel(2)">
                            <i class="fa fa-step-forward" aria-hidden="true"></i>
                            <span class="sr-only">{{ vm.platform.Constants.Get(vm.global.Constants.Button_Next_Label) }}</span>
                        </button>
                    </div>
                </div>
                <div id="intro-panel-2" class="well well-sm dark" ng-show="vm.introduction.currentPanel === 2" ng-class="{ true: 'animate-intro-slide' }[vm.view.current === vm.view.views.login]">
                    <div ng-bind-html="vm.platform.Constants.Get(vm.global.Constants.IntroPanel2_Message)"></div>
                    <div class="buttons">
                        <button class="btn btn-icon btn-prev" title="{{ vm.platform.Constants.Get(vm.global.Constants.Button_Previous_Label) }}" ng-click="vm.introduction.displayPanel(1)">
                            <i class="fa fa-step-backward" aria-hidden="true"></i>
                            <span class="sr-only">{{ vm.platform.Constants.Get(vm.global.Constants.Button_Previous_Label) }}</span>
                        </button>
                        <button class="btn btn-icon btn-next" title="{{ vm.platform.Constants.Get(vm.global.Constants.Button_Next_Label) }}" ng-click="vm.introduction.displayPanel(3)">
                            <i class="fa fa-step-forward" aria-hidden="true"></i>
                            <span class="sr-only">{{ vm.platform.Constants.Get(vm.global.Constants.Button_Next_Label) }}</span>
                        </button>
                    </div>
                </div>
                <div id="intro-panel-3" class="well well-sm dark" ng-show="vm.introduction.currentPanel === 3" ng-class="{ true: 'animate-intro-slide' }[vm.view.current === vm.view.views.login]">
                    <div ng-bind-html="vm.platform.Constants.Get(vm.global.Constants.IntroPanel3_Message)"></div>
                    <div class="buttons">
                        <button class="btn btn-icon btn-prev" title="{{ vm.platform.Constants.Get(vm.global.Constants.Button_Previous_Label) }}" ng-click="vm.introduction.displayPanel(2)">
                            <i class="fa fa-step-backward" aria-hidden="true"></i>
                            <span class="sr-only">{{ vm.platform.Constants.Get(vm.global.Constants.Button_Previous_Label) }}</span>
                        </button>
                        <button class="btn btn-icon btn-next" title="{{ vm.platform.Constants.Get(vm.global.Constants.Button_Next_Label) }}" ng-click="vm.introduction.displayPanel(4)">
                            <i class="fa fa-step-forward" aria-hidden="true"></i>
                            <span class="sr-only">{{ vm.platform.Constants.Get(vm.global.Constants.Button_Next_Label) }}</span>
                        </button>
                    </div>
                </div>
                <div id="intro-panel-4" class="well well-sm dark" ng-show="vm.introduction.currentPanel === 4" ng-class="{ true: 'animate-intro-slide' }[vm.view.current === vm.view.views.login]">
                    <div ng-bind-html="vm.platform.Constants.Get(vm.global.Constants.IntroPanel4_Message)"></div>
                    <div class="buttons">
                        <button class="btn btn-icon btn-prev" title="{{ vm.platform.Constants.Get(vm.global.Constants.Button_Previous_Label) }}" ng-click="vm.introduction.displayPanel(3)">
                            <i class="fa fa-step-backward" aria-hidden="true"></i>
                            <span class="sr-only">{{ vm.platform.Constants.Get(vm.global.Constants.Button_Previous_Label) }}</span>
                        </button>
                        <button class="btn btn-icon btn-next" title="{{ vm.platform.Constants.Get(vm.global.Constants.Button_Next_Label) }}" ng-click="vm.introduction.displayPanel(5)">
                            <i class="fa fa-step-forward" aria-hidden="true"></i>
                            <span class="sr-only">{{ vm.platform.Constants.Get(vm.global.Constants.Button_Next_Label) }}</span>
                        </button>
                    </div>
                </div>
                <div id="intro-panel-5" class="well well-sm dark" ng-show="vm.introduction.currentPanel === 5" ng-class="{ true: 'animate-intro-slide' }[vm.view.current === vm.view.views.login]">
                    <div ng-bind-html="vm.platform.Constants.Get(vm.global.Constants.IntroPanel5_Message)"></div>
                    <div class="buttons">
                        <button class="btn btn-icon btn-prev" title="{{ vm.platform.Constants.Get(vm.global.Constants.Button_Previous_Label) }}" ng-click="vm.introduction.displayPanel(4)">
                            <i class="fa fa-step-backward" aria-hidden="true"></i>
                            <span class="sr-only">{{ vm.platform.Constants.Get(vm.global.Constants.Button_Previous_Label) }}</span>
                        </button>
                        <button class="btn btn-icon btn-next" title="{{ vm.platform.Constants.Get(vm.global.Constants.Button_Next_Label) }}" ng-click="vm.introduction.displayPanel(6)">
                            <i class="fa fa-step-forward" aria-hidden="true"></i>
                            <span class="sr-only">{{ vm.platform.Constants.Get(vm.global.Constants.Button_Next_Label) }}</span>
                        </button>
                    </div>
                </div>
                <div id="intro-panel-6" class="well well-sm dark" ng-show="vm.introduction.currentPanel === 6" ng-class="{ true: 'animate-intro-slide' }[vm.view.current === vm.view.views.login]">
                    <div ng-bind-html="vm.platform.Constants.Get(vm.global.Constants.IntroPanel6_Message)"></div>
                    <div class="buttons">
                        <button class="btn btn-icon btn-prev" title="{{ vm.platform.Constants.Get(vm.global.Constants.Button_Previous_Label) }}" ng-click="vm.introduction.displayPanel(5)">
                            <i class="fa fa-step-backward" aria-hidden="true"></i>
                            <span class="sr-only">{{ vm.platform.Constants.Get(vm.global.Constants.Button_Previous_Label) }}</span>
                        </button>
                        <button class="btn btn-icon btn-next" title="{{ vm.platform.Constants.Get(vm.global.Constants.Button_Next_Label) }}" ng-click="vm.introduction.displayPanel(7)">
                            <i class="fa fa-step-forward" aria-hidden="true"></i>
                            <span class="sr-only">{{ vm.platform.Constants.Get(vm.global.Constants.Button_Next_Label) }}</span>
                        </button>
                    </div>
                </div>
                <div id="intro-panel-7" class="well well-sm dark" ng-show="vm.introduction.currentPanel === 7" ng-class="{ true: 'animate-intro-slide' }[vm.view.current === vm.view.views.login]">
                    <div ng-bind-html="vm.platform.Constants.Get(vm.global.Constants.IntroPanel7_Message)"></div>
                    <div class="buttons">
                        <button class="btn btn-icon btn-prev" title="{{ vm.platform.Constants.Get(vm.global.Constants.Button_Previous_Label) }}" ng-click="vm.introduction.displayPanel(6)">
                            <i class="fa fa-step-backward" aria-hidden="true"></i>
                            <span class="sr-only">{{ vm.platform.Constants.Get(vm.global.Constants.Button_Previous_Label) }}</span>
                        </button>
                        <button class="btn btn-icon btn-next" title="{{ vm.platform.Constants.Get(vm.global.Constants.Button_Next_Label) }}" ng-click="vm.introduction.displayPanel(8)">
                            <i class="fa fa-step-forward" aria-hidden="true"></i>
                            <span class="sr-only">{{ vm.platform.Constants.Get(vm.global.Constants.Button_Next_Label) }}</span>
                        </button>
                    </div>
                </div>
                <div id="intro-panel-8" class="well well-sm dark" ng-show="vm.introduction.currentPanel === 8" ng-class="{ true: 'animate-intro-slide' }[vm.view.current === vm.view.views.login]">
                    <div ng-bind-html="vm.platform.Constants.Get(vm.global.Constants.IntroPanel8_Message)"></div>
                    <div class="buttons">
                        <button class="btn btn-icon btn-prev" title="{{ vm.platform.Constants.Get(vm.global.Constants.Button_Previous_Label) }}" ng-click="vm.introduction.displayPanel(7)">
                            <i class="fa fa-step-backward" aria-hidden="true"></i>
                            <span class="sr-only">{{ vm.platform.Constants.Get(vm.global.Constants.Button_Previous_Label) }}</span>
                        </button>
                        <button class="btn btn-icon btn-next" title="{{ vm.platform.Constants.Get(vm.global.Constants.Button_Next_Label) }}" ng-click="vm.introduction.displayPanel(9)">
                            <i class="fa fa-step-forward" aria-hidden="true"></i>
                            <span class="sr-only">{{ vm.platform.Constants.Get(vm.global.Constants.Button_Next_Label) }}</span>
                        </button>
                    </div>
                </div>
                <div id="intro-panel-9" class="well well-sm dark" ng-show="vm.introduction.currentPanel === 9" ng-class="{ true: 'animate-intro-slide' }[vm.view.current === vm.view.views.login]">
                    <div ng-bind-html="vm.platform.Constants.Get(vm.global.Constants.IntroPanel9_Message)"></div>
                    <div class="buttons">
                        <button class="btn btn-icon btn-prev" title="{{ vm.platform.Constants.Get(vm.global.Constants.Button_Previous_Label) }}" ng-click="vm.introduction.displayPanel(8)">
                            <i class="fa fa-step-backward" aria-hidden="true"></i>
                            <span class="sr-only">{{ vm.platform.Constants.Get(vm.global.Constants.Button_Previous_Label) }}</span>
                        </button>
                        <button class="btn btn-icon btn-next" title="{{ vm.platform.Constants.Get(vm.global.Constants.Button_Next_Label) }}" ng-click="vm.introduction.displayPanel(10)">
                            <i class="fa fa-step-forward" aria-hidden="true"></i>
                            <span class="sr-only">{{ vm.platform.Constants.Get(vm.global.Constants.Button_Next_Label) }}</span>
                        </button>
                    </div>
                </div>
                <div id="intro-panel-10" class="well well-sm dark" ng-show="vm.introduction.currentPanel === 10" ng-class="{ true: 'animate-intro-slide' }[vm.view.current === vm.view.views.login]">
                    <div ng-bind-html="vm.platform.Constants.Get(vm.global.Constants.IntroPanel10_Message)"></div>
                    <div class="buttons">
                        <button class="btn btn-icon btn-prev" title="{{ vm.platform.Constants.Get(vm.global.Constants.Button_Previous_Label) }}" ng-click="vm.introduction.displayPanel(9)">
                            <i class="fa fa-step-backward" aria-hidden="true"></i>
                            <span class="sr-only">{{ vm.platform.Constants.Get(vm.global.Constants.Button_Previous_Label) }}</span>
                        </button>
                        <button class="btn btn-icon btn-next" title="{{ vm.platform.Constants.Get(vm.global.Constants.Button_Next_Label) }}" ng-click="vm.introduction.displayPanel(11)">
                            <i class="fa fa-step-forward" aria-hidden="true"></i>
                            <span class="sr-only">{{ vm.platform.Constants.Get(vm.global.Constants.Button_Next_Label) }}</span>
                        </button>
                    </div>
                </div>
                <div id="intro-panel-11" class="well well-sm dark" ng-show="vm.introduction.currentPanel === 11" ng-class="{ true: 'animate-intro-slide' }[vm.view.current === vm.view.views.login]">
                    <div ng-bind-html="vm.platform.Constants.Get(vm.global.Constants.IntroPanel11_Message)"></div>
                    <div class="buttons">
                        <button class="btn btn-icon btn-prev" title="{{ vm.platform.Constants.Get(vm.global.Constants.Button_Previous_Label) }}" ng-click="vm.introduction.displayPanel(10)">
                            <i class="fa fa-step-backward" aria-hidden="true"></i>
                            <span class="sr-only">{{ vm.platform.Constants.Get(vm.global.Constants.Button_Previous_Label) }}</span>
                        </button>
                        <button class="btn btn-icon btn-next" title="{{ vm.platform.Constants.Get(vm.global.Constants.Button_Next_Label) }}" ng-click="vm.introduction.displayPanel(12)">
                            <i class="fa fa-step-forward" aria-hidden="true"></i>
                            <span class="sr-only">{{ vm.platform.Constants.Get(vm.global.Constants.Button_Next_Label) }}</span>
                        </button>
                    </div>
                </div>
                <div id="intro-panel-12" class="well well-sm dark" ng-show="vm.introduction.currentPanel === 12" ng-class="{ true: 'animate-intro-slide' }[vm.view.current === vm.view.views.login]">
                    <div ng-bind-html="vm.platform.Constants.Get(vm.global.Constants.IntroPanel12_Message)"></div>
                    <div class="buttons">
                        <button class="btn btn-icon btn-prev" title="{{ vm.platform.Constants.Get(vm.global.Constants.Button_Previous_Label) }}" ng-click="vm.introduction.displayPanel(11)">
                            <i class="fa fa-step-backward" aria-hidden="true"></i>
                            <span class="sr-only">{{ vm.platform.Constants.Get(vm.global.Constants.Button_Previous_Label) }}</span>
                        </button>
                        <button class="btn btn-icon btn-next" title="{{ vm.platform.Constants.Get(vm.global.Constants.Button_Next_Label) }}" ng-click="vm.introduction.displayPanel(13)">
                            <i class="fa fa-step-forward" aria-hidden="true"></i>
                            <span class="sr-only">{{ vm.platform.Constants.Get(vm.global.Constants.Button_Next_Label) }}</span>
                        </button>
                    </div>
                </div>
                <div id="intro-panel-13" class="well well-sm dark" ng-show="vm.introduction.currentPanel === 13" ng-class="{ true: 'animate-intro-slide' }[vm.view.current === vm.view.views.login]">
                    <div ng-bind-html="vm.platform.Constants.Get(vm.global.Constants.IntroPanel13_Message)"></div>
                    <div class="buttons">
                        <button class="btn btn-icon btn-prev" title="{{ vm.platform.Constants.Get(vm.global.Constants.Button_Previous_Label) }}" ng-click="vm.introduction.displayPanel(11)">
                            <i class="fa fa-step-backward" aria-hidden="true"></i>
                            <span class="sr-only">{{ vm.platform.Constants.Get(vm.global.Constants.Button_Previous_Label) }}</span>
                        </button>
                    </div>
                </div>
            </div>
            <form name="vm.syncForm" class="animate-fade" ng-hide="vm.sync.showConfirmation" novalidate>
                <label class="sr-only" for="txtClientSecret">{{ vm.platform.Constants.Get(vm.global.Constants.Field_ClientSecret_Label) }}</label>
                <div class="form-group secret-form-group" ng-class="{ true: 'has-error' }[vm.syncForm.$submitted && vm.syncForm.txtClientSecret.$invalid]">
                    <input ng-model="vm.settings.secret" type="password" class="form-control" name="txtClientSecret" ng-change="vm.events.syncForm_ClientSecret_Change()"
                           ng-model-options="{ getterSetter: true }" ng-disabled="vm.sync.enabled()" maxlength="150"
                           placeholder="{{ vm.platform.Constants.Get(vm.global.Constants.Field_ClientSecret_Description) }}" tabindex="1" required />
                    <div class="progress" ng-hide="!vm.settings.secret()">
                        <div class="progress-bar" role="progressbar" style="width: {{ (vm.settings.secretComplexity.complexity === 0) ? 100 : vm.settings.secretComplexity.complexity }}%" ng-class="{
                            'progress-bar-warning': vm.settings.secretComplexity.complexity > 25 && vm.settings.secretComplexity.complexity < 50,
                            'progress-bar-success': vm.settings.secretComplexity.complexity > 50 && vm.settings.secretComplexity.complexity <= 100
                            }">
                        </div>
                    </div>
                    <div class="progress-bar-background"></div>
                </div>

                <label class="sr-only" for="txtId">{{ vm.platform.Constants.Get(vm.global.Constants.Field_Id_Label) }}</label>
                <div class="form-group">
                    <input name="txtId" ng-model="vm.settings.id" class="form-control" ng-model-options="{ getterSetter: true }"
                           ng-disabled="vm.sync.enabled()" placeholder="{{ vm.platform.Constants.Get(vm.global.Constants.Field_Id_Description) }}" 
                           maxlength="32" tabindex="2" />
                </div>

                <div id="syncButtonPanel" class="text-center">
                    <button id="btnSync" type="submit" class="btn btn-default" ng-disabled="!vm.settings.secret()" ng-click="vm.events.syncForm_EnableSync_Click()" tabindex="4">
                        {{ vm.platform.Constants.Get(vm.global.Constants.Button_Sync_Enable_Label) }}
                    </button>
                </div>
            </form>
                
            <div class="confirm well well-sm animate-fade" ng-show="vm.sync.showConfirmation">
                <h4>{{ vm.platform.Constants.Get(vm.global.Constants.ConfirmReplaceBookmarks_Title) }}</h4>
                <p>{{ vm.platform.Constants.Get(vm.global.Constants.ConfirmReplaceBookmarks_Message) }}</p>
                <div class="buttons">
                    <button id="btnSync_Confirm" type="button" class="btn btn-default" ng-click="vm.events.syncForm_ConfirmSync_Click()" tabindex="4">
                        {{ vm.platform.Constants.Get(vm.global.Constants.Button_Confirm_Label) }}
                    </button>
                    <button id="btnSync_Cancel" type="button" class="btn btn-default" ng-click="vm.view.reset()" tabindex="5">
                        {{ vm.platform.Constants.Get(vm.global.Constants.Button_Deny_Label) }}
                    </button>
                </div>
            </div>
        </div>
        
        <div id="main-panel" class="view animate-fade" ng-show="vm.view.current === vm.view.views.main">
            <div class="header-panel clearfix">
                <div class="search-form not-searching">
                    <div class="lookahead-container">
                        <span class="measure" data-ng-bind-html="vm.search.queryMeasure"></span>
                        <span class="lookahead" ng-show="vm.search.lookahead">{{ vm.search.lookahead }}</span>
                    </div>
                    <label for="txtSearch"><i class="fa fa-search"></i></label>
                    <input class="form-control" name="txtSearch" maxlength="200" placeholder="{{ vm.platform.Constants.Get(vm.global.Constants.Field_Search_Description) }}" ng-model="vm.search.query" 
                           ng-change="vm.events.searchForm_SearchText_Change()" ng-keydown="vm.events.searchForm_SearchText_KeyDown($event)" ng-trim="false" tabindex="1" />
                </div>
                
                <button class="btn btn-icon btn-toggle-bookmark" ng-class="{ 'active': vm.bookmark.active }" title="{{ vm.bookmark.active ? vm.platform.Constants.Get(vm.global.Constants.Button_EditBookmark_Label) : vm.platform.Constants.Get(vm.global.Constants.Button_AddBookmark_Label) }}" 
                        ng-click="vm.events.toggleBookmark_Click()" tabindex="1000">
                    <i class="fa" aria-hidden="true"></i>
                    <span class="sr-only">{{ vm.bookmark.active ? vm.platform.Constants.Get(vm.global.Constants.Button_EditBookmark_Label) : vm.platform.Constants.Get(vm.global.Constants.Button_AddBookmark_Label) }}</span>
                </button>
                
                <button class="btn btn-icon btn-settings" title="{{ vm.platform.Constants.Get(vm.global.Constants.Button_Settings_Label) }}" ng-click="vm.view.change(vm.view.views.settings)" tabindex="1001">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                    <span class="sr-only">{{ vm.platform.Constants.Get(vm.global.Constants.Button_Settings_Label) }}</span>
                </button>
            </div>
            
            <div class="search-results-panel animate-fold-max" ng-show="!!vm.search.results">
                <h4 class="no-bookmarks" ng-show="vm.search.results.length === 0">
                    {{ vm.platform.Constants.Get(vm.global.Constants.NoSearchResults_Message) }}
                </h4>
                <div class="list-group" ng-show="vm.search.results.length > 0">
                    <div class="list-group-item" ng-repeat="result in vm.search.results track by result.id">
                        <a href="{{ result.url }}" ng-click="vm.events.searchForm_SearchResult_Click($event)"  tabindex="{{ $index + 1 }}"
                           ng-keydown="vm.events.searchForm_SearchResult_KeyDown($event)">
                            <h4 class="list-group-item-heading">{{ result.title }}</h4>
                            <div class="list-group-item-text">
                                <div class="description">{{ result.description }}</div>
                                <div class="url">{{ result.url }}</div>
                            </div>
                        </a>
                        <button class="btn btn-icon" title="{{ vm.platform.Constants.Get(vm.global.Constants.Button_EditBookmark_Label) }}" ng-click="vm.events.searchForm_UpdateBookmark_Click(result)">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            <span class="sr-only">{{ vm.platform.Constants.Get(vm.global.Constants.Button_EditBookmark_Label) }}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="bookmark-panel" class="view animate-fade" ng-show="vm.view.current === vm.view.views.bookmark">
            <div class="header-panel clearfix">
                <h2>
                    {{ (vm.bookmark.displayUpdateForm) ? vm.platform.Constants.Get(vm.global.Constants.BookmarkPanel_Title_Edit) : vm.platform.Constants.Get(vm.global.Constants.BookmarkPanel_Title_Add) }}
                </h2>
                <button class="btn btn-icon btn-close" title="{{ vm.platform.Constants.Get(vm.global.Constants.Button_Close_Label) }}" ng-click="vm.view.displayMain()"  tabindex="1000">
                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                    <span class="sr-only">{{ vm.platform.Constants.Get(vm.global.Constants.Button_Close_Label) }}</span>
                </button>
            </div>
            
            <div class="bookmark-form-panel animate-fade">
                <form id="bookmarkForm" name="vm.bookmarkForm" novalidate>
                    <div class="form-group" ng-class="{ true: 'has-error' }[vm.bookmarkForm.bookmarkTitle.$touched && vm.bookmarkForm.bookmarkTitle.$invalid]">
                        <label for="bookmarkTitle" class="sr-only">{{ vm.platform.Constants.Get(vm.global.Constants.BookmarkPanel_Field_Title_Label) }}</label>
                        <input type="text" class="form-control" name="bookmarkTitle" ng-model="vm.bookmark.current.title" maxlength="255" tabindex="1"
                               placeholder="{{ vm.platform.Constants.Get(vm.global.Constants.BookmarkPanel_Field_Title_Label) }}" required>
                    </div>
                    <div class="form-group" ng-class="{ true: 'has-error' }[vm.bookmarkForm.bookmarkUrl.$touched && vm.bookmarkForm.bookmarkUrl.$invalid]">
                        <label for="bookmarkUrl" class="sr-only">{{ vm.platform.Constants.Get(vm.global.Constants.BookmarkPanel_Field_Url_Label) }}</label>
                        <input type="text" class="form-control" name="bookmarkUrl" placeholder="http(s)://..." ng-model="vm.bookmark.current.url" 
                               ng-change="vm.events.bookmarkForm_BookmarkUrl_Change()" maxlength="255" tabindex="2"
                               placeholder="{{ vm.platform.Constants.Get(vm.global.Constants.BookmarkPanel_Field_Url_Label) }}" required>
                    </div>
                    <div class="form-group">
                        <label for="bookmarkDescription" class="sr-only">{{ vm.platform.Constants.Get(vm.global.Constants.BookmarkPanel_Field_Description_Label) }}</label>
                        <textarea class="form-control" name="bookmarkDescription" rows="3" ng-model="vm.bookmark.current.description" ng-change="vm.events.bookmarkForm_BookmarkDescription_Change()"
                                  tabindex="3" placeholder="{{ vm.platform.Constants.Get(vm.global.Constants.BookmarkPanel_Field_Description_Label) }}"></textarea>
                    </div>
                    <div class="form-group tags-form-group">
                        <label for="bookmarkTags" class="sr-only">{{ vm.platform.Constants.Get(vm.global.Constants.BookmarkPanel_Field_Tags_Label) }}</label>
                        <div class="lookahead-container">
                            <span class="measure" ng-bind-html="vm.bookmark.tagTextMeasure"></span>
                            <span class="lookahead" ng-bind-html="vm.bookmark.tagLookahead" ng-show="vm.bookmark.tagLookahead"></span>
                        </div>
                        <input type="text" class="form-control" name="bookmarkTags" placeholder="{{ vm.platform.Constants.Get(vm.global.Constants.BookmarkPanel_Field_Tags_Placeholder) }}" maxlength="50" tabindex="4"
                                ng-model="vm.bookmark.tagText" ng-change="vm.events.bookmarkForm_BookmarkTags_Change()" ng-keydown="vm.events.bookmarkForm_BookmarkTags_KeyDown($event)" ng-trim="false">
                        <div class="tags clearfix" ng-show="vm.bookmark.current.tags.length > 0">
                            <button class="label label-default" ng-repeat="tag in vm.bookmark.current.tags track by $index" ng-click="vm.events.bookmarkForm_RemoveTag_Click(tag)">
                                {{ tag }}
                                <i class="fa fa-times" aria-hidden="true"></i>
                                <span class="sr-only">{{ vm.platform.Constants.Get(vm.global.Constants.BookmarkPanel_Button_RemoveTag_Label) }}</span>
                            </button>
                        </div>
                    </div>
                    <div class="buttons">
                        <button type="submit" class="btn btn-default" ng-if="!vm.bookmark.displayUpdateForm" ng-click="vm.events.bookmarkForm_CreateBookmark_Click()" tabindex="6">
                            {{ vm.platform.Constants.Get(vm.global.Constants.BookmarkPanel_Button_AddBookmark_Label) }}
                        </button>
                        <button type="submit" class="btn btn-default" ng-if="vm.bookmark.displayUpdateForm" ng-click="vm.events.bookmarkForm_UpdateBookmark_Click()" tabindex="6">
                            {{ vm.platform.Constants.Get(vm.global.Constants.BookmarkPanel_Button_UpdateBookmark_Label) }}
                        </button>
                        <button type="button" class="btn btn-default" ng-if="vm.bookmark.displayUpdateForm" ng-click="vm.events.bookmarkForm_DeleteBookmark_Click()" tabindex="7">
                            {{ vm.platform.Constants.Get(vm.global.Constants.BookmarkPanel_Button_RemoveBookmark_Label) }}
                        </button>
                    </div>
                </form>
            </div>
        </div>
        
        <div id="settings-panel" class="view animate-fade" ng-show="vm.view.current === vm.view.views.settings">
            <div class="header-panel clearfix">
                <h2>{{ vm.platform.Constants.Get(vm.global.Constants.Button_Settings_Label) }}</h2>
                <button class="btn btn-icon btn-close" title="{{ vm.platform.Constants.Get(vm.global.Constants.Button_Close_Label) }}" 
                        ng-click="vm.view.displayMain()" tabindex="1001">
                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                    <span class="sr-only">{{ vm.platform.Constants.Get(vm.global.Constants.Button_Close_Label) }}</span>
                </button>
            </div>
            
            <div class="sync-panel well well-sm">
                <h4 ng-click="vm.settings.visiblePanel = vm.settings.panels.sync"
                    ng-class="{ active: (vm.settings.visiblePanel === vm.settings.panels.sync) }">
                    {{ vm.platform.Constants.Get(vm.global.Constants.SyncPanel_Title) }}
                    <i class="fa fa-arrow-down"></i>
                </h4>
                
                <div class="panel-content" ng-class="{ true: 'animate-fold' }[vm.view.current === vm.view.views.settings]" 
                     ng-show="vm.settings.visiblePanel === vm.settings.panels.sync">
                    <div ng-hide="vm.sync.enabled()">
                        <p ng-bind-html="vm.platform.Constants.Get(vm.global.Constants.SyncPanel_Message)"></p>
                    </div>
                    
                    <div class="text-center" ng-hide="vm.settings.service.displayCancelSyncConfirmation">
                        <div class="id-panel" ng-show="vm.sync.enabled()"> 
                            <label>{{ vm.platform.Constants.Get(vm.global.Constants.SyncPanel_Id_Label) }}:</label>
                            <p id="id">{{ vm.settings.id() }}</p>
                            <div id="qr"></div>
                        </div>
                        
                        <div class="checkbox">
                            <label>
                                <input id="includeBookmarksBar" type="checkbox" ng-model="vm.settings.includeBookmarksBar" ng-model-options="{ getterSetter: true }" 
                                 ng-click="vm.events.includeBookmarksBar_Click()" tabindex="1" />
                                <span>{{ vm.platform.Constants.Get(vm.global.Constants.SyncPanel_IncludeBookmarksBar_Label) }}</span>
                            </label>
                        </div>
                        
                        <button class="btn btn-default" ng-click="vm.events.syncForm_DisableSync_Click();" 
                                ng-show="vm.sync.enabled()" tabindex="3">
                            {{ vm.platform.Constants.Get(vm.global.Constants.Button_Sync_Disable_Label) }}
                        </button>
                    </div>

                    <div class="confirm well well-sm animate-fade" ng-show="vm.settings.service.displayCancelSyncConfirmation">
                        <p>There is currently a sync in progress, if you proceed your local synced data will be incomplete. Proceed?</p>
                        <div class="buttons text-center">
                            <button id="btnSync_Confirm" type="button" class="btn btn-default" ng-click="vm.events.syncForm_CancelSyncConfirmation_Click()" tabindex="4">
                                {{ vm.platform.Constants.Get(vm.global.Constants.Button_Confirm_Label) }}
                            </button>
                            <button id="btnSync_Cancel" type="button" class="btn btn-default" ng-click="vm.settings.service.displayCancelSyncConfirmation = false" tabindex="5">
                                {{ vm.platform.Constants.Get(vm.global.Constants.Button_Deny_Label) }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="status-panel well well-sm">
                <h4 ng-click="vm.settings.visiblePanel = vm.settings.panels.serviceStatus"
                    ng-class="{ active: (vm.settings.visiblePanel === vm.settings.panels.serviceStatus) }">
                    {{ vm.platform.Constants.Get(vm.global.Constants.ServiceStatus_Label) }}
                    <i class="fa fa-arrow-down"></i>
                </h4>
                <div class="panel-content" ng-class="{ true: 'animate-fold' }[vm.view.current === vm.view.views.settings]" 
                     ng-show="vm.settings.visiblePanel === vm.settings.panels.serviceStatus">
                    <div class="status-display animate-fade" ng-hide="vm.settings.service.displayUpdateServiceUrlForm">
                        <div class="status-url-panel">
                            <i class="fa fa-check-circle text-success" title="{{ vm.platform.Constants.Get(vm.global.Constants.ServiceStatus_Online) }}" ng-show="vm.settings.service.status === vm.global.ServiceStatus.Online">
                                <span class="sr-only">{{ vm.platform.Constants.Get(vm.global.Constants.ServiceStatus_Online) }}</span>
                            </i>
                            <i class="fa fa-times-circle text-danger" title="{{ vm.platform.Constants.Get(vm.global.Constants.ServiceStatus_Offline) }}" ng-show="vm.settings.service.status === vm.global.ServiceStatus.Offline">
                                <span class="sr-only">{{ vm.platform.Constants.Get(vm.global.Constants.ServiceStatus_Offline) }}</span>                                    
                            </i>
                            <i class="fa fa-exclamation-circle text-warning" title="{{ vm.platform.Constants.Get(vm.global.Constants.ServiceStatus_NoNewSyncs) }}" ng-show="vm.settings.service.status === vm.global.ServiceStatus.NoNewSyncs">
                                <span class="sr-only">{{ vm.platform.Constants.Get(vm.global.Constants.ServiceStatus_NoNewSyncs) }}</span>                                    
                            </i>
                            <a class="status-url overflow-ellipses" ng-href="{{ vm.settings.service.url() }}" ng-click="vm.events.searchForm_SearchResult_Click($event)" title="{{ vm.settings.service.url() }}" tabindex="4">
                                {{ vm.settings.service.url() }}
                            </a>
                        </div>
                        <div class="text-center">
                            <p class="status-message" ng-show="!!vm.settings.service.statusMessage">
                                {{ vm.settings.service.statusMessage }}
                            </p> 
                            <button class="btn btn-default" ng-click="vm.events.updateServiceUrlForm_Display_Click()" tabindex="5">
                                {{ vm.platform.Constants.Get(vm.global.Constants.Button_UpdateServiceUrl_Label) }}
                            </button>
                        </div>
                    </div>
                    
                    <div class="update-service-url animate-fade" ng-show="vm.settings.service.displayUpdateServiceUrlForm">
                        <form name="vm.updateServiceUrlForm" ng-show="!vm.settings.service.displayUpdateServiceUrlConfirmation" novalidate>
                            <div>
                                <p ng-bind-html="vm.platform.Constants.Get(vm.global.Constants.UpdateServiceUrlForm_Description)"></p>
                                <div class="form-group">
                                    <input name="txtServiceUrl" class="form-control" ng-model="vm.settings.service.newServiceUrl" ng-keypress="vm.events.updateServiceUrlForm_Update_KeyPress($event)"
                                        placeholder="{{ vm.platform.Constants.Get(vm.global.Constants.UpdateServiceUrlForm_Placeholder) }}" maxlength="128" tabindex="6" required />
                                </div>
                            </div>
                            <div class="buttons">
                                <button type="submit" class="btn btn-default" ng-disabled="!vm.updateServiceUrlForm.txtServiceUrl.$dirty || !vm.settings.service.newServiceUrl" 
                                        ng-click="vm.events.updateServiceUrlForm_Update_Click()" tabindex="7">
                                    {{ vm.platform.Constants.Get(vm.global.Constants.Button_UpdateServiceUrl_Submit_Label) }}
                                </button>
                                <button type="button" class="btn btn-default" ng-click="vm.view.reset()" tabindex="8">
                                    {{ vm.platform.Constants.Get(vm.global.Constants.Button_Cancel_Label) }}
                                </button>
                            </div>
                        </form>
                    
                        <div class="animate-fade" ng-show="vm.settings.service.displayUpdateServiceUrlConfirmation">
                            <p>
                                {{ vm.platform.Constants.Get(vm.global.Constants.ConfirmUpdateServiceUrl_Message) }}
                            </p>
                            <div class="buttons">
                                <button class="btn btn-default" ng-click="vm.events.updateServiceUrlForm_Confirm_Click()" tabindex="14">
                                    {{ vm.platform.Constants.Get(vm.global.Constants.Button_Confirm_Label) }}
                                </button>
                                <button type="reset" class="btn btn-default" ng-click="vm.settings.service.displayUpdateServiceUrlConfirmation = false" tabindex="15">
                                    {{ vm.platform.Constants.Get(vm.global.Constants.Button_Deny_Label) }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="backup-restore-panel well well-sm">
                <h4 ng-click="vm.settings.visiblePanel = vm.settings.panels.backupRestore"
                    ng-class="{ active: (vm.settings.visiblePanel === vm.settings.panels.backupRestore) }">
                    {{ vm.platform.Constants.Get(vm.global.Constants.BackupRestore_Title) }}
                    <i class="fa fa-arrow-down"></i>
                </h4>
                
                <div class="panel-content" ng-class="{ true: 'animate-fold' }[vm.view.current === vm.view.views.settings]" 
                     ng-show="vm.settings.visiblePanel === vm.settings.panels.backupRestore">
                    <div class="animate-fade" ng-hide="vm.settings.backupRestoreResult">
                        <div class="animate-fade" ng-hide="vm.settings.displayRestoreForm">
                            <p class="introduction" ng-bind-html="vm.platform.Constants.Get(vm.global.Constants.BackupRestore_Message)"></p>
                            <div class="buttons">
                                <button class="btn btn-default" ng-click="vm.events.backupRestoreForm_Backup_Click()" tabindex="9">
                                    {{ vm.platform.Constants.Get(vm.global.Constants.Button_Backup_Label) }}
                                </button>
                                <button id="btnRestore" class="btn btn-default" ng-click="vm.events.backupRestoreForm_DisplayRestoreForm_Click()" tabindex="10">
                                    {{ vm.platform.Constants.Get(vm.global.Constants.Button_Restore_Label) }}
                                </button>
                                <a id="backupLink" class="hidden"></a>
                            </div>
                        </div>
                        
                        <div id="restoreForm" class="animate-fade" ng-show="vm.settings.displayRestoreForm && !vm.settings.displayRestoreConfirmation">
                            <p>{{ vm.platform.Constants.Get(vm.global.Constants.RestoreForm_Message) }}</p>                
                            <label for="dataToRestore" class="sr-only">{{ vm.platform.Constants.Get(vm.global.Constants.DataToRestore_Label) }}</label>
                            <textarea ng-model="vm.settings.dataToRestore" class="form-control" rows="3" tabindex="11"></textarea>
                            <div class="buttons">
                                <button id="btnRestoreData" class="btn btn-default" ng-disabled="!vm.settings.dataToRestoreIsValid()"
                                        ng-click="vm.events.backupRestoreForm_DisplayRestoreConfirmation_Click()" tabindex="12">
                                    {{ vm.domElements.btnRestoreData() }}
                                </button>
                                <button type="reset" class="btn btn-default" ng-click="vm.settings.displayRestoreForm = false" tabindex="13">
                                    {{ vm.platform.Constants.Get(vm.global.Constants.Button_Cancel_Label) }}
                                </button>
                            </div>
                        </div>
                        
                        <div class="animate-fade" ng-show="vm.settings.displayRestoreConfirmation">
                            <p>
                                {{ vm.sync.enabled() ? vm.platform.Constants.Get(vm.global.Constants.ConfirmRestore_Sync_Message) : vm.platform.Constants.Get(vm.global.Constants.ConfirmRestore_NoSync_Message) }}
                            </p>
                            <div class="buttons">
                                <button id="btn_ConfirmRestore" class="btn btn-default" ng-click="vm.events.backupRestoreForm_Restore_Click(vm.settings.dataToRestore)" tabindex="14">
                                    {{ vm.platform.Constants.Get(vm.global.Constants.Button_Confirm_Label) }}
                                </button>
                                <button type="reset" class="btn btn-default" ng-click="vm.view.reset()" tabindex="15">
                                    {{ vm.platform.Constants.Get(vm.global.Constants.Button_Deny_Label) }}
                                </button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="animate-fade" ng-show="vm.settings.backupRestoreResult">
                        <p>{{ vm.settings.backupRestoreResult }}</p>
                        <div class="buttons">
                            <button id="btn_RestoreComplete" type="reset" class="btn btn-default" ng-click="vm.settings.backupRestoreResult = null" tabindex="16">
                                {{ vm.platform.Constants.Get(vm.global.Constants.Button_Done_Label) }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="js/angular/angular.min.js"></script>
    <script src="js/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="js/angular-animate/angular-animate.min.js"></script>
    <script src="js/angular-complexify/build/angular-complexify.min.js"></script>
    <script src="js/underscore/underscore-min.js"></script>
    <script src="js/crypto-js/crypto-js.js" async></script>
    <script src="js/qrcode.js" async></script>
    <script src="js/global.js"></script>
    <script src="js/utility.js"></script>
    <script src="js/httpInterceptor.js"></script>
    <script src="js/api.js"></script>
    <script src="js/bookmarks.js"></script>
    <script src="js/platform.js"></script>
    <script src="js/platformImplementation.js"></script>
    <script src="js/app.js"></script>
</body>
</html>