<div class="view-content">
  <div class="header-panel">
    <h2>{{ vm.platformSvc.getI18nString(vm.Strings.Button.Settings) }}</h2>
    <icon-button type="'x-circle'" size="1.2em" title="{{ vm.platformSvc.getI18nString(vm.Strings.Button.Close) }}"
                 on-click="vm.utilitySvc.handleEvent(vm.close)" tab-index="1000"></icon-button>
  </div>
  <div class="panel-container">
    <sync-settings></sync-settings>
    <backup-restore-settings></backup-restore-settings>
    <preferences-settings></preferences-settings>
    <permissions-settings ng-if="!vm.utilitySvc.isMobilePlatform(vm.platformSvc.platformName)"></permissions-settings>
    <issues-settings></issues-settings>
    <about-settings></about-settings>
  </div>
</div>
