<div id="help-panel-1" class="animate-fade" data-ng-show="vm.help.currentPanel === 1"
  data-hm-swipeleft="vm.events.helpPanel1_Next_Click()">
  <div data-ng-bind-html="vm.platform.GetConstant(vm.globals.Constants.Login_helpPanel1_Message)"></div>
  <div class="pagination">
    <a class="next-link" href="#" data-ng-click="vm.events.helpPanel1_Next_Click()">
      <span>{{ vm.platform.GetConstant(vm.globals.Constants.Button_Next_Label) }}</span>
    </a>
  </div>
</div>
<div id="help-panel-2" class="animate-fade" data-ng-show="vm.help.currentPanel === 2"
  data-hm-swipeleft="vm.events.helpPanel2_Next_Click()" data-hm-swiperight="vm.events.helpPanel2_Prev_Click()">
  <div data-ng-bind-html="vm.platform.GetConstant(vm.globals.Constants.Login_helpPanel2_Message)"></div>
  <div class="pagination">
    <a class="prev-link" href="#" data-ng-click="vm.events.helpPanel2_Prev_Click()">
      <span>{{ vm.platform.GetConstant(vm.globals.Constants.Button_Previous_Label) }}</span>
    </a>
    <a class="next-link" href="#" data-ng-click="vm.events.helpPanel2_Next_Click()">
      <span>{{ vm.platform.GetConstant(vm.globals.Constants.Button_Next_Label) }}</span>
    </a>
  </div>
</div>
<div id="help-panel-3" class="animate-fade" data-ng-show="vm.help.currentPanel === 3"
  data-hm-swipeleft="vm.events.helpPanel3_Next_Click()" data-hm-swiperight="vm.events.helpPanel3_Prev_Click()">
  <div data-ng-bind-html="vm.platform.GetConstant(vm.globals.Constants.Login_helpPanel3_Message)"></div>
  <div class="pagination">
    <a class="prev-link" href="#" data-ng-click="vm.events.helpPanel3_Prev_Click()">
      <span>{{ vm.platform.GetConstant(vm.globals.Constants.Button_Previous_Label) }}</span>
    </a>
    <a class="next-link" href="#" data-ng-click="vm.events.helpPanel3_Next_Click()">
      <span>{{ vm.platform.GetConstant(vm.globals.Constants.Button_Next_Label) }}</span>
    </a>
  </div>
</div>
<div id="help-panel-4" class="animate-fade" data-ng-show="vm.help.currentPanel === 4"
  data-hm-swipeleft="vm.events.helpPanel4_Next_Click()" data-hm-swiperight="vm.events.helpPanel4_Prev_Click()">
  <div data-ng-bind-html="vm.platform.GetConstant(vm.globals.Constants.Login_helpPanel4_Message)"></div>
  <div class="pagination">
    <a class="prev-link" href="#" data-ng-click="vm.events.helpPanel4_Prev_Click()">
      <span>{{ vm.platform.GetConstant(vm.globals.Constants.Button_Previous_Label) }}</span>
    </a>
    <a class="next-link" href="#" data-ng-click="vm.events.helpPanel4_Next_Click()">
      <span>{{ vm.platform.GetConstant(vm.globals.Constants.Button_Next_Label) }}</span>
    </a>
  </div>
</div>
<div id="help-panel-5" class="animate-fade" data-ng-show="vm.help.currentPanel === 5"
  data-hm-swipeleft="vm.events.helpPanel5_Next_Click()" data-hm-swiperight="vm.events.helpPanel5_Prev_Click()">
  <div data-ng-bind-html="vm.platform.GetConstant(vm.globals.Constants.Login_helpPanel5_Message)"></div>
  <div class="pagination">
    <a class="prev-link" href="#" data-ng-click="vm.events.helpPanel5_Prev_Click()">
      <span>{{ vm.platform.GetConstant(vm.globals.Constants.Button_Previous_Label) }}</span>
    </a>
    <a class="next-link" href="#" data-ng-click="vm.events.helpPanel5_Next_Click()">
      <span>{{ vm.platform.GetConstant(vm.globals.Constants.Button_Next_Label) }}</span>
    </a>
  </div>
</div>
<div id="help-panel-6" class="animate-fade" data-ng-show="vm.help.currentPanel === 6"
  data-hm-swipeleft="vm.events.helpPanel6_Next_Click()" data-hm-swiperight="vm.events.helpPanel6_Prev_Click()">
  <div data-ng-bind-html="vm.platform.GetConstant(vm.globals.Constants.Login_helpPanel6_Message)"></div>
  <div class="pagination">
    <a class="prev-link" href="#" data-ng-click="vm.events.helpPanel6_Prev_Click()">
      <span>{{ vm.platform.GetConstant(vm.globals.Constants.Button_Previous_Label) }}</span>
    </a>
    <a class="next-link" href="#" data-ng-click="vm.events.helpPanel6_Next_Click()">
      <span>{{ vm.platform.GetConstant(vm.globals.Constants.Button_Next_Label) }}</span>
    </a>
  </div>
</div>
<div id="help-panel-7" class="animate-fade" data-ng-show="vm.help.currentPanel === 7"
  data-hm-swipeleft="vm.events.helpPanel7_Next_Click()" data-hm-swiperight="vm.events.helpPanel7_Prev_Click()">
  <div data-ng-bind-html="vm.platform.GetConstant(vm.globals.Constants.Login_helpPanel7_Message)"></div>
  <div class="pagination">
    <a class="prev-link" href="#" data-ng-click="vm.events.helpPanel7_Prev_Click()">
      <span>{{ vm.platform.GetConstant(vm.globals.Constants.Button_Previous_Label) }}</span>
    </a>
    <a class="next-link" href="#" data-ng-click="vm.events.helpPanel7_Next_Click()">
      <span>{{ vm.platform.GetConstant(vm.globals.Constants.Button_Next_Label) }}</span>
    </a>
  </div>
</div>
<div id="help-panel-8" class="animate-fade" data-ng-show="vm.help.currentPanel === 8"
  data-hm-swipeleft="vm.events.helpPanel8_Next_Click()" data-hm-swiperight="vm.events.helpPanel8_Prev_Click()">
  <div data-ng-bind-html="vm.platform.GetConstant(vm.globals.Constants.Login_helpPanel8_Message)"></div>
  <div class="pagination">
    <a class="prev-link" href="#" data-ng-click="vm.events.helpPanel8_Prev_Click()">
      <span>{{ vm.platform.GetConstant(vm.globals.Constants.Button_Previous_Label) }}</span>
    </a>
    <a class="next-link" href="#" data-ng-click="vm.events.helpPanel8_Next_Click()">
      <span>{{ vm.platform.GetConstant(vm.globals.Constants.Button_Next_Label) }}</span>
    </a>
  </div>
</div>
<div id="help-panel-9" class="animate-fade" data-ng-show="vm.help.currentPanel === 9"
  data-hm-swipeleft="vm.events.helpPanel9_Next_Click()" data-hm-swiperight="vm.events.helpPanel9_Prev_Click()">
  <div data-ng-bind-html="vm.platform.GetConstant(vm.globals.Constants.Login_helpPanel9_Message)"></div>
  <div class="pagination">
    <a class="prev-link" href="#" data-ng-click="vm.events.helpPanel9_Prev_Click()">
      <span>{{ vm.platform.GetConstant(vm.globals.Constants.Button_Previous_Label) }}</span>
    </a>
    <a class="next-link" href="#" data-ng-click="vm.events.helpPanel9_Next_Click()">
      <span>{{ vm.platform.GetConstant(vm.globals.Constants.Button_Next_Label) }}</span>
    </a>
  </div>
</div>
<div id="help-panel-10" class="animate-fade" data-ng-show="vm.help.currentPanel === 10"
  data-hm-swipeleft="vm.events.helpPanel10_Next_Click()" data-hm-swiperight="vm.events.helpPanel10_Prev_Click()">
  <div data-ng-bind-html="vm.platform.GetConstant(vm.globals.Constants.Login_helpPanel10_Message)"></div>
  <div class="pagination">
    <a class="prev-link" href="#" data-ng-click="vm.events.helpPanel10_Prev_Click()">
      <span>{{ vm.platform.GetConstant(vm.globals.Constants.Button_Previous_Label) }}</span>
    </a>
    <a class="next-link" href="#" data-ng-click="vm.events.helpPanel10_Next_Click()">
      <span>{{ vm.platform.GetConstant(vm.globals.Constants.Button_Next_Label) }}</span>
    </a>
  </div>
</div>
<div id="help-panel-11" class="animate-fade" data-ng-show="vm.help.currentPanel === 11"
  data-hm-swipeleft="vm.events.helpPanel11_Next_Click()" data-hm-swiperight="vm.events.helpPanel11_Prev_Click()">
  <div data-ng-bind-html="vm.platform.GetConstant(vm.globals.Constants.Login_helpPanel11_Message)"></div>
  <div class="pagination">
    <a class="prev-link" href="#" data-ng-click="vm.events.helpPanel11_Prev_Click()">
      <span>{{ vm.platform.GetConstant(vm.globals.Constants.Button_Previous_Label) }}</span>
    </a>
    <a class="next-link" href="#" data-ng-click="vm.events.helpPanel11_Next_Click()">
      <span>{{ vm.platform.GetConstant(vm.globals.Constants.Button_Next_Label) }}</span>
    </a>
  </div>
</div>
<div id="help-panel-12" class="animate-fade" data-ng-show="vm.help.currentPanel === 12"
  data-hm-swiperight="vm.events.helpPanel12_Prev_Click()">
  <div data-ng-bind-html="vm.platform.GetConstant(vm.globals.Constants.Login_helpPanel12_Message)"></div>
  <div class="pagination">
    <a class="prev-link" href="#" data-ng-click="vm.events.helpPanel12_Prev_Click()">
      <span>{{ vm.platform.GetConstant(vm.globals.Constants.Button_Previous_Label) }}</span>
    </a>
    <a href="#" data-ng-click="vm.events.helpPanel_Close_Click()">
      <span>{{ vm.platform.GetConstant(vm.globals.Constants.Button_Close_Label) }}</span>
    </a>
  </div>
</div>