<div class="header-panel clearfix">
  <button class="btn btn-icon btn-help animate-fade-in"
    title="{{ vm.platform.GetConstant(vm.globals.Constants.Button_Help_Label) }}"
    data-ng-click="vm.events.helpPanel_ShowHelp()">
    <i class="fas fa-question-circle" aria-hidden="true"></i>
    <span class="sr-only">{{ vm.platform.GetConstant(vm.globals.Constants.Button_Help_Label) }}</span>
  </button>
  <button class="btn btn-icon btn-settings"
    title="{{ vm.platform.GetConstant(vm.globals.Constants.Button_Settings_Label) }}"
    data-ng-click="vm.view.change(vm.view.views.settings)">
    <i class="fas fa-cog" aria-hidden="true"></i>
    <span class="sr-only">{{ vm.platform.GetConstant(vm.globals.Constants.Button_Settings_Label) }}</span>
  </button>
</div>
<div class="logo"></div>
<form name="vm.syncForm" class="animate-fade-in"
  data-ng-hide="vm.sync.displayOtherSyncsWarning || vm.sync.displaySyncConfirmation || vm.sync.displayUpgradeConfirmation"
  novalidate>
  <button type="submit" class="d-none" data-ng-click="vm.events.syncForm_Submit_Click()" tabindex="-1"></button>
  <div class="login-form-new animate-fade-in" data-ng-class="{ 'active-login-form': vm.sync.displayNewSyncPanel }"
    data-ng-show="vm.sync.displayNewSyncPanel">
    <div data-ng-if="!vm.utility.IsMobilePlatform(vm.platformName)">
      <div class="animate-fade-in" data-ng-show="vm.sync.displayPasswordConfirmation">
        <div class="form-group secret-form-group btn-icon-container">
          <label class="sr-only" for="txtPasswordConfirmation">{{
          vm.platform.GetConstant(vm.globals.Constants.Login_PasswordConfirmationField_Label) }}</label>
          <input class="form-control" name="txtPasswordConfirmation" data-ng-model="vm.sync.passwordConfirmation"
            type="{{ vm.sync.showPassword ? 'text' : 'password' }}" maxlength="150"
            placeholder="{{ vm.platform.GetConstant(vm.globals.Constants.Login_PasswordConfirmationField_Label) }}"
            spellcheck="false" />
          <button class="btn btn-icon btn-show-password" data-ng-class="{ 'active': vm.sync.showPassword }"
            data-ng-show="vm.sync.password"
            title="{{ vm.platform.GetConstant(vm.globals.Constants.Button_ShowPassword_Label) }}"
            data-ng-click="vm.events.syncForm_ShowPassword_Click()">
            <i class="fas fa-eye" aria-hidden="true"></i>
          </button>
        </div>
        <div class="form-group buttons">
          <button type="button" class="btn btn-default btn-new-sync"
            data-ng-disabled="vm.sync.passwordConfirmation !== vm.sync.password"
            data-ng-click="vm.events.syncForm_EnableSync_Click()">
            {{ vm.platform.GetConstant(vm.globals.Constants.Button_EnableSync_Label) }}
          </button>
          <button type="button" class="btn btn-default" data-ng-click="vm.events.syncForm_ConfirmPassword_Back_Click()">
            {{ vm.platform.GetConstant(vm.globals.Constants.Button_Back_Label) }}
          </button>
        </div>
      </div>
      <div class="animate-fade-in" data-ng-hide="vm.sync.displayPasswordConfirmation">
        <div class="form-group secret-form-group btn-icon-container"
          data-ng-class="{ true: 'has-error' }[vm.syncForm.$submitted && vm.syncForm.txtPassword.$invalid]">
          <label class="sr-only" for="txtPassword">{{
          vm.platform.GetConstant(vm.globals.Constants.Login_PasswordField_Label) }}</label>
          <input class="form-control" name="txtPassword" data-ng-model="vm.sync.password"
            type="{{ vm.sync.showPassword ? 'text' : 'password' }}" data-zxcvbn="vm.sync.passwordComplexity"
            data-ng-disabled="vm.sync.enabled" maxlength="150" spellcheck="false"
            placeholder="{{ vm.platform.GetConstant(vm.globals.Constants.Login_PasswordField_New_Description) }}" />
          <button class="btn btn-icon btn-show-password" data-ng-class="{ 'active': vm.sync.showPassword }"
            data-ng-show="vm.sync.password"
            title="{{ vm.platform.GetConstant(vm.globals.Constants.Button_ShowPassword_Label) }}"
            data-ng-click="vm.events.syncForm_ShowPassword_Click()">
            <i class="fas fa-eye" aria-hidden="true"></i>
          </button>
          <div class="validation" data-ng-if="vm.sync.password && ((vm.sync.passwordComplexity.feedback.suggestions && vm.sync.passwordComplexity.feedback.suggestions.length > 0) || 
          vm.sync.passwordComplexity.feedback.warning)">
            {{ vm.sync.passwordComplexity.feedback.warning ? vm.sync.passwordComplexity.feedback.warning :
          vm.sync.passwordComplexity.feedback.suggestions.length > 0 ?
          vm.sync.passwordComplexity.feedback.suggestions.slice(-1)[0] : '' }}
          </div>
          <div class="progress">
            <div class="progress-bar" role="progressbar"
              data-ng-style="{ width: !vm.sync.password ? 0 : (((vm.sync.passwordComplexity.score + 1) / 5) * 100) + '%' }"
              data-ng-class="{
              'progress-bar-warning': vm.sync.passwordComplexity.score > 1 && vm.sync.passwordComplexity.score < 4,
              'progress-bar-success': vm.sync.passwordComplexity.score === 4
              }">
            </div>
          </div>
          <div class="progress-bar-background"></div>
        </div>
        <div class="form-group text-center">
          <button type="button" class="btn btn-default btn-confirm-password" data-ng-disabled="!vm.sync.password"
            data-ng-click="vm.events.syncForm_ConfirmPassword_Click()">
            {{ vm.platform.GetConstant(vm.globals.Constants.Button_Next_Label) }}
          </button>
        </div>
      </div>
    </div>
    <div class="well well-sm" data-ng-if="vm.utility.IsMobilePlatform(vm.platformName)">
      <h4>{{ vm.platform.GetConstant(vm.globals.Constants.Login_GetSyncId_Title) }}</h4>
      <p data-ng-bind-html="vm.platform.GetConstant(vm.globals.Constants.Login_GetSyncId_Message)"></p>
      <div class="buttons">
        <button type="button" class="btn btn-default" data-ng-click="vm.events.syncForm_ExistingSync_Click()">
          {{ vm.platform.GetConstant(vm.globals.Constants.Button_OK_Label) }}
        </button>
      </div>
    </div>
    <div class="form-group toggle-form" data-ng-if="!vm.utility.IsMobilePlatform(vm.platformName)">
      <a data-ng-click="vm.events.syncForm_ExistingSync_Click()" href="#">
        {{ vm.platform.GetConstant(vm.globals.Constants.Button_ExistingSync_Label) }}
      </a>
    </div>
  </div>
  <div class="login-form-existing animate-fade-in" data-ng-class="{ 'active-login-form': !vm.sync.displayNewSyncPanel }"
    data-ng-hide="vm.sync.displayNewSyncPanel">
    <div data-ng-show="!vm.utility.IsMobilePlatform(vm.platformName) || 
      (vm.utility.IsMobilePlatform(vm.platformName) && !vm.sync.displayGetSyncIdPanel)">
      <div class="form-group" data-ng-class="{ 'has-error': vm.syncForm.txtId.$dirty && vm.syncForm.txtId.$invalid }">
        <label class="sr-only"
          for="txtId">{{ vm.platform.GetConstant(vm.globals.Constants.Login_IdField_Label) }}</label>
        <input name="txtId" data-ng-model="vm.sync.id" class="form-control" data-ng-disabled="vm.sync.enabled"
          placeholder="{{ vm.platform.GetConstant(vm.globals.Constants.Login_IdField_Description) }}" maxlength="32"
          data-ng-change="vm.events.syncForm_SyncId_Change()" spellcheck="false" />
        <div class="validation"
          data-ng-if="vm.sync.id && vm.syncForm.txtId.$dirty && vm.syncForm.txtId.$error.InvalidSyncId">
          {{ vm.platform.GetConstant(vm.globals.Constants.Login_IdField_InvalidSyncId_Label) }}
        </div>
      </div>
      <div class="form-group secret-form-group btn-icon-container"
        data-ng-class="{ true: 'has-error' }[vm.syncForm.$submitted && vm.syncForm.txtPassword.$invalid]">
        <label class="sr-only" for="txtPassword">{{
        vm.platform.GetConstant(vm.globals.Constants.Login_PasswordField_Label) }}</label>
        <input class="form-control" name="txtPassword" data-ng-model="vm.sync.password"
          type="{{ vm.sync.showPassword ? 'text' : 'password' }}" data-ng-disabled="vm.sync.enabled" maxlength="150"
          placeholder="{{ vm.platform.GetConstant(vm.globals.Constants.Login_PasswordField_Existing_Description) }}"
          spellcheck="false" />
        <button class="btn btn-icon btn-show-password" data-ng-class="{ 'active': vm.sync.showPassword }"
          data-ng-show="vm.sync.password"
          title="{{ vm.platform.GetConstant(vm.globals.Constants.Button_ShowPassword_Label) }}"
          data-ng-click="vm.events.syncForm_ShowPassword_Click()">
          <i class="fas fa-eye" aria-hidden="true"></i>
        </button>
      </div>
      <div class="buttons">
        <button type="button" class="btn btn-default btn-existing-sync"
          data-ng-disabled="!vm.sync.id || !vm.sync.password || vm.syncForm.$invalid"
          data-ng-click="vm.events.syncForm_EnableSync_Click()">
          {{ vm.platform.GetConstant(vm.globals.Constants.Button_EnableSync_Label) }}
        </button>
        <button type="button" class="btn btn-default" data-ng-if="vm.utility.IsMobilePlatform(vm.platformName)"
          data-ng-click="vm.events.searchForm_ScanCode_Click()">
          {{ vm.platform.GetConstant(vm.globals.Constants.Button_ScanCode_Label) }}
        </button>
      </div>
    </div>
    <div class="well well-sm" data-ng-if="vm.utility.IsMobilePlatform(vm.platformName)"
      data-ng-show="vm.sync.displayGetSyncIdPanel">
      <h4>{{ vm.platform.GetConstant(vm.globals.Constants.Login_ScanId_Title) }}</h4>
      <p>{{ vm.platform.GetConstant(vm.globals.Constants.Login_ScanId_Message) }}</p>
      <div class="buttons">
        <button type="button" class="btn btn-default" data-ng-click="vm.events.searchForm_ScanCode_Click()">
          {{ vm.platform.GetConstant(vm.globals.Constants.Button_ScanCode_Label) }}
        </button>
        <button type="button" class="btn btn-default" data-ng-click="vm.events.syncForm_NewSync_Click()">
          {{ vm.platform.GetConstant(vm.globals.Constants.Button_GetSyncId_Label) }}
        </button>
      </div>
    </div>
    <div class="form-group toggle-form" data-ng-if="!vm.utility.IsMobilePlatform(vm.platformName)">
      <a data-ng-click="vm.events.syncForm_NewSync_Click()" href="#">
        {{ vm.platform.GetConstant(vm.globals.Constants.Button_NewSync_Label) }}
      </a>
    </div>
  </div>
</form>
<div class="confirm well well-sm animate-fade-in" data-ng-show="vm.sync.displaySyncConfirmation">
  <h4>{{ vm.platform.GetConstant(vm.globals.Constants.Login_ConfirmSync_Title) }}</h4>
  <p>{{ vm.platform.GetConstant(vm.globals.Constants.Login_ConfirmSync_Message) }}</p>
  <div class="buttons">
    <button type="button" class="btn btn-default btn-confirm-enable-sync"
      data-ng-click="vm.events.syncForm_ConfirmSync_Click()">
      {{ vm.platform.GetConstant(vm.globals.Constants.Button_Confirm_Label) }}
    </button>
    <button type="button" class="btn btn-default" data-ng-click="vm.sync.displaySyncConfirmation = false">
      {{ vm.platform.GetConstant(vm.globals.Constants.Button_Deny_Label) }}
    </button>
  </div>
</div>
<div class="otherSyncsWarning confirm well well-sm animate-fade-in" data-ng-show="vm.sync.displayOtherSyncsWarning">
  <h4>{{ vm.platform.GetConstant(vm.globals.Constants.Login_DisableOtherSyncs_Title) }}</h4>
  <p data-ng-bind-html="vm.platform.GetConstant(vm.globals.Constants.Login_DisableOtherSyncs_Message)"></p>
  <div class="buttons">
    <button type="button" class="btn btn-default" data-ng-click="vm.events.syncForm_OtherSyncsDisabled_Click()">
      {{ vm.platform.GetConstant(vm.globals.Constants.Button_Continue_Label) }}
    </button>
  </div>
</div>
<div class="confirm well well-sm animate-fade-in" data-ng-show="vm.sync.displayUpgradeConfirmation">
  <h4>{{ vm.platform.GetConstant(vm.globals.Constants.Login_UpgradeSync_Title) }}</h4>
  <div data-ng-bind-html="vm.platform.GetConstant(vm.globals.Constants.Login_UpgradeSync_Message)"></div>
  <div class="buttons">
    <button type="button" class="btn btn-default btn-confirm-enable-sync"
      data-ng-click="vm.events.syncForm_UpgradeSync_Click()">
      {{ vm.platform.GetConstant(vm.globals.Constants.Button_Confirm_Label) }}
    </button>
    <button type="button" class="btn btn-default" data-ng-click="vm.sync.displayUpgradeConfirmation = false">
      {{ vm.platform.GetConstant(vm.globals.Constants.Button_Deny_Label) }}
    </button>
  </div>
</div>