<div class="header-panel clearfix">
  <h2>{{ vm.platform.GetConstant(vm.globals.Constants.Button_Settings_Label) }}</h2>
  <button class="btn btn-icon btn-close" title="{{ vm.platform.GetConstant(vm.globals.Constants.Button_Close_Label) }}"
    data-ng-click="vm.view.displayMainView()">
    <i class="fas fa-times-circle" aria-hidden="true"></i>
    <span class="sr-only">{{ vm.platform.GetConstant(vm.globals.Constants.Button_Close_Label) }}</span>
  </button>
</div>
<div class="panel-container">
  <div class="sync-panel well well-sm">
    <h4>{{ vm.platform.GetConstant(vm.globals.Constants.Settings_Sync_Title) }}</h4>
    <div class="panel-content">
      <p class="description margin-bottom-0"
        data-ng-if="!vm.sync.enabled && vm.utility.IsMobilePlatform(vm.platformName)"
        data-ng-bind-html="vm.platform.GetConstant(vm.globals.Constants.Settings_Sync_NotAvailable_Message)"></p>
      <div class="setting-group" data-ng-if="vm.sync.enabled">
        <label>{{ vm.platform.GetConstant(vm.globals.Constants.Settings_Sync_Id_Label) }}</label>
        <div class="setting-value id-url">
          <a title="{{ vm.platform.GetConstant(vm.globals.Constants.Settings_Sync_DisplayQRCode_Message) }}"
            data-ng-click="vm.events.displayQrPanel(vm.sync.id)" href="">{{ vm.sync.id }}</a>
        </div>
        <p class="description">{{ vm.platform.GetConstant(vm.globals.Constants.Settings_Sync_Id_Description) }}</p>
        <div class="animate-fade" data-ng-hide="vm.settings.displayCancelSyncConfirmation">
          <div class="buttons">
            <button class="btn btn-default" data-ng-click="vm.events.syncForm_SyncUpdates_Click()"
              data-ng-if="!vm.utility.IsMobilePlatform(vm.platformName)" data-ng-disabled="!vm.sync.updatesAvailable">
              {{ vm.platform.GetConstant(vm.globals.Constants.Button_SyncUpdates_Label) }}
            </button>
            <button class="btn btn-default" data-ng-click="vm.events.syncForm_DisableSync_Click()">
              {{ vm.platform.GetConstant(vm.globals.Constants.Button_DisableSync_Label) }}
            </button>
          </div>
          <div class="updates-available" data-ng-if="!vm.utility.IsMobilePlatform(vm.platformName)">
            <p data-ng-if="vm.sync.updatesAvailable === false">{{
              vm.platform.GetConstant(vm.globals.Constants.Settings_Sync_UpdatesAvailable_False_Message) }}</p>
            <p data-ng-if="vm.sync.updatesAvailable === true">{{
              vm.platform.GetConstant(vm.globals.Constants.Settings_Sync_UpdatesAvailable_True_Message) }} {{
              vm.sync.nextAutoUpdate }}.</p>
          </div>
        </div>
        <div class="animate-fade confirm" data-ng-show="vm.settings.displayCancelSyncConfirmation">
          <div
            data-ng-bind-html="vm.platform.GetConstant(vm.globals.Constants.Settings_Sync_ConfirmCancelSync_Message)">
          </div>
          <div class="text-center">
            <button type="button" class="btn btn-default btn-confirm-disable-sync"
              data-ng-click="vm.events.syncForm_DisableSync_Click()">
              {{ vm.platform.GetConstant(vm.globals.Constants.Button_Confirm_Label) }}
            </button>
            <button type="button" class="btn btn-default"
              data-ng-click="vm.settings.displayCancelSyncConfirmation = false">
              {{ vm.platform.GetConstant(vm.globals.Constants.Button_Deny_Label) }}
            </button>
          </div>
        </div>
      </div>
      <div class="setting-group" data-ng-if="!vm.utility.IsMobilePlatform(vm.platformName)">
        <label>{{ vm.platform.GetConstant(vm.globals.Constants.Settings_Sync_SyncToolbar_Label) }}</label>
        <p class="description"
          data-ng-class="{ 'margin-bottom-0': !vm.settings.displaySyncBookmarksToolbarConfirmation }">{{
          vm.platform.GetConstant(vm.globals.Constants.Settings_Sync_SyncToolbar_Description) }}</p>
        <div class="animate-fade">
          <div class="setting-value">
            <div class="checkbox">
              <input id="syncBookmarksToolbar" type="checkbox" data-ng-model="vm.settings.syncBookmarksToolbar"
                data-ng-click="vm.events.syncPanel_SyncBookmarksToolbar_Click()" />
              <label for="syncBookmarksToolbar" data-ng-class="{ 'animate': vm.animations.enabled }"></label>
            </div>
          </div>
        </div>
        <div class="animate-fade confirm" data-ng-show="vm.settings.displaySyncBookmarksToolbarConfirmation">
          <div
            data-ng-bind-html="vm.platform.GetConstant(vm.globals.Constants.Settings_Sync_SyncToolbarConfirmation_Message)">
          </div>
          <div class="text-center">
            <button type="button" class="btn btn-default btn-confirm-sync-toolbar"
              data-ng-click="vm.events.syncPanel_SyncBookmarksToolbar_Confirm()">
              {{ vm.platform.GetConstant(vm.globals.Constants.Button_Confirm_Label) }}
            </button>
            <button type="button" class="btn btn-default"
              data-ng-click="vm.events.syncPanel_SyncBookmarksToolbar_Cancel()">
              {{ vm.platform.GetConstant(vm.globals.Constants.Button_Deny_Label) }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="status-panel well well-sm">
    <h4>{{ vm.platform.GetConstant(vm.globals.Constants.Settings_Service_Title) }}</h4>
    <div class="panel-content">
      <div class="animate-fade"
        data-ng-hide="vm.settings.displayUpdateServiceUrlForm || vm.settings.displayUpdateServiceUrlConfirmation">
        <div class="setting-group">
          <label>{{ vm.platform.GetConstant(vm.globals.Constants.Settings_Service_ServiceUrl_Label) }}</label>
          <div class="setting-value service-url">
            <a href="{{ vm.settings.service.url }}" class="new-tab" title="{{ vm.settings.service.url }}">{{
              vm.settings.service.url }}</a>
          </div>
          <p class="description">{{
            vm.platform.GetConstant(vm.globals.Constants.Settings_Service_ServiceUrl_Description) }}</p>
          <div class="text-center">
            <button class="btn btn-default" data-ng-click="vm.events.updateServiceUrlForm_Display_Click()">
              {{ vm.platform.GetConstant(vm.globals.Constants.Button_UpdateServiceUrl_Label) }}
            </button>
          </div>
        </div>
        <div class="setting-group">
          <label>{{ vm.platform.GetConstant(vm.globals.Constants.Settings_Service_Status_Label) }}</label>
          <div class="setting-value status-text">
            <div data-ng-show="vm.settings.service.status == null" class="spinner-border spinner-border-sm"
              role="status">
              <span
                class="sr-only">{{ vm.platform.GetConstant(vm.globals.Constants.Settings_Service_Status_Loading) }}</span>
            </div>
            <span class="text-danger" data-ng-show="vm.settings.service.status === vm.globals.ServiceStatus.Error">{{
              vm.platform.GetConstant(vm.globals.Constants.Settings_Service_Status_Error) }}</span>
            <span class="text-success" data-ng-show="vm.settings.service.status === vm.globals.ServiceStatus.Online">{{
              vm.platform.GetConstant(vm.globals.Constants.Settings_Service_Status_Online) }}</span>
            <span class="text-danger" data-ng-show="vm.settings.service.status === vm.globals.ServiceStatus.Offline">{{
              vm.platform.GetConstant(vm.globals.Constants.Settings_Service_Status_Offline) }}</span>
            <span class="text-warning"
              data-ng-show="vm.settings.service.status === vm.globals.ServiceStatus.NoNewSyncs">{{
              vm.platform.GetConstant(vm.globals.Constants.Settings_Service_Status_NoNewSyncs) }}</span>
          </div>
          <p class="description">{{ vm.platform.GetConstant(vm.globals.Constants.Settings_Service_Status_Description)
            }}</p>
        </div>
        <div class="setting-group"
          data-ng-if="vm.settings.service.statusMessage && (vm.settings.service.status === vm.globals.ServiceStatus.Online || vm.settings.service.status === vm.globals.ServiceStatus.NoNewSyncs)">
          <label>{{ vm.platform.GetConstant(vm.globals.Constants.Settings_Service_ServiceMessage_Label) }}</label>
          <p class="description service-message animate-fade" data-ng-show="vm.settings.service.statusMessage"
            data-ng-bind-html="vm.settings.service.statusMessage"></p>
        </div>
        <div class="setting-group"
          data-ng-if="vm.settings.service.status === vm.globals.ServiceStatus.Online || vm.settings.service.status === vm.globals.ServiceStatus.NoNewSyncs">
          <label>{{ vm.platform.GetConstant(vm.globals.Constants.Settings_Service_DataUsage_Label) }}</label>
          <div class="setting-value" data-ng-class="{ 'text-danger': vm.settings.syncDataUsed >= 90 }"
            data-ng-show="vm.settings.syncDataUsed !== null">{{
            vm.settings.syncDataUsed | number : 0 }}%</div>
          <p class="description">{{
            vm.platform.GetConstant(vm.globals.Constants.Settings_Service_DataUsage_Description) }}</p>
          <div class="progress">
            <div class="progress-bar" role="progressbar" data-ng-style=" { 'width': vm.settings.syncDataUsed + '%' }">
            </div>
          </div>
          <span class="used" data-ng-show="vm.settings.syncDataSize !== null">{{ vm.settings.syncDataSize | kbFmt : 0
            }}</span>
          <span class="max" data-ng-show="vm.settings.service.maxSyncSize !== null">{{ vm.settings.service.maxSyncSize
            | kbFmt : 0 }}</span>
        </div>
      </div>
      <div class="setting-group"
        data-ng-show="vm.settings.displayUpdateServiceUrlForm || vm.settings.displayUpdateServiceUrlConfirmation">
        <label>{{ vm.platform.GetConstant(vm.globals.Constants.Settings_Service_ChangeService_Label) }}</label>
        <p class="description">{{
          vm.platform.GetConstant(vm.globals.Constants.Settings_Service_ChangeService_Description) }}</p>
        <div class="animate-fade update-service-url confirm"
          data-ng-show="vm.settings.displayUpdateServiceUrlForm || vm.settings.displayUpdateServiceUrlConfirmation">
          <form name="vm.updateServiceUrlForm" data-ng-show="!vm.settings.displayUpdateServiceUrlConfirmation"
            novalidate>
            <p data-ng-bind-html="vm.platform.GetConstant(vm.globals.Constants.Settings_Service_UpdateForm_Message)">
            </p>
            <div class="form-group" data-ng-class="{ 'has-error': vm.updateServiceUrlForm.newServiceUrl.$invalid }">
              <input name="newServiceUrl" class="form-control" data-ng-model="vm.settings.service.newServiceUrl"
                data-ng-change="vm.events.updateServiceUrlForm_NewServiceUrl_Change()"
                data-ng-readonly="vm.settings.validatingServiceUrl"
                placeholder="{{ vm.platform.GetConstant(vm.globals.Constants.Settings_Service_UpdateForm_Field_Description) }}"
                maxlength="128" spellcheck="false" required />
              <div class="validation" data-ng-if="vm.updateServiceUrlForm.newServiceUrl.$invalid">
                <span data-ng-if="vm.updateServiceUrlForm.newServiceUrl.$error.required">{{
                  vm.platform.GetConstant(vm.globals.Constants.Settings_Service_UpdateForm_Required_Label) }}
                </span>
                <span data-ng-if="vm.updateServiceUrlForm.newServiceUrl.$error.InvalidService">{{
                  vm.platform.GetConstant(vm.globals.Constants.Settings_Service_UpdateForm_InvalidService_Label) }}
                </span>
                <span data-ng-if="vm.updateServiceUrlForm.newServiceUrl.$error.ServiceOffline">{{
                  vm.platform.GetConstant(vm.globals.Constants.Settings_Service_UpdateForm_ServiceOffline_Label) }}
                </span>
                <span data-ng-if="vm.updateServiceUrlForm.newServiceUrl.$error.ServiceVersionNotSupported">{{
                  vm.platform.GetConstant(vm.globals.Constants.Settings_Service_UpdateForm_ServiceVersionNotSupported_Label)
                  }}
                </span>
              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-default"
                data-ng-click="vm.events.updateServiceUrlForm_Update_Click()"
                data-ng-disabled="!vm.updateServiceUrlForm.newServiceUrl.$dirty || vm.updateServiceUrlForm.newServiceUrl.$invalid || vm.settings.validatingServiceUrl">
                <span class="spinner-border spinner-border-sm" data-ng-show="vm.settings.validatingServiceUrl"
                  role="status" aria-hidden="true"></span>
                <span data-ng-show="vm.settings.validatingServiceUrl">{{
                  vm.platform.GetConstant(vm.globals.Constants.Settings_Service_Status_Loading) }}
                </span>
                <span data-ng-hide="vm.settings.validatingServiceUrl">{{
                  vm.platform.GetConstant(vm.globals.Constants.Button_Update_Label) }}</span>
              </button>
              <button type="button" class="btn btn-default"
                data-ng-click="vm.events.updateServiceUrlForm_Cancel_Click()">
                {{ vm.platform.GetConstant(vm.globals.Constants.Button_Cancel_Label) }}
              </button>
            </div>
          </form>
          <div class="animate-fade confirm" data-ng-show="vm.settings.displayUpdateServiceUrlConfirmation">
            <div
              data-ng-bind-html="vm.platform.GetConstant(vm.globals.Constants.Settings_Service_UpdateForm_Confirm_Message)">
            </div>
            <div class="text-center">
              <button class="btn btn-default btn-confirm-update-service-url"
                data-ng-click="vm.events.updateServiceUrlForm_Confirm_Click()">
                {{ vm.platform.GetConstant(vm.globals.Constants.Button_Confirm_Label) }}
              </button>
              <button type="reset" class="btn btn-default"
                data-ng-click="vm.settings.displayUpdateServiceUrlConfirmation = false">
                {{ vm.platform.GetConstant(vm.globals.Constants.Button_Deny_Label) }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="permissions-panel well well-sm">
    <h4>{{ vm.platform.GetConstant(vm.globals.Constants.Settings_Permissions_Title) }}</h4>
    <div class="panel-content">
      <div class="animate-fade">
        <div class="setting-group">
          <label>{{ vm.platform.GetConstant(vm.globals.Constants.Settings_Permissions_ReadWebsiteData_Title) }}</label>
          <div class="setting-value">
            <span class="text-success animate-fade" data-ng-show="vm.settings.readWebsiteDataPermissionsGranted">{{
              vm.platform.GetConstant(vm.globals.Constants.Settings_Permissions_ReadWebsiteData_Granted_Label)
              }}</span>
            <span class="text-danger animate-fade" data-ng-show="!vm.settings.readWebsiteDataPermissionsGranted">{{
              vm.platform.GetConstant(vm.globals.Constants.Settings_Permissions_ReadWebsiteData_NotGranted_Label)
              }}</span>
          </div>
          <p class="description"
            data-ng-bind-html="vm.platform.GetConstant(vm.globals.Constants.Settings_Permissions_ReadWebsiteData_Description)">
          </p>
          <div class="text-center animate-fade" data-ng-show="vm.settings.readWebsiteDataPermissionsGranted">
            <button class="btn btn-default" data-ng-click="vm.events.permissions_Revoke_Click()">
              {{ vm.platform.GetConstant(vm.globals.Constants.Button_Permissions_Remove_Label) }}
            </button>
          </div>
          <div class="text-center animate-fade" data-ng-hide="vm.settings.readWebsiteDataPermissionsGranted">
            <button class="btn btn-default" data-ng-click="vm.events.permissions_Request_Click()">
              {{ vm.platform.GetConstant(vm.globals.Constants.Button_Permissions_Add_Label) }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="backup-restore-panel well well-sm">
    <h4>{{ vm.platform.GetConstant(vm.globals.Constants.Settings_BackupRestore_Title) }}</h4>
    <div class="panel-content">
      <p class="description margin-bottom-0"
        data-ng-if="!vm.sync.enabled && vm.utility.IsMobilePlatform(vm.platformName)"
        data-ng-bind-html="vm.platform.GetConstant(vm.globals.Constants.Settings_BackupRestore_NotAvailable_Message)">
      </p>
      <div
        data-ng-show="(vm.sync.enabled && !vm.settings.iCloudNotAvailable) || !vm.utility.IsMobilePlatform(vm.platformName)">
        <div class="setting-group">
          <label>{{ vm.platform.GetConstant(vm.globals.Constants.Settings_BackupRestore_Backup_Label) }}</label>
          <p class="description" data-ng-if="!vm.sync.enabled">{{
            vm.platform.GetConstant(vm.globals.Constants.Settings_BackupRestore_BackupLocal_Description) }}</p>
          <p class="description" data-ng-if="vm.sync.enabled">{{
            vm.platform.GetConstant(vm.globals.Constants.Settings_BackupRestore_BackupSynced_Description) }}</p>
          <div class="animate-fade text-center" data-ng-hide="vm.settings.backupCompletedMessage">
            <button class="btn btn-default" data-ng-click="vm.events.backupRestoreForm_Backup_Click()"
              data-ng-disabled="vm.settings.savingBackup">
              <span class="spinner-border spinner-border-sm" data-ng-show="vm.settings.savingBackup" role="status"
                aria-hidden="true"></span>
              <span data-ng-show="vm.settings.savingBackup">{{
                vm.platform.GetConstant(vm.globals.Constants.Button_Saving_Label) }}
              </span>
              <span data-ng-hide="vm.settings.savingBackup">{{
                vm.platform.GetConstant(vm.globals.Constants.Button_Backup_Label) }}</span>
            </button>
          </div>
          <div class="animate-fade confirm" data-ng-show="vm.settings.backupCompletedMessage">
            <p>{{ vm.settings.backupCompletedMessage }}</p>
            <p class="text-center">
              <a id="backupLink"></a>
            </p>
            <div class="text-center">
              <button class="btn btn-default btn-done" data-ng-click="vm.settings.backupCompletedMessage = null">
                {{ vm.platform.GetConstant(vm.globals.Constants.Button_Done_Label) }}
              </button>
            </div>
          </div>
        </div>
        <div class="setting-group">
          <label>{{ vm.platform.GetConstant(vm.globals.Constants.Settings_BackupRestore_Restore_Label) }}</label>
          <p class="description" data-ng-if="!vm.sync.enabled">{{
            vm.platform.GetConstant(vm.globals.Constants.Settings_BackupRestore_RestoreLocal_Description) }}</p>
          <p class="description" data-ng-if="vm.sync.enabled">{{
            vm.platform.GetConstant(vm.globals.Constants.Settings_BackupRestore_RestoreSynced_Description) }}</p>
          <div class="animate-fade text-center"
            data-ng-hide="vm.settings.displayRestoreForm || vm.settings.displayRestoreConfirmation || vm.settings.restoreCompletedMessage">
            <button class="btn btn-default" data-ng-click="vm.events.backupRestoreForm_DisplayRestoreForm_Click()">
              {{ vm.platform.GetConstant(vm.globals.Constants.Button_Restore_Label) }}
            </button>
          </div>
          <form id="restoreForm" name="vm.restoreForm" class="animate-fade confirm"
            data-ng-show="vm.settings.displayRestoreForm" novalidate>
            <p>{{ vm.platform.GetConstant(vm.globals.Constants.Settings_BackupRestore_RestoreForm_Message) }}</p>
            <div id="restoreContentsPanel">
              <label for="dataToRestore"
                class="sr-only">{{ vm.platform.GetConstant(vm.globals.Constants.Settings_BackupRestore_RestoreForm_DataField_Label) }}
              </label>
              <div class="form-group" data-ng-class="{ 'has-error': vm.restoreForm.dataToRestore.$invalid }">
                <textarea name="dataToRestore" data-ng-model="vm.settings.dataToRestore" class="form-control" rows="3"
                  data-ng-change="vm.settings.dataToRestoreIsValid()" spellcheck="false"></textarea>
                <div class="validation" data-ng-if="vm.restoreForm.dataToRestore.$invalid">
                  <span>{{ vm.platform.GetConstant(vm.globals.Constants.Settings_BackupRestore_RestoreForm_Invalid_Label) }}
                  </span>
                </div>
              </div>
            </div>
            <div id="restoreFilePanel">
              <div class="buttons">
                <button class="btn btn-default" data-ng-click="vm.events.backupRestoreForm_SelectBackupFile_Click()">
                  {{ vm.platform.GetConstant(vm.globals.Constants.Button_SelectBackupFile_Label) }}
                </button>
                <p data-ng-class="{ true: 'text-danger' }[ vm.restoreForm.dataToRestore.$invalid ]">
                  {{ vm.settings.backupFileName }}
                </p>
              </div>
            </div>
            <div class="buttons">
              <button class="btn btn-default"
                data-ng-disabled="!vm.settings.dataToRestore || vm.restoreForm.dataToRestore.$invalid"
                data-ng-click="vm.events.backupRestoreForm_DisplayRestoreConfirmation_Click()">
                {{ vm.platform.GetConstant(vm.globals.Constants.Button_RestoreData_Label) }}
              </button>
              <button type="reset" class="btn btn-default" data-ng-click="vm.settings.displayRestoreForm = false">
                {{ vm.platform.GetConstant(vm.globals.Constants.Button_Cancel_Label) }}
              </button>
            </div>
          </form>
          <div class="animate-fade confirm" data-ng-show="vm.settings.displayRestoreConfirmation">
            <div data-ng-if="vm.sync.enabled"
              data-ng-bind-html="vm.platform.GetConstant(vm.globals.Constants.Settings_BackupRestore_ConfirmRestore_Sync_Message)">
            </div>
            <div data-ng-if="!vm.sync.enabled"
              data-ng-bind-html="vm.platform.GetConstant(vm.globals.Constants.Settings_BackupRestore_ConfirmRestore_NoSync_Message)">
            </div>
            <div class="text-center">
              <button class="btn btn-default btn-confirm-restore"
                data-ng-click="vm.events.backupRestoreForm_Restore_Click()">
                {{ vm.platform.GetConstant(vm.globals.Constants.Button_Confirm_Label) }}
              </button>
              <button type="reset" class="btn btn-default"
                data-ng-click="vm.settings.displayRestoreConfirmation = false">
                {{ vm.platform.GetConstant(vm.globals.Constants.Button_Deny_Label) }}
              </button>
            </div>
          </div>
          <div class="animate-fade confirm" data-ng-show="vm.settings.restoreCompletedMessage">
            <p>{{ vm.settings.restoreCompletedMessage }}</p>
            <div class="text-center">
              <button class="btn btn-default btn-done" data-ng-click="vm.settings.restoreCompletedMessage = null">
                {{ vm.platform.GetConstant(vm.globals.Constants.Button_Done_Label) }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="issues-panel well well-sm">
    <h4>{{ vm.platform.GetConstant(vm.globals.Constants.Settings_Issues_Title) }}</h4>
    <div class="panel-content">
      <div class="setting-group">
        <label>{{ vm.platform.GetConstant(vm.globals.Constants.Settings_Issues_Help_Label) }}</label>
        <p class="description">{{ vm.platform.GetConstant(vm.globals.Constants.Settings_Issues_Help_Description) }}</p>
        <div class="buttons">
          <button type="button" class="btn btn-default" data-ng-click="vm.events.helpPanel_ShowHelp_Click()">
            {{ vm.platform.GetConstant(vm.globals.Constants.Button_Help_Label) }}
          </button>
          <button type="button" class="btn btn-default"
            data-ng-click="vm.events.openUrl($event, 'https://www.xbrowsersync.org/#faqs')">
            {{ vm.platform.GetConstant(vm.globals.Constants.Settings_Issues_ViewFAQs_Label) }}
          </button>
        </div>
      </div>
      <div class="setting-group">
        <label>{{ vm.platform.GetConstant(vm.globals.Constants.Settings_Issues_Tracker_Label) }}</label>
        <p class="description">{{ vm.platform.GetConstant(vm.globals.Constants.Settings_Issues_Tracker_Description) }}
        </p>
        <div class="text-center">
          <button type="button" class="btn btn-default"
            data-ng-click="vm.events.openUrl($event, 'https://github.com/xbrowsersync/app/issues')">
            {{ vm.platform.GetConstant(vm.globals.Constants.Settings_Issues_RaiseIssue_Label) }}
          </button>
        </div>
      </div>
      <div class="setting-group">
        <label>{{ vm.platform.GetConstant(vm.globals.Constants.Settings_Issues_Log_Label) }}</label>
        <p class="description">{{ vm.platform.GetConstant(vm.globals.Constants.Settings_Issues_Log_Description) }}</p>
        <div class="animate-fade" data-ng-hide="vm.settings.downloadLogCompletedMessage">
          <p class="description">{{ vm.platform.GetConstant(vm.globals.Constants.Settings_Issues_LogSize_Label) }}:
            {{ vm.settings.logSize | byteFmt : 2 }}</p>
          <div class="buttons">
            <button type="button" class="btn btn-default" data-ng-click="vm.events.issuesPanel_DownloadLogFile_Click()"
              data-ng-disabled="vm.settings.savingLog || vm.settings.logSize === 0 || vm.settings.logSize == null">
              <span class="spinner-border spinner-border-sm" data-ng-show="vm.settings.savingLog" role="status"
                aria-hidden="true"></span>
              <span
                data-ng-show="vm.settings.savingLog">{{ vm.platform.GetConstant(vm.globals.Constants.Button_Saving_Label) }}
              </span>
              <span
                data-ng-hide="vm.settings.savingLog">{{ vm.platform.GetConstant(vm.globals.Constants.Settings_Issues_DownloadLog_Label) }}
              </span>
            </button>
            <button type="button" class="btn btn-default"
              data-ng-disabled="vm.settings.logSize === 0 || vm.settings.logSize == null"
              data-ng-click="vm.events.issuesPanel_ClearLog_Click()">{{ vm.platform.GetConstant(vm.globals.Constants.Settings_Issues_ClearLog_Label) }}
            </button>
          </div>
        </div>
        <div class="animate-fade confirm" data-ng-show="vm.settings.downloadLogCompletedMessage">
          <p>{{ vm.settings.downloadLogCompletedMessage }}</p>
          <p class="text-center">
            <a id="downloadLogFileLink"></a>
          </p>
          <div class="text-center">
            <button class="btn btn-default btn-done" data-ng-click="vm.settings.downloadLogCompletedMessage = null">
              {{ vm.platform.GetConstant(vm.globals.Constants.Button_Done_Label) }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="about-panel well well-sm">
    <h4>{{ vm.platform.GetConstant(vm.globals.Constants.Settings_About_Title) }}</h4>
    <div class="panel-content">
      <div class="setting-group">
        <label>{{ vm.platform.GetConstant(vm.globals.Constants.Settings_About_AppVersion_Label) }}</label>
        <div class="setting-value">
          <span>{{ vm.globals.AppVersion }}</span>
        </div>
        <p class="description">{{ vm.platform.GetConstant(vm.globals.Constants.Settings_About_AppVersion_Description) }}
        </p>
        <div class="text-center">
          <button type="button" class="btn btn-default"
            data-ng-click="vm.events.openUrl($event, vm.globals.ReleaseNotesUrlStem + vm.globals.AppVersion)">
            {{ vm.platform.GetConstant(vm.globals.Constants.Button_ReleaseNotes_Label) }}
          </button>
        </div>
      </div>
      <div class="setting-group">
        <label>{{ vm.platform.GetConstant(vm.globals.Constants.Settings_About_Support_Label) }}</label>
        <p class="description">{{ vm.platform.GetConstant(vm.globals.Constants.Settings_About_Support_Description) }}
        </p>
        <div class="buttons">
          <button type="button" class="btn btn-default" data-ng-click="vm.view.change(vm.view.views.support)">
            {{ vm.platform.GetConstant(vm.globals.Constants.Button_Support_Label) }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>