<h4>{{ vm.platform.GetConstant(vm.globals.Constants.Support_Title) }}</h4>
<div data-ng-bind-html="vm.platform.GetConstant(vm.globals.Constants.Support_Message)"></div>
<div class="buttons small">
  <button type="button" class="btn btn-default"
    data-ng-click="vm.events.openUrl($event, 'https://link.xbrowsersync.org/liberapay')">
    {{ vm.platform.GetConstant(vm.globals.Constants.Button_Liberapay_Label) }}
  </button>
  <button type="button" class="btn btn-default"
    data-ng-click="vm.events.openUrl($event, 'https://link.xbrowsersync.org/patreon')">
    {{ vm.platform.GetConstant(vm.globals.Constants.Button_Patreon_Label) }}
  </button>
  <button type="button" class="btn btn-default"
    data-ng-click="vm.events.openUrl($event, 'https://link.xbrowsersync.org/cryptos')">
    {{ vm.platform.GetConstant(vm.globals.Constants.Button_Cryptos_Label) }}
  </button>
</div>
<div class="buttons">
  <button type="button" class="btn btn-default focused" data-ng-click="vm.view.displayMainView()">
    {{ vm.platform.GetConstant(vm.globals.Constants.Button_Continue_Label) }}
  </button>
</div>