<div class="logo"></div>
<div class="confirm well well-sm animate-fade">
  <h4>{{ vm.platform.GetConstant(vm.globals.Constants.Updated_Title) + vm.globals.AppVersion }}</h4>
  <p>{{ vm.platform.GetConstant(vm.globals.Constants.Updated_Message) }}</p>
  <div class="buttons">
    <button type="button" class="btn btn-default" data-ng-click="vm.events.updatedPanel_ReleaseNotes_Click()">
      {{ vm.platform.GetConstant(vm.globals.Constants.Button_ReleaseNotes_Label) }}
    </button>
    <button type="button" class="btn btn-default" data-ng-click="vm.view.displayMainView()">
      {{ vm.platform.GetConstant(vm.globals.Constants.Button_Continue_Label) }}
    </button>
  </div>
</div>