<div class="bookmark" data-ng-repeat="bookmark in vm.nodes"
     data-ng-class="{ 'folder': !bookmark.url && !vm.bookmarkHelperSvc.isSeparator(bookmark), 'open': bookmark.displayChildren, 'animate': vm.selectedBookmark === bookmark.id, 'separator': vm.bookmarkHelperSvc.isSeparator(bookmark) }"
     data-hm-press="vm.utilitySvc.isMobilePlatform(vm.platformName) && bookmark.url && vm.utilitySvc.handleEvent(vm.selectBookmark, { 'event': $event, 'bookmarkId': bookmark.id })">
  <div class="menu"
       data-ng-class="{ 'animate animate-fade-in': vm.utilitySvc.isMobilePlatform(vm.platformName) && bookmark.url && !vm.bookmarkHelperSvc.isSeparator(bookmark) }"
       data-ng-if="vm.utilitySvc.isMobilePlatform(vm.platformName) && bookmark.url && !vm.bookmarkHelperSvc.isSeparator(bookmark)"
       data-ng-show="vm.selectedBookmark === bookmark.id">
    <button class="btn btn-fab" title="{{ vm.platformSvc.getConstant(vm.strings.button_ShareBookmark_Label) }}"
            data-ng-click="vm.utilitySvc.handleEvent(vm.shareBookmark, { 'event': event, 'bookmark': bookmark })">
      <i class="fas fa-share-alt" aria-hidden="true"></i>
      <span class="sr-only">{{ vm.platformSvc.getConstant(vm.strings.button_ShareBookmark_Label) }}</span>
    </button>
    <button class="btn btn-fab" title="{{ vm.platformSvc.getConstant(vm.strings.button_EditBookmark_Label) }}"
            data-ng-click="vm.utilitySvc.handleEvent(vm.editBookmark, { 'event': $event, 'bookmark': bookmark })">
      <i class="fas fa-edit" aria-hidden="true"></i>
      <span class="sr-only">{{ vm.platformSvc.getConstant(vm.strings.button_EditBookmark_Label) }}</span>
    </button>
    <button class="btn btn-fab btn-delete-bookmark"
            title="{{ vm.platformSvc.getConstant(vm.strings.button_DeleteBookmark_Label) }}"
            data-ng-click="vm.utilitySvc.handleEvent(vm.deleteBookmark, { 'event': $event, 'bookmark': bookmark })">
      <i class="fas fa-trash" aria-hidden="true"></i>
      <span class="sr-only">{{ vm.platformSvc.getConstant(vm.strings.button_DeleteBookmark_Label) }}</span>
    </button>
  </div>
  <div class="bookmark-content" data-ng-if="bookmark.url && !vm.bookmarkHelperSvc.isSeparator(bookmark)"
       data-ng-click="!vm.utilitySvc.isMobilePlatform(vm.platformName) && vm.utilitySvc.handleEvent(vm.openUrl, { 'event': $event, 'url': bookmark.url })"
       data-hm-tap="vm.utilitySvc.handleEvent(vm.openUrl, { 'event': $event, 'url': bookmark.url })">
    <h4 class="bookmark-heading" data-ng-if="bookmark.title">{{ bookmark.title }}</h4>
    <h4 class="bookmark-heading" data-ng-if="!bookmark.title">
      {{ vm.bookmarkHelperSvc.getBookmarkTitleForDisplay(bookmark) }}
    </h4>
    <div class="bookmark-text">
      <div class="description">{{ bookmark.description }}</div>
      <div class="url">{{ bookmark.url }}</div>
    </div>
  </div>
  <div class="bookmark-content" data-ng-if="!bookmark.url && !vm.bookmarkHelperSvc.isSeparator(bookmark)">
    <h4 class="bookmark-heading" data-ng-class="{ 'opening': bookmark.open && !bookmark.displayChildren }"
        data-ng-click="vm.utilitySvc.handleEvent(vm.bookmark_Heading_Click, $event, bookmark)"
        data-ng-if="bookmark.title">
      {{ vm.bookmarkHelperSvc.getBookmarkTitleForDisplay(bookmark) }}
      <span data-ng-show="bookmark.open && !bookmark.displayChildren">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true">
        </span>
      </span>
    </h4>
    <div data-ng-if="bookmark.displayChildren">
      <p class="empty" data-ng-if="!bookmark.children || bookmark.children.length === 0">
        {{ vm.platformSvc.getConstant(vm.strings.search_FolderEmpty_Message) }}
      </p>
      <bookmark-tree class="bookmark-list" nodes="bookmark.children" platform-name="vm.platformName"
                     selected-bookmark="vm.selectedBookmark"
                     edit-bookmark="vm.editBookmark({ 'event': event, 'bookmark': bookmark })"
                     select-bookmark="vm.selectBookmark({ 'event': event, 'bookmarkId': bookmarkId })"
                     share-bookmark="vm.shareBookmark({ 'event': event, 'bookmark': bookmark })"
                     delete-bookmark="vm.deleteBookmark({ 'event': event, 'bookmark': bookmark })"
                     open-url="vm.openUrl({ 'event': event, 'url': url })">
      </bookmark-tree>
    </div>
  </div>
  <button class="btn btn-icon btn-edit-bookmark"
          title="{{ vm.platformSvc.getConstant(vm.strings.button_EditBookmark_Label) }}"
          data-ng-if="!vm.utilitySvc.isMobilePlatform(vm.platformName) && bookmark.url &&!vm.bookmarkHelperSvc.isSeparator(bookmark)"
          data-ng-click="vm.utilitySvc.handleEvent(vm.editBookmark, { 'event': $event, 'bookmark': bookmark })">
    <i class="fas fa-edit" aria-hidden="true"></i>
    <span class="sr-only">{{ vm.platformSvc.getConstant(vm.strings.button_EditBookmark_Label) }}</span>
  </button>
