<div id="qr"></div>
<p>{{ vm.platformSvc.getConstant(vm.strings.qr_Message) }}</p>
<div class="buttons">
  <button type="button" class="btn btn-default" data-ng-click="vm.qrPanel_CopySyncId_Click()"
          data-ng-disabled="vm.settings.syncIdCopied">
    {{ vm.settings.syncIdCopied ? vm.platformSvc.getConstant(vm.strings.qr_Copied_Label) : vm.platformSvc.getConstant(vm.strings.qr_CopySyncId_Label) }}
  </button>
  <button type="button" class="btn btn-default" data-ng-click="vm.qrPanel_Close_Click()">
    {{ vm.platformSvc.getConstant(vm.strings.button_Close_Label) }}
  </button>
</div>
