<h3>{{ vm.platformSvc.getConstant(vm.strings.scan_Title) }}</h3>
<div class="target" data-ng-class="{ 'error': vm.scanner.invalidSyncId }"></div>
<div class="validation" data-ng-show="vm.scanner.invalidSyncId">
  {{ vm.platformSvc.getConstant(vm.strings.login_IdField_InvalidSyncId_Label) }}
</div>
<div class="buttons">
  <button class="btn btn-fab" title="{{ vm.platformSvc.getConstant(vm.strings.button_Cancel_Label) }}"
          data-ng-class="{ 'enabled': vm.scanner.lightEnabled }"
          data-ng-click="vm.utilitySvc.handleEvent(vm.scanPanel_ToggleLight_Click)">
    <i class="fas fa-bolt" aria-hidden="true"></i>
    <span class="sr-only">{{ vm.platformSvc.getConstant(vm.strings.button_Cancel_Label) }}</span>
  </button>
  <button class="btn btn-fab" title="{{ vm.platformSvc.getConstant(vm.strings.button_Cancel_Label) }}"
          data-ng-click="vm.utilitySvc.handleEvent(vm.scanPanel_Cancel_Click)">
    <i class="fas fa-times" aria-hidden="true"></i>
    <span class="sr-only">{{ vm.platformSvc.getConstant(vm.strings.button_Cancel_Label) }}</span>
  </button>
</div>
