@use 'angular/angular-csp.css';
@use 'bootstrap';
@use '../modules/all' as *;
@use 'fonts';
@use 'typography';
@use 'layout';
@use 'forms';
@use 'buttons';
@use 'animations';
@use 'utilities';

* {
  box-shadow: none;
  outline: none !important;
}

:root {
  color-scheme: light dark;
  font-size: $base-font-size;
}
