button {
  &.btn {
    border-width: 0;

    &:active,
    &:hover,
    &:focus {
      box-shadow: none;
    }

    &.btn-default {
      background-color: var(--color-button-default-bg);
      border-color: var(--color-button-default-border);
      border-radius: $border-radius-input;
      border-width: 0.15rem;
      color: var(--color-button-default-text);
      font-size: 1.2rem;
      font-weight: 800;
      line-height: 2.5rem;
      max-width: 90vw;
      padding: 0 1.2rem;
      text-transform: capitalize;
      transition-duration: 0.2s;
      transition-property: background-color, border-color, color;
      transition-timing-function: ease-in-out;

      &[disabled] {
        background-color: var(--color-button-default-bg-disabled);
        border-color: var(--color-button-default-border-disabled);
        color: var(--color-button-default-text-disabled);
        cursor: default;
        opacity: 0.5;
      }

      .well & {
        background-color: var(--color-well-button-bg);
        border-color: var(--color-well-button-border);
        border-width: 0.1rem;
        color: var(--color-well-button-text);
        font-weight: normal;

        &[disabled] {
          background-color: var(--color-well-button-bg-disabled);
          border-color: var(--color-well-button-border-disabled);
          color: var(--color-well-button-text-disabled);
        }

        .spinner-border-sm {
          @include spinner-colour(var(--color-well-button-text));

          border-width: 0.1em;
          height: 0.85rem;
          width: 0.85rem;
        }

        @media (hover: hover) {
          &:not([disabled]):active,
          &:not([disabled]):hover {
            background-color: var(--color-well-button-bg-hover);
            border-color: var(--color-well-button-border-hover);
            color: var(--color-well-button-text-hover);

            .spinner-border-sm {
              @include spinner-colour(var(--color-well-button-text-hover));
            }
          }
        }
      }

      &.working {
        @include ellipsis;

        opacity: 1 !important;
      }

      @media (hover: hover) {
        &:not([disabled]):active,
        &:not([disabled]):hover {
          background-color: var(--color-button-default-bg-hover);
          border-color: var(--color-button-default-border-hover);
          color: var(--color-button-default-text-hover);

          .spinner-border-sm {
            @include spinner-colour(var(--color-button-default-text-hover));
          }
        }

        &:not([disabled]):focus {
          text-decoration: underline;

          &:active,
          &:hover {
            text-decoration: none;
          }
        }
      }
    }

    &.btn-fab {
      align-items: center;
      background-color: var(--color-button-fab-bg);
      border-radius: 100%;
      border-width: 0;
      box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12) !important;
      box-sizing: border-box;
      color: var(--color-button-fab-text);
      cursor: pointer;
      display: inline-flex;
      font-size: 1.5rem;
      height: 4rem;
      justify-content: center;
      overflow: hidden;
      padding: 0;
      position: relative;
      transition: color ease-in-out 0.2s;
      width: 4rem;
      z-index: 10;

      &.fixed {
        bottom: 1rem;
        position: fixed;
        right: 1rem;
      }

      @media (hover: hover) {
        &:active,
        &:hover {
          background-color: var(--color-button-fab-bg-hover) !important;
          color: var(--color-button-fab-text-hover) !important;
        }
      }
    }

    &.btn-icon {
      background: none;
      border-radius: 0;
      color: var(--color-button-icon-text);
      opacity: 0.5;
      padding: 0;
      transition: opacity ease-in-out 0.2s;

      @media (hover: hover) {
        &:active {
          opacity: 1 !important;
        }

        &:hover,
        &:focus {
          opacity: 1;
        }
      }
    }
  }

  &:active,
  &:active:focus,
  &:focus,
  &:hover {
    outline: 0;
  }

  .spinner-border-sm {
    @include spinner-colour(var(--color-button-default-text));

    height: 1.05rem;
    margin-right: 0.25rem;
    width: 1.05rem;
  }
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  &.vertical {
    flex-direction: column;
  }

  button {
    margin: 0 0 0.75rem;
  }
}
