<div class="view-content" ng-if="vm.displayScanInterface">
  <h3>{{ vm.platformSvc.getI18nString(vm.Strings.View.Scan.Title) }}</h3>
  <div class="validation" ng-show="vm.invalidSyncId">
    {{ vm.platformSvc.getI18nString(vm.Strings.View.Login.SyncId.Invalid) }}
  </div>
  <div class="buttons">
    <icon-button type="vm.lightEnabled ? 'flashlight-off' : 'flashlight'" fab="true"
                 title="{{ vm.platformSvc.getI18nString(vm.Strings.View.Scan.ToggleLight) }}"
                 ng-class="{ 'enabled': vm.lightEnabled }" on-click="vm.utilitySvc.handleEvent(vm.toggleCameraLight)">
    </icon-button>
    <icon-button type="'x'" fab="true" title="{{ vm.platformSvc.getI18nString(vm.Strings.Button.Cancel) }}"
                 on-click="vm.utilitySvc.handleEvent(vm.close)"></icon-button>
  </div>
</div>
