<div class="theme-content" ng-class="vm.settings.darkModeEnabled ? 'theme-dark' : 'theme-default'"
     ng-if="vm.initialised">
  <div class="container" ng-class="{ 'search': vm.currentView === vm.appView.Search }">
    <app-working cancel-action="vm.workingCancelAction" close="vm.displayMainView"
                 full-view-mode="vm.currentView === vm.appView.Working">
    </app-working>

    <app-alert></app-alert>

    <div id="login-panel" class="view animate" ng-if="vm.currentView === vm.appView.Login">
      <div class="view-content" ng-include="'./assets/login.html'"></div>
    </div>

    <div id="search-panel" class="view animate"
         ng-class="{ 'search-bar-bottom': vm.settings.displaySearchBarBeneathResults }"
         ng-if="vm.currentView === vm.appView.Search">
      <div class="view-content" ng-include="'./assets/search.html'"></div>
    </div>

    <div id="bookmark-panel" class="view animate" ng-if="vm.currentView === vm.appView.Bookmark">
      <div class="view-content" ng-include="'./assets/bookmark.html'"></div>
    </div>

    <div id="settings-panel" class="view animate" ng-if="vm.currentView === vm.appView.Settings">
      <div class="view-content" ng-include="'./assets/settings.html'"></div>
    </div>

    <app-help class="view view-overlay animate" close="vm.displayMainView" ng-if="vm.currentView === vm.appView.Help">
    </app-help>

    <app-support class="view view-overlay animate" close="vm.displayMainView"
                 ng-if="vm.currentView === vm.appView.Support"></app-support>

    <app-updated class="view view-overlay animate" close="vm.closeUpdatedPanel" display-main-view="vm.displayMainView"
                 ng-if="vm.currentView === vm.appView.Updated">
    </app-updated>

    <app-permissions class="view view-overlay animate" close="vm.displayMainView"
                     ng-if="vm.currentView === vm.appView.Permissions">
    </app-permissions>

    <app-scan class="view animate" callback="vm.scanCompleted" close="vm.displayMainView"
              ng-if="vm.currentView === vm.appView.Scan"></app-scan>

    <app-qr class="darker-overlay animate-fade-in animate-fade-out" close="vm.closeQrPanel"
            service-url="vm.sync.service.url" sync-id="vm.sync.id" ng-if="vm.settings.displayQrPanel"></app-qr>
  </div>

  <div class="background animate" ng-if="vm.currentView !== undefined && vm.currentView !== vm.appView.Scan">
    <div class="background-img" ng-if="vm.currentView === vm.appView.Working || vm.currentView === vm.appView.Login || 
      vm.currentView === vm.appView.Support || vm.currentView === vm.appView.Permissions || 
      vm.currentView === vm.appView.Updated || vm.currentView === vm.appView.Help">
    </div>
  </div>
</div>
