@import "variables.scss";
@import "mixins.scss";
@import "animations.scss";

$window-width: 320px;
$window-height: 520px;
$search-window-width: 600px;

body {
  .background {
    min-height: $window-height;
  }

  .view {
    height: $window-height;
    width: $window-width;
  }
}

#search-panel {
  &.view {
    height: auto;
    width: $search-window-width;

    .view-content {
      max-height: $window-height;

      .header-panel {
        display: flex;
        flex-direction: row-reverse;

        .btn {
          flex: none;

          &.btn-settings {
            float: none;
          }
        }
      }
    }
  }
}

#settings-panel {
  .backup-restore-panel #restoreForm .validation {
    bottom: -0.75rem;
  }
}
