app-sync-removed {
  display: block;

  .file-downloaded {
    margin: 1rem 0 2rem;
  }

  .buttons button {
    display: block;
    margin: 0 auto 1rem;

    &:last-child {
      margin-right: auto;
    }
  }
}
