@import 'variables.scss';
@import 'mixins.scss';
@import 'animations.scss';

body {
    -webkit-overflow-scrolling: touch;

    .view {
        position: fixed;
    }
}

#bookmark-panel {
    .tags-container {
        flex: 1 0;
    }
}

#login-panel, #search-panel, #bookmark-panel, #settings-panel {
    padding-top: 30px;
}