@import 'variables.scss';
@import 'mixins.scss';
@import 'animations.scss';

html, body .view {
    height: 100%!important;
}

body {
    -webkit-overflow-scrolling: touch;

    .view {
        position: fixed;

        .view-content {
            padding-top: 1.5em!important;
        }
    }
}