@import 'variables.scss';

@font-face {
  font-family: 'FontAwesome';
  src: url('#{$fa-font-path}/fontawesome-webfont.eot');
  src: url('#{$fa-font-path}/fontawesome-webfont.eot') format('embedded-opentype'),
    url('#{$fa-font-path}/fontawesome-webfont.woff2') format('woff2'),
    url('#{$fa-font-path}/fontawesome-webfont.woff') format('woff'),
    url('#{$fa-font-path}/fontawesome-webfont.ttf') format('truetype'),
    url('#{$fa-font-path}/fontawesome-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
    @media (min-device-height: $height-iPhone6) {
        font-size: 16px;
    }
    
    @media (min-device-height: $height-iPhone6Plus) {
        font-size: 18px;
    }

    h1 {
        background-size: 5.5em;
        
        @media (min-device-height: $height-iPhone6) {
            background-size: 6.5em;
        }
    }

    button.btn {
        @media (min-device-height: $height-iPhone6Plus) {
            font-size: 18px;
        }

        &.btn-default:not([disabled]):focus {
            text-decoration: none;
        }

        &.btn-icon:focus {
            border-bottom: none;
        }
    }

    textarea.form-control {
        padding: 10px 20px;
    }

    .alert {
        position: absolute;
        z-index: 200;
    }

    .header-panel {
        margin-bottom: 15px;
    }

    .lookahead-container .lookahead:after {
        content: "\f0d0";
        font-family: "FontAwesome";
        font-size: 0.7em;
        margin-left: 5px;
    }

    .view {
        overflow-y: auto;
    }

    .well .btn.btn-default {
        font-size: 1em;
    }
}

#about-panel { 
    h1 {
        @media (max-device-height: $height-iPhone4) {
            background-size: 45%;
            background-position: 50% 10%;
        }
    }
    
    .well .contents {
        height: 13em;
    }
}

#loading-panel .content p {
    display: none;
}

#login-panel {
    input {
        @media (min-device-height: $height-iPhone5) {
            font-size: 1.1em;
        }
    }
    
    .intro-panel {
        & > div {
            @media (min-device-height: $height-iPhone6) {
                padding: 30px 40px;
            }
        }

        .buttons {
            @media (min-device-height: $height-iPhone6) {
                .btn-prev {
                    margin-left: 12px;
                }
                
                .btn-next {
                    margin-right: 12px;
                }
            }
        }
    }

    .secret-form-group {
        .progress, .progress-bar-background {
            @media (min-device-height: $height-iPhone5) {
                height: 41px;
            }

            @media (min-device-height: $height-iPhone6) {
                height: 2.65em;
            }
            
            @media (min-device-height: $height-iPhone6Plus) {
                height: 48px;
            }
        }
    }
}

#search-panel {
    .header-panel {
        .buttons {
            height: 1.8em;

            @media (max-device-width: $height-iPhone4 - 1) {
                position: static;
                margin: 0 0 15px;
            }

            @media (min-device-width: $height-iPhone4) {
                display: none;
            }

            @media (min-device-width: $width-tablet) {
                display: block;
            }

            button {
                bottom: auto;
                    
                &.btn-about {
                    @media (max-device-width: $height-iPhone4 - 1) {
                        display: block;
                    }
                }

                &.btn-toggle-bookmark {
                    right: 1.1em;
                    
                    @media (max-device-width: $width-tablet) {
                        left: 0;
                        right: auto;
                    }

                    i:before {
                        content: "\f02e";
                    }

                    i:after {
                        content: "\f067";
                        font-size: 0.35em;
                        color: $colour-bg2;
                        position: relative;
                        top: -0.9em;
                        left: -1.4em;
                        opacity: 1;
                    }
                }
            }
        }

        .search-form {
            @media (max-device-width: $width-tablet - 1) {
                width: 100%;
            }
        }
    }

    .search-results-panel {
        margin-top: 15px;
        
        .list-group-item {
            margin: 0 0 15px 0;

            &.active {
                &:hover {
                    .list-group-item-heading {
                        color: $colour-text2;
                    }
                }
            }

            a {
                padding: 15px 20px;
            }

            .btn-edit-bookmark {
                display: none!important;
            }

            .overlay {
                display: block;
            }
        }
    }

    .search-panel-background {
        display: block;

        @media (min-device-width: $height-iPhone4) and (orientation:landscape) {
            background-size: 20%;
            margin-top: 5%;
        }
    }
}

#bookmark-panel {
    .tags {
        .label {
            font-size: 1em;
            padding: 12px 15px;
            border-radius: 25px;
            margin: 0 6px 8px 0;
        }
    }

    .tags-form-group .lookahead-container .lookahead:after {
        font-size: 0.9em;
    }
}

#settings-panel {
    .backup-restore-panel #restoreForm {
        #backupContentsPanel {
            display: none;
        }

        #backupFilePanel {
            display: block;
        }
    }

    .sync-panel {
        .btn-syncOptions {
            display: none;
        }
        
        .buttons {
            margin: 15px 0;
        }
        
        .checkbox {
            display: none;
        }
        
        .chart-panel {
            @media (max-device-height: $height-iPhone5) {
                #chart {
                    height: 7em;
                    width: 7em;
                }

                .values {
                    font-size: 0.8em;
                    margin-top: -1.4em;
                }
            }

            @media (min-device-height: $height-iPhone6) {
                .values {
                    margin-top: -1em;
                }
            }
        }

        #syncDataUsage-Panel .buttons {
            margin-bottom: 0;
        }
    }
}


/* Heights */

html, body, .container, .view {
    height: 100%;
}

#bookmark-panel {
    textarea {
        height: 14em;
    }

    .tags {
        max-device-height: 5.5em;

        @media (min-device-height: $height-iPhone6) {
            max-device-height: 9.5em;
        }
    }
}

#login-panel .intro-panel {
    height: 18em;
}

#search-panel .search-results-panel {
    max-device-height: calc(100% - 7em);

    @media (min-device-height: $height-iPhone5) {
        max-device-height: calc(100% - 6.5em);
    }

    @media (min-device-height: $height-iPad) {
        max-device-height: calc(100% - 4em);
    }
}

#settings-panel .well .panel-content {
    height: 16.7em;
}