@import 'variables.scss';
@import 'mixins.scss';
@import 'animations.scss';

@font-face {
  font-family: 'FontAwesome';
  src: url('#{$fa-font-path}/fontawesome-webfont.eot');
  src: url('#{$fa-font-path}/fontawesome-webfont.eot') format('embedded-opentype'),
    url('#{$fa-font-path}/fontawesome-webfont.woff2') format('woff2'),
    url('#{$fa-font-path}/fontawesome-webfont.woff') format('woff'),
    url('#{$fa-font-path}/fontawesome-webfont.ttf') format('truetype'),
    url('#{$fa-font-path}/fontawesome-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {		
    @include css-prefix(user-select, none);		
    @include css-prefix(touch-callout, none);		
}

body, body .container, .view  {
    height: 100%;
}

body {
    @media (min-device-width: $width-mobile-small) {
        font-size: 15px;
    }

    @media (min-device-width: $width-mobile-medium) {
        font-size: 16px;
    }

    @media (min-device-width: $width-mobile-large) {
        font-size: 17px;
    }
    
    @media (min-device-width: $width-mobile-xlarge) {
        font-size: 18px;
    }

    h1 {
        background-size: 5.5em;
        
        @media (min-device-width: $width-mobile-xlarge) {
            background-size: 6.5em;
        }
    }

    button.btn {
        &.btn-default {
            &:not([disabled]):active:hover {
                background-color: $colour-text1;
                color: $colour-link-highlight;
                border-color: $colour-text1;
            }
            
            &:not([disabled]):hover {
                background-color: transparent;
                color: $colour-text1;
                border-color: $colour-text1;
            }

            &:not([disabled]):focus {
                text-decoration: none;
            }
        }

        &.btn-default:not([disabled]):focus {
            text-decoration: none;
        }

        &.btn-icon {
            &:active:hover {
                i {
                    opacity: 1;
                }
            }

            &:hover {
                i {
                    opacity: 0.4;
                }
            }
        }
    }

    input, textarea {		
        @include css-prefix(user-select, text);		
        @include css-prefix(touch-callout, default);		
    }

    textarea.form-control {
        padding: 10px 20px;
    }

    .alert {
        position: absolute;
        z-index: 200;
    }

    .lookahead-container .lookahead:after {
        content: "\f0d0";
        font-family: "FontAwesome";
        font-size: 0.7em;
        margin-left: 5px;
    }

    .view {
        .view-content {
            &.ng-enter {
                @include animation(animation-fade-in 0.2s linear);
                z-index: 10!important;
            }

            &.ng-leave {
                @include animation(animation-fade-out 0.2s linear);
                z-index: 20;
            }
        }
    }

    .well {
        .btn.btn-default {
            color: $colour-text2;
            border-color: $colour-text2;
            font-weight: normal;
            border-width: 1px;
            font-size: 1em;

            &:not([disabled]):active:hover {
                background-color: $colour-text2;
                color: $colour-link-highlight;
                border-color: $colour-text2;
            }

            &:not([disabled]):hover {
                background-color: transparent;
                color: $colour-text2;
                border-color: $colour-text2;
            }
        }
        
        .btn.btn-default {
            font-size: 1em;
        }
    }
}

#bookmark-panel {
    .btn-share-bookmark {
        display: inline-block;
    }
    
    .tags-container {
        flex: 0 1 auto;

        .label {
            padding: 0.6em 1em;
            border-radius: 25px;
            margin: 0 6px 8px 0;
        }
    }

    .tags-input-container .lookahead-container .lookahead:after {
        font-size: 0.9em;
    }

    .textarea-container {
        flex: none;
        height: 9em;

        @media (min-device-width: $width-mobile-medium) {
            height: 11em;
        }
    }
}

#login-panel {
    .btn-scan {
        display: block;

        i {
            @media (max-device-width: $width-mobile-medium - 1) {
                font-size: 2em;
            }
        }
        
        @media (max-device-width: $width-mobile-medium - 1) {
            top: 0.35em;
        }
    }

    .form-group input {
        @media (max-device-width: $width-mobile-medium - 1) {
            font-size: 1.1em;
        }
    }
    
    .intro-panel {
        & > div {
            @media (min-device-width: $width-mobile-xlarge) {
                padding: 25px 35px;
            }
        }

        .buttons {
            @media (min-device-width: $width-mobile-xlarge) {
                .btn-prev {
                    margin-left: 12px;
                }
                
                .btn-next {
                    margin-right: 12px;
                }
            }
        }
    }

    .secret-form-group {
        .progress, .progress-bar-background {
            @media (max-device-width: $width-mobile-medium - 1) {
                height: 2.5em;
            }
        }
    }
}

#search-panel {
    padding: 10px 10px 0;

    .view-content {
        padding: 0;

        .header-panel {
            padding-right: 0;

            .btn {
                &.btn-toggle-bookmark {
                    i:before {
                        content: "\f02e";
                    }

                    i:after {
                        content: "\f067";
                        font-size: 0.35em;
                        color: $colour-bg2;
                        position: relative;
                        top: -0.9em;
                        left: -1.4em;
                        opacity: 1;
                    }
                }
            }

            .search-form {
                width: 100%;
                margin-top: 5px;
            }
        }

        .search-results-panel {
            margin-top: 15px;
            padding-right: 0;
            height: 100%;

            & > h4 {
                margin: 10px;
            }

            .list-group-item {
                margin: 0 0 15px 0;

                &.active:hover, &:hover {
                    .list-group-item-heading {
                        color: $colour-text2;
                    }
                }

                a {
                    padding: 15px 20px;
                }

                .btn-edit-bookmark {
                    display: none!important;
                }

                .overlay {
                    display: block;
                }
            }

            .list-group-item-heading {
                transition: none;
            }
        }
    }
}

#settings-panel {
    .backup-restore-panel {
        #backupContentsPanel {
            display: none;
        }
    }
    
    .sync-panel {
        .btn-syncOptions {
            display: none;
        }
        
        .buttons {
            margin: 15px 0;
        }
        
        .checkbox {
            display: none;
        }

        #syncDataUsage-Panel .buttons {
            margin-bottom: 0;
        }
    }
}

#working-panel .content p {
    display: none;
}