@import '../../../styles/modules/all';

body {
  overflow: hidden;
}

app {
  .icon-button-container {
    icon-button {
      margin-top: -0.65em !important;

      & > div {
        height: 1.3em !important;
        width: 1.3em !important;
      }
    }
  }

  .container {
    &.search {
      .view,
      .view-content {
        max-height: 599px;
      }

      .view {
        height: auto;
        width: 38rem;

        .header-panel {
          flex-direction: row-reverse;
        }
      }
    }

    &.settings {
      backup-restore-settings {
        #restoreForm .validation {
          bottom: -0.75rem;
        }
      }

      .view,
      .view-content {
        max-height: 37rem;
      }
    }

    .view {
      height: 37rem;
      width: 23rem;
    }
  }

  .header-panel {
    height: 1.7rem;
  }
}

app-search {
  .btn-clear {
    margin-top: -0.6em;
    right: 0.5em;
  }
}
