@import '../../../styles/modules/all';

body {
  overflow: hidden;
}

.container {
  &.search,
  &.settings {
    .view,
    .view-content {
      max-height: 37rem;
    }
  }

  &.search {
    .view {
      height: auto;
      width: 38rem;

      .header-panel {
        display: flex;
        flex-direction: row-reverse;

        button {
          flex: none;

          &.btn-settings {
            float: none;
          }
        }
      }
    }
  }

  &.settings {
    backup-restore-settings {
      #restoreForm .validation {
        bottom: -0.75rem;
      }
    }
  }

  .view {
    height: 37rem;
    width: 23rem;
  }
}
