<div class="alert animate" role="alert" ng-class="{
  'alert-info': vm.alert.type === vm.alertType.Information,
  'alert-warning': vm.alert.type === vm.alertType.Warning,
  'alert-danger': vm.alert.type === vm.alertType.Error }" ng-if="vm.showAlert">
  <icon-button type="'x'" title="{{ vm.platformSvc.getI18nString(vm.Strings.Button.Close) }}"
               on-click="vm.utilitySvc.handleEvent(vm.close)" tab-index="1000"></icon-button>
  <h4 ng-bind-html="vm.alert.title"></h4>
  <p ng-bind-html="vm.alert.message"></p>
</div>
