@import '../../../../styles/modules/all';

preferences-settings {
  display: block;

  .setting-title {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.25rem;
    width: 100%;

    label {
      margin-bottom: 0;
    }
  }
}
