<div class="well well-sm">
  <h4>{{ vm.platformSvc.getI18nString(vm.Strings.View.Settings.Sync.Title) }}</h4>
  <div class="panel-content">
    <div class="form-group setting-group" ng-if="!vm.syncEnabled">
      <p class="description text-center"
         ng-bind-html="vm.platformSvc.getI18nString(vm.Strings.View.Settings.NotAvailable)">
      </p>
    </div>
    <div ng-if="vm.syncEnabled">
      <div class="form-group setting-group">
        <label>{{ vm.platformSvc.getI18nString(vm.Strings.View.Settings.Sync.Id.Label) }}</label>
        <div class="setting-value id-url">
          <a title="{{ vm.platformSvc.getI18nString(vm.Strings.View.Settings.Sync.Qr.Show) }}"
             ng-click="vm.utilitySvc.handleEvent(vm.displayQrPanel)" href="">{{ vm.syncId }}</a>
        </div>
        <p class="description">{{ vm.platformSvc.getI18nString(vm.Strings.View.Settings.Sync.Id.Description) }}</p>
      </div>
      <div class="form-group setting-group">
        <div class="buttons">
          <button class="btn btn-default" ng-click="vm.utilitySvc.handleEvent(vm.syncUpdates)"
                  ng-if="!vm.utilitySvc.isMobilePlatform(vm.platformSvc.platformName)"
                  ng-disabled="!vm.updatesAvailable">
            {{ vm.platformSvc.getI18nString(vm.Strings.View.Settings.Sync.UpdatesAvailable.Sync) }}
          </button>
          <button class="btn btn-default" ng-click="vm.utilitySvc.handleEvent(vm.disableSync)">
            {{ vm.platformSvc.getI18nString(vm.Strings.View.Settings.Sync.Disable) }}
          </button>
        </div>
        <div class="description updates-available"
             ng-if="vm.updatesAvailable !== undefined && !vm.utilitySvc.isMobilePlatform(vm.platformSvc.platformName)">
          <p ng-if="!vm.updatesAvailable">{{ vm.lastUpdated }}</p>
          <p ng-if="vm.updatesAvailable">{{ vm.nextUpdate }}.</p>
        </div>
      </div>
      <div class="form-group setting-group">
        <label>{{ vm.platformSvc.getI18nString(vm.Strings.View.Settings.Sync.Service) }}</label>
        <div class="setting-value service-url">
          <a href="{{ vm.serviceInfo.url }}" class="new-tab" title="{{ vm.serviceInfo.url }}">
            {{ vm.serviceInfo.url }}
          </a>
          <div class="status-icon">
            <div class="loading animate-fade-in"
                 ng-show="vm.serviceInfo.url !== undefined && vm.serviceInfo.status == null"
                 title="{{ vm.platformSvc.getI18nString(vm.Strings.Service.Status.Loading) }}">
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            </div>
            <div class="success animate-fade-in" ng-show="vm.serviceInfo.status === vm.apiServiceStatus.Online"
                 title="{{ vm.platformSvc.getI18nString(vm.Strings.Service.Status.Online) }}">
              <icon type="'check'" bold="true"></icon>
            </div>
            <div class="warning animate-fade-in" ng-show="vm.serviceInfo.status === vm.apiServiceStatus.NoNewSyncs"
                 title="{{ vm.platformSvc.getI18nString(vm.Strings.Service.Status.NoNewSyncs) }}">
              <icon type="'minus'" bold="true"></icon>
            </div>
            <div class="danger animate-fade-in" ng-show="vm.serviceInfo.status === vm.apiServiceStatus.Error"
                 title="{{ vm.platformSvc.getI18nString(vm.Strings.Service.Status.Error) }}">
              <icon type="'x'" bold="true"></icon>
            </div>
            <div class="danger animate-fade-in" ng-show="vm.serviceInfo.status === vm.apiServiceStatus.Offline"
                 title="{{ vm.platformSvc.getI18nString(vm.Strings.Service.Status.Offline) }}">
              <icon type="'x'" bold="true"></icon>
            </div>
          </div>
        </div>
        <div
             ng-if="vm.serviceInfo.message && vm.serviceInfo.status !== undefined && vm.serviceInfo.status !== vm.apiServiceStatus.Error">
          <p class="description service-message animate-fade-in" ng-if="vm.serviceInfo.message"
             ng-bind-html="vm.serviceInfo.message"></p>
        </div>
      </div>
      <div ng-if="vm.serviceInfo">
        <api-xbrowsersync-service-info service-info="vm.serviceInfo"
                                       ng-if="vm.selectedServiceType === vm.apiServiceType.xBrowserSync">
        </api-xbrowsersync-service-info>
      </div>
    </div>
  </div>
</div>

<qr-panel class="darker-overlay animate-fade-in animate-fade-out" close="vm.closeQrPanel" ng-if="vm.displayQr">
</qr-panel>
