@import '../../../../styles/modules/all';

sync-settings {
  .setting-group {
    .setting-value {
      &.id-url {
        display: block;
        font-family: $font-stack-code;
        font-size: 0.92rem;
        margin-bottom: 0.5rem;
        position: relative;
        text-align: center;
        width: 100%;
      }

      &.service-url {
        align-items: center;
        display: flex;
        justify-content: center;
        margin-bottom: 0.5rem;
        position: relative;

        & > a {
          @include text-overflow-ellipsis;
        }

        .status-icon {
          margin-left: 0.25rem;
        }
      }
    }

    .updates-available {
      font-size: 0.9rem;
      font-style: italic;
      text-align: center;
    }
  }
}
