@import '../../../../styles/modules/all';

sync-settings {
  display: block;

  .setting-group {
    .max,
    .used {
      font-size: 0.8rem;
      margin-top: -1.5rem;
      position: absolute;

      @include theme-dark {
        color: $colour-text2-dark;
      }
    }

    .max {
      color: $colour-text2-default;
      right: 0;
    }

    .progress {
      background-color: darken($colour-bg2-default, 50%);
      border-radius: 1rem;
      height: 0.45rem;
      margin: 0.25rem 0 1.5rem;
      overflow: visible;

      @include theme-dark {
        background-color: $colour-bg1-dark;
      }

      .progress-bar {
        background-color: $colour-bg2-default;
        border-bottom-left-radius: 1rem;
        border-top-left-radius: 1rem;

        @include theme-dark {
          background-color: $colour-text3-dark;
        }
      }
    }

    .setting-value {
      &.id-url {
        display: block;
        font-family: $font-stack-code;
        font-size: 0.92rem;
        margin-bottom: 0.5rem;
        position: relative;
        text-align: center;
        width: 100%;
      }

      &.service-url {
        display: flex;
        justify-content: center;
        margin-bottom: 0.5rem;
        position: relative;

        & > a {
          @include text-overflow-ellipsis;
        }

        .status-icon {
          margin-left: 0.25rem;
          top: 0.1rem;
        }
      }
    }

    .service-message {
      max-height: 7rem;
    }

    .used {
      color: $colour-bg2-default;
      left: 0;
    }

    .updates-available {
      font-size: 0.9rem;
      font-style: italic;
      text-align: center;
    }
  }
}
