<div>
  <button id="support" type="button" class="btn btn-default"
          ng-click="vm.utilitySvc.handleEvent(vm.switchToSupportView)">
    {{ vm.platformSvc.getI18nString(vm.Strings.View.Settings.Support) }}
  </button>
</div>
<div>
  {{ vm.platformSvc.getI18nString(vm.Strings.View.Settings.AppVersion) }}
  <a class="new-tab" href="#" title="{{ vm.platformSvc.getI18nString(vm.Strings.Button.ReleaseNotes) }}"
     ng-click="vm.utilitySvc.handleEvent(vm.displayReleaseNotes)">{{ vm.appVersion }}</a>
</div>
