@import '../../../../styles/modules/all';

about-settings {
  --color-settings-about-link-hover: #{$color-text2-default};

  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 2rem 0;

  @include theme-dark {
    --color-settings-about-link-hover: #{$color-text1-dark};
  }

  button.btn.btn-default {
    margin-bottom: 1rem;
    text-transform: none;
  }

  @media (hover: hover) {
    a {
      &:active,
      &:focus,
      &:hover {
        border-bottom-color: var(--color-settings-about-link-hover);
        color: var(--color-settings-about-link-hover);
      }
    }
  }
}
