@import '../../../../styles/modules/all';

about-settings {
  display: block;

  .buttons {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;

    button {
      margin-right: 0;

      &#support {
        text-transform: none;
      }
    }
  }
}
