name: Build

on:
  pull_request:
    paths-ignore:
      - '**.md'
      - '.github/workflows/**.yml'
      - 'res/strings/*.json'
  push:
    paths-ignore:
      - '**.md'
      - '.github/workflows/**.yml'
      - 'res/strings/*.json'
  workflow_dispatch:

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v1
        with:
          node-version: 14

      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: npm run test -- --coverage

      - name: Coveralls
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

  build:
    name: Build platforms
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v1
        with:
          node-version: 14

      - uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: '8'

      - uses: android-actions/setup-android@v2

      - name: Install cordova
        run: |
          npm install -g cordova@9.0.0
          pushd res/android
          cordova telemetry off
          cordova prepare
          popd

      - name: Install dependencies
        run: npm install

      - name: Build platform:chromium
        run: npm run build:chromium

      - name: Build platform:firefox
        run: npm run build:firefox

      - name: Build platform:android
        run: |
          npm run build:android
          cd build/android
          cordova build android
