@import '../../../../styles/modules/all';

bookmark {
  @include box-shadow;

  border: none;
  border-radius: $border-radius-well;
  display: block;
  margin: 0 0 0.75rem;
  max-height: 25rem;
  overflow: hidden;
  padding: 0;
  position: relative;
  transition: max-height 1s cubic-bezier(0, 1, 0, 1);

  @include theme-dark {
    .menu {
      background-color: rgba($colour-bg1-dark, 0.5);

      button {
        background-color: $colour-text3-dark;
        color: $colour-text1-dark;
      }
    }
  }

  &.ng-leave.ng-leave-active {
    margin-bottom: 0;
    max-height: 0;
    opacity: 0;
  }

  &.folder {
    box-shadow: none;
    color: $colour-text1-default;
    max-height: none;
    transition: background-color ease-in-out 0.2s;

    &.open {
      & > .bookmark-content > .bookmark-heading {
        margin-bottom: 0.75rem;

        &::before {
          @include icon('\f07c');
        }

        @media (hover: hover) {
          &:hover::after {
            @include icon('\f106');
          }
        }
      }
    }

    & > .bookmark-content {
      background-color: rgba($colour-text2-default, 0.3);
      padding: 0.5rem 1rem;

      & > .bookmark-heading {
        color: $colour-text1-default;
        margin-right: 0;
        padding-left: 1.75rem;
        padding-right: 1.5rem;

        &::before {
          @include icon('\f07b');
          @include valign;

          left: 0;
        }

        &::after {
          @include icon('\f107');
          @include valign;

          color: $colour-bg2-default;
          font-size: 1.3em;
          opacity: 0;
          right: 0;
        }

        @media (hover: hover) {
          &:hover {
            cursor: pointer;

            &:not(.opening)::after {
              opacity: 0.6;
            }
          }
        }
      }

      .empty {
        font-style: italic;
        margin: 0.25rem 0 0;
        text-align: center;
      }

      .spinner-border {
        @include valign;

        opacity: 0.6;
        right: 0;
      }
    }

    @media (hover: hover) {
      &:hover {
        cursor: default;
      }
    }
  }

  .bookmark-content {
    background-color: $colour-bg3-default;
    border-radius: $border-radius-well;
    padding: 0.5rem 1rem 0.75rem;
    transition: background-color ease-in-out 0.2s;

    .bookmark-heading {
      @include text-overflow-ellipsis;

      color: $colour-text2-default;
      font-size: 1.2rem;
      font-weight: normal;
      line-height: 1.75rem;
      margin-bottom: 0;
      margin-right: 1.5rem;
      position: relative;
      transition: color ease-in-out 0.2s;
    }

    .bookmark-text {
      color: $colour-text2-default;

      .description {
        font-size: 0.9rem;
        font-style: italic;
        line-height: 1.15rem;
      }

      .url {
        color: $colour-text3-default;
        font-size: 0.85rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
      }
    }
  }

  button.btn-edit-bookmark {
    font-size: 1.1rem;
    opacity: 0;
    position: absolute;
    right: 1rem;
    top: 0.5rem;

    @media (hover: hover) {
      &:hover {
        opacity: 1;
      }
    }
  }

  .menu {
    align-items: center;
    background-color: rgba($colour-text2-default, 0.8);
    border-radius: $border-radius-well;
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    position: absolute;
    text-align: center;
    user-select: none;
    width: 100%;
    z-index: 60;

    button {
      background-color: $colour-bg3-default;
      color: $colour-text2-default;
      position: static;

      &.btn-delete-bookmark {
        background-color: $colour-danger;
        color: $colour-text1-default;
      }
    }
  }

  .separator {
    background-color: rgba($colour-text2-default, 0.15);
    box-shadow: none;
    height: 0.5rem;

    @media (hover: hover) {
      &:hover {
        cursor: default;
      }
    }
  }

  @media (hover: hover) {
    &:focus,
    &:hover {
      & > .bookmark-content {
        background-color: scale-color($colour-bg2-default, $lightness: 70%, $saturation: 50%);
      }
    }

    &:hover {
      cursor: pointer;

      & > .btn-edit-bookmark {
        opacity: 0.4;
      }
    }
  }
}
